/* Banner Style */
	.banner-style2 {
		text-align:center;
		border:20px solid #f0fafd;
		.text-wrapper {
			.top {
				color: #666666;
				letter-spacing: 1.5px;
				margin-bottom: 15px;
			}
			.bottom {
				line-height: 1.5;
				color:#292b2c;
				margin-bottom:25px;
			}
			.btn {
				background:#000;
				color:#fff;
				&:hover {
					opacity:0.6;
				}
			}
		}
	}

	.banner-style3 {
		.text-wrapper {
			color:#292b2c;
			position:absolute;
			left:0;
			top:0;
			padding:10px;
			width:100%;
		}
		.large-text {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 0;
			line-height:1.1;
		}
		.btn-shop {
			color:#000;
			text-decoration:underline;
			text-transform:uppercase;
		}
	}

	.banner-style4 {
		&.left {
			.html-content {
				text-align:left;
			}
			.text-wrapper {
				left:30px;
			}
		}
		.html-content {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			text-align:center;
		}
		.text-wrapper {
			display:inline-block;
			background:rgba(0, 0, 0, 0.6);
			padding:15px 30px;
			color:#fff;
			bottom:30px;
			position:relative;
		}
		.large-text {
			border-bottom: 1px solid #fff;
			font-family: "Lora","sans-serif";
			font-size: 24px;
			font-style: italic;
			margin-bottom: 8px;
			line-height:1.5;
		}
		.small-text {
			line-height:1.2;
		}
	}

	.banner-style5 {
		.html-content {
			position:absolute;
			left:0;
			bottom:0;
			background:rgba(0,0,0,0.4);
			width:100%;
			height:100%;
			@include flex();
			@include align-items(end);
			@include justify-content(center);
		}
		.text-wrapper {
			text-transform:uppercase;
			color:#fff;
			font-weight:700;
			text-align:center;
			font-size:28px;
			line-height:1.2;
			position:relative;
			bottom:20px;
		}
	}
	
	.banner-style6 {
		.html-content {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			@include flex();
			@include align-items(center);
			@include justify-content(center);
			font-family: 'Satisfy', cursive;

			color: #fff;
			font-size: 50px;
			line-height:1.4;
			text-shadow: 0 0 5px #191212;
		}
	}

	.banner-style7 {
		.html-content {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			@include flex();
			@include align-items(center);
			padding-left:50px;
		}
		.small-text {
			color: #bc9c72;
			display: block;
			font-family: "Italianno";
			font-size: 28px;
			margin-bottom: 5px;
			line-height:1.2;
		}
		.large-text {
			color: #fff;
			font-family: "lora";
			font-size: 28px;
			margin-bottom: 15px;
			text-transform: uppercase;
			line-height:1.4;
		}
		.price {
			color: #bc9c72;
			display: inline-block;
			font-family: "lora";
			font-size: 26px;
			margin-right: 20px;
			vertical-align: middle;
		}
		.btn {
			background:transparent;
			border:1px solid #fff;
			color:#fff;
			&:hover {
				background:#bc9c72;
			}
		}
	}

	.banner-text {
		text-align:center;
		padding:33px 0;
		.large-text {
			color: #fff;
			font-family: "Lora","sans-serif";
			font-size: 22px;
			letter-spacing: 1.5px;
			margin-bottom: 5px;
			text-transform:uppercase;
		}
		.small-text {
			color: #fff;
			display: block;
			margin-bottom: 0;
		}
	}
	.category-item {
		.cat-info-wrapper {
			text-align:center;
			color:#292b2c;
		}
		.cat-name {
			font-size: 24px;
			font-weight: 700;
			line-height: 34px;
			margin-bottom: 8px;
			padding-top: 8px;
		}
		.cat-desc {
			line-height:1.5;
			margin-bottom:16px;
		}
		.read-more {
			color: #212121;
			text-decoration: underline;
		}
	}
/* ------   */