/* Color Active*/
  .languages-info .dropdown-menu li a:hover {
    background: none;
    color: $active-color5; 
  }
  .languages-info .dropdown-menu li.selected {
   color: $active-color5; 
  }
  .currency-info li.selected a {
   color: $active-color5; 
  }
  .currency-info li a:hover {
    color: $active-color5; 
  }
  .btn-hover:hover {
    background:$active-color5 !important;
    color:#fff !important;
  }
  a:hover, a:focus {
    color: $active-color5;
  }
  .checkout-info .cart-button > a {
   border: 1px solid $active-color5;
    color:$active-color5;
  }
  .cart-wrap .description .price-quantity {
    color: $active-color5;
  }
  .checkout-info .label, .checkout-info .pull-right {
    color: $active-color5;
  }
  .jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
  .jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
    color: $active-color5 !important;
  }
  
#off-canvas-title {
  background: $active-color5;
}
#off-canvas-menu ul.nav > li > a:hover {
  color: $active-color5;
}
.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: $active-color5;
}
.btn, .btn-default {
  color:$active-color5;
  border:1px solid $active-color5;
}
.btn, .btn-default {
  &.btn-active {
    background:$active-color5;
    color:#fff;
  }
}
.btn:hover, .btn-default:hover {
  color:#fff;
  background:$active-color5;
}
.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: $active-color5;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  box-shadow: none;
  border-color: $active-color5; }
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: $active-color5;
}
ul#order_step li {
  background: $active-color5;
}
ul#order_step li.step_current {
  border: 1px solid $active-color5; 
}

.widget-categories li a:hover{
  color: $active-color5;
}

#attributes .attribute_list #color_to_pick_list li.selected a span{
        border:3px solid $active-color5;
}

.footer-list ul li a:hover {
  color:$active-color5;
}
.footer-list-bottom ul > li > a:hover:after {
  background:$active-color5;
}

.ui-slider-horizontal .ui-slider-handle {
  background:$active-color5 !important;
}

#view_scroll_left:hover, #view_scroll_right:hover {
  color:#fff;
  background:$active-color5;
  border:1px solid $active-color5;
}
.page-list li.current a {
  background:$active-color5;
  color:#fff;
}

.owl-dot.active span {
  background:$active-color5;
}
/* CMS */
.service_bg .feature-box-el i:hover {
  border:2px solid $active-color5;
}
.tabs.tab_one .nav-tabs > li.active > a::before {
  background: $active-color5;
}
.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid $active-color5;
}
.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: $active-color5;
}

/* ADV Search */
  .home1 {
    #ajax_search {
      border-left:1px solid $active-color5;
      border-top:1px solid $active-color5;
      border-bottom:1px solid $active-color5;
    }
    #selector_cat {
      border-top:1px solid $active-color5;
      border-bottom:1px solid $active-color5;
    }
    .jms-adv-search .input-group-search button{
      background:$active-color5;
    }
  }
/* -------- */
.slider2-button .btn-shop {
  background:$active-color5;
  color:#fff;
}
.slider2-button .btn-shop:hover {
  background:#51ab00;
}
/* Ver menu */
.vermenu-wrapper .ver-btn {
  background:$active-color5;
}
.vermenu-wrapper .dropdown-box {
  border:1px solid $active-color5;
}
.vermenu-wrapper .dropdown-box:before {
  border-color: transparent transparent $active-color5;
}
/* Adv search*/
#search_result .result_div .price {
  color:$active-color5;
}
/* Slider */
.slider1-button .btn-shop {
  border:1px solid $active-color5;
  color:$active-color5;
}
.fs-pager-wrapper a.active {
  border:4px solid $active-color5;
}
/* Banners */
  .banner-style1 .active-text {
    color:$active-color5;
  }
  .banner-style3 .large-text span, .banner-style3 .small-text {
    color:$active-color5;
  }
  .banner-style7 .large-text {
    color:$active-color5;
  }
  .banner-style8 .text-black {
    color:$active-color5;
  }
  .banner-style15 .btn-shop i {
    background:$active-color5;;
  }
  .banner-style15 .sale-text span {
    color:$active-color5;
  }
  .banner-style16 .sale-text {
    color:$active-color5;
  }
/* ------ */

/* Block Cart */
  .price-content .price {
    color:$active-color5;
  }
  #button_order_cart {
    background:$active-color5;
  }
/* --- */
.img-menu a i {
  background:$active-color5;
}
.jms-vermegamenu .mega-style1 .ver-img a, .jms-vermegamenu .mega-style1 .ver-img a:hover {
  background:$active-color5;
}
/* Hot Deals */
  .label-hot {
    border-bottom: 50px solid $active-color5;
  }
  .hotdeal-box .content_price .new {
    color:#58ba00;
  }
/* ------ */
/* Tab */
  .jms-tab .nav-tabs > li > a.active::before {
    background:$active-color5;
  }
  .jms-tab .nav-tabs > li > a.active::after {
    border-bottom:6px solid $active-color5;
  }
/* ------ */
/* Product Box */
  .product-preview .quick-view:hover {
    background:$active-color5;
    color:#fff;
  }
  .product-preview .addToWishlist:hover {
    background:$active-color5;
    color:#fff;
  }
  .product-preview .content_price .new {
    color:#58ba00;
  }
/* ------ */
.owl-theme .owl-controls div.owl-prev:hover, .owl-theme .owl-controls div.owl-next:hover {
  background-color:$active-color5;
}
/* Services */
  .service-style1 .icon-box {
    color:$active-color5;
  }
/* ------ */
/* Blog */
  .blog-box .post-created::before {
    background:$active-color5;
  }
/* ------ */
.copy-right {
  span ,a {
    color:$active-color5;
  }
}

.countdown-box .content-price .new {
  color:#58ba00;
}
/* Home 5 */
  .banner-style13 .btn-shop i { 
    background:$active-color5;
  }
  .banner-topselling .product-preview .btn-shop {
    background:$active-color5;
  }
  .banner-style14 .btn-shop {
    background:$active-color5;
  }
  .testimonial-wrapper .info_people .testimonial-img {
    border:2px solid $active-color5;
  }
  .testimonial-wrapper .info_people .testimonial-author {
    color:$active-color5;
  }
  .banner-style17 .btn-shop i {
    background:$active-color5;
  }
  .banner-style17 .small-text span {
    color:$active-color5;
  }
  .jms-adv-search .input-group-search button {
    background:$active-color5;
  }
  .header-bottom {
    background:$active-color5;
  }
  .banner-style18 .large-text {
    color:$active-color5;
  }
  .banner-style19 .large-text span {
    color:$active-color5;
  }
  .footer-newsletter #newsletter_block_left .title h3::before {
    color:$active-color5;
  }
  .footer-newsletter #newsletter_block_left .form-group .newsletter-input {
    border:2px solid $active-color5;
    border-right:none;
  }
  .footer-newsletter #newsletter_block_left .form-group button {
    background:$active-color5;
  }
  .contact-info-wrapper.style2 .contact-info ul li i {
    color:$active-color5;
  }
/* ------ */
.facet li .facet-label .magnitude {
    color:$active-color5;
  }
   .html_left .btn-shop-now {
    background:$active-color5;
  }

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
  background-color: $active-color5 !important;
  border-color: $active-color5 !important;
  color: #fff !important;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover {
  background:$active-color5 !important;
  color: #fff !important;
}

.view-modes > a.active {
  border-color: $active-color5 !important;
  color:$active-color5;
}

.product_list.products-list-in-row .product-preview .quick-view {
  border:1px solid $active-color5;
}

.product_list.products-list-in-row .product-preview .bottom-box a:hover {
  color:$active-color5;
}
.header-center .jms-adv-search .ic-search {
  color:$active-color5;
}

.pd-right-content .quantity-cart #add_to_cart {
  background:$active-color5;
  border:1px solid $active-color5;
  color:#fff;
}

.accessories_block .products_category .owl-theme .owl-controls div.owl-prev:hover {
  background-image: url("../img/icon/prev_active5.png");
}
.accessories_block .products_category .owl-theme .owl-controls div.owl-next:hover {
  background-image: url("../img/icon/next_active5.png");
}

.jms-megamenu .mega-nav li > a:hover, .jms-megamenu .nav > .item-fullwidth .mega-nav li > a:hover {
  color:$active-color5;
}

.bottom-list ul li a:hover {
  color:$active-color5;
}

.tags_block .tags_content a:hover {
  color:$active-color5;
}

.jms-vermegamenu .mega-nav li > a:hover, 
.jms-vermegamenu .mega-nav li.group > a:hover, 
.jms-megamenu .nav > li.open > a,
.jms-megamenu .nav > li > a:hover, 
.jms-vermegamenu .nav > li > a:hover, 
.jms-vermegamenu .nav > li.more > a:hover {
  color:$active-color5;
}

.hotdeal-wrapper .action-box a:hover {
  border:1px solid $active-color5;
}

.pd-left-content .images-container .thumb-list li img.slected {
  border: 1px solid $active-color5;
}

.group-span-filestyle > label {
  background:$active-color5;
  color:#fff;
  border:none;
}