@media(max-width:1366px) {
	#jmstools {
		top: 46px !important;
	}
}
@media (max-width: 1199px){
	.modal-dialog.cover_product1 {
		width: 975px;
	}

	.cart-grid-right .right-box {
		margin:30px 0;
	}
}

@media (max-width:991px) {
	/* ------ */
	
	.modal-dialog.cover_product1 {
		width: 750px;
	}
	.modal-dialog.cover_product1 .product-quantity .add {
		margin-top: 0px;
	}
	#blockcart-modal .divide-right{
		border-right:0;
	}
	#blockcart-modal .cart-content {
		padding-left: 0;
	}
	#blockcart-modal .product-name{
		margin-top:30px;
	}
}

@media (max-width:767px) {
	.container {
	   padding-left:15px;
	   padding-right:15px;
   	}
   	.back-to-top {
   		display:none !important;
   	}
}

@media(max-width:360px) {

}
