@import "product.css";
@import "product-list.css";
@import "authenication.css";
@import "cart.css";
@import "checkout.css";
@import "order-confirmation.css";
@import "stores.css";
@import "contact.css";
@import "pagenotfound.css";
@import "identity.css";
@import "my-account.css";
@import "addresses.css";
@import "history.css";
@import "order-slip.css";
@import "manufacturer.css";
@import "password.css";
@import "sitemap.css";
@import "cms.css";
@import "order-detail.css";
@charset "UTF-8";

html, html a {
  -webkit-font-smoothing: antialiased; }

html {
  -ms-overflow-style: scrollbar; 
}
@import 'mixin';
@import 'varians';

body {
  font-size: 14px;
  color:#292b2c;
  font-family:"Karla", sans-serif;
  line-height:1.7;
  font-weight:400;
  background:#fff;
 }
.main-site {
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 1140px;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left:0;
  padding-right:0;
  > .row {
    margin-left:0;
    margin-right:0;
  }
  .layout-column {
    padding-left:0;
    padding-right:0;
  }
}

body.content_only {
  padding: 30px 15px;
  margin: 0 !important; 
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  padding: 0px;
  margin: 0px; 

}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #333;
  text-decoration: none;
  outline: none; 
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  &:active, &:focus {
    text-decoration: none;
    outline: none;
  }
}
input {
  outline: 0;
  outline-style: none;
  outline-width: 0; 
}

img {
  vertical-align: middle; }

th,
td {
  line-height: 20px;
  text-align: left;
  vertical-align: top; }

th {
  font-weight: 500; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.wrap {
  width: auto;
  clear: both; }

.center,
.table td.center,
.table th.center {
  text-align: center; }

table th {
  font-weight: 500 !important; 
}

.success {
  background: none repeat scroll 0 0 #43B754;
  border: 1px solid #43B754;
  font-size: 1em;
  margin: 0 0 10px;
  padding: 10px;
  color: #FFFFFF;
  font-weight: 500; 
}

.warning,
.alert-warning,
.warning_inline {
  background-color: #FCF8E3;
  border-color: #E4752B;
  color: #8A6D3B; 
}
.warning,
.alert {
  border: 1px solid transparent;
  border-radius: 0;
  margin: 10px 0;
  padding: 10px; 
}
.error {
  background: none repeat scroll 0 0 #FFCCCC;
  border: 1px solid #990000;
  font-size: 100%;
  margin: 0 0 10px;
  padding: 10px;
  font-weight: bold; 
}
.error ol {
  margin-left: 20px; 
}

ol, ul {
  list-style: none outside none; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 1.15em;
  font-weight: 200;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 1.5em; 
  } 
}
small {
  font-size: 0.96em; }

cite {
  font-style: normal; }

.text-primary {
  color: #f2735a; }

.text-warning {
  color: #c09853; }

.text-danger {
  color: #b94a48; }

.text-success {
  color: #468847; }

.text-info {
  color: #3a87ad; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px; 
}

.align-left {
  text-align: left; 
}

.align-right {
  text-align: right; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: inherit;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
    font-weight:700;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}

.page-heading {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 0px 17px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  overflow: hidden; 
}

.page-subheading {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
  font-size: 17px; 
}

label {
  margin-bottom: 10px;
  font-weight: 400; 
}

.label {
  color:#525252;
  font-size:15px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #010101; }

abbr.initialism {
  font-size: 0.9em;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee; 
  p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25;
  }
  p:last-child {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: 20px;
    color: #010101;
  }
  small:before {
    content: '\2014 \00A0';
  }
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0; 
  p, small {
    text-align: right;
  }
  small:before {
    content: '';
  }
  small:after {
    content: '\00A0 \2014';
  }
}
q:before, q:after, blockquote:before, blockquote:after {
  content: ""; 
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; 
}
code, kbd, pre, samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; 
}
.page-header {
  margin-top: 0px; 
}
.btn-actions {
  text-align: center; 
}
.dropcap {
  display: block;
  float: left;
  margin: -2px 5px 0 0;
  padding: 0 10px;
  color: #000;
  font: 49px/16px Arial, Helvetica, sans-serif;
  line-height:1;
}

.dropcap.color {
  color: #000000; }

.dropcap.dark {
  color: #fff;
  background-color: #000000; }

.styled-list {
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  line-height: 18px; 
  ul{
    margin-left: 0;
    padding: 5px 0 0;
      li {
      margin-bottom: 6px;
      padding: 0;
      span {
        display: block;
        overflow: hidden;
      }
      i {
        width: 16px;
        float: left;
        margin-right: 10px;
        text-align: center;
        color: #000;
        font-size: 1.07em;
      }
    }
    li:before {
      color: #000000;
      float: left;
    }
  }
}

.styled-list .circle li, .styled-list.circle li {
  text-indent: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.styled-list .circle li:before, .styled-list.circle li:before {
  content: "\25CF";
  margin: -1px 10px 0 0;
  font-size: 0.92em; }

.styled-list.arrow {
  > li{
    margin-left: -15px;
    padding-left: 35px; 
  }
  li:before {
    margin: -1px 8px 0 -20px;
    content: "\f18e";
    font-family: FontAwesome;
    font-size: 1.23em;
  }
}
.styled-list ul.circle li:before {
  content: "\25CB";
  color: #000000; }

ul.sitemap.styled-list.circle ul li:before {
  content: "●"; }

ul.sitemap.styled-list.circle ul ul li:before {
  content: "○"; }

.styled-list.checkmark > li {
  margin-left: -15px;
  padding-left: 35px;
  margin-bottom: 10px; }

.styled-list.checkmark > li:before {
  margin: -1px 8px 0 -20px;
  content: '\e013';
  font-family: FontAwesome;
  font-size: 1.23em; }

.styled-list.decimal {
  list-style: decimal outside;
  margin-left: 25px; }

.styled-list.decimal li {
  padding-left: 0;
  text-indent: 0; }

.mark {
  background: #d9d9d9;
  padding: 2px 2px 0; }

.color_mark {
  background-color: #000000;
  color: #fff;
  padding: 2px 2px 0; }

.color, .color:hover {
  color: #000000; }

.underline {
  text-decoration: underline; }

.underline:hover {
  text-decoration: none; }

.blockquote {
  position: relative;
  border-top: 4px solid #000000; }

.blockquote .inside {
  padding: 15px;
  border: 1px solid #eaeaea; }

.testimonials {
  position: relative; 
  .inside {
    padding: 15px 15px 15px 114px;
    border: 1px solid #eaeaea;
    position: relative;
  }
  .inside :before {
    display: block;
    position: absolute;
   top: 18px;
    left: 20px;
    color: #fff;
    border-radius: 50%;
    background: #ececec;
    text-align: center;
    content: "\f007";
    font-family: FontAwesome;
    font-size: 3.53em;
    line-height: 1.52;
    width: 77px;
    height: 77px;
  }
}
.infobox {
  border: 1px solid #000000; 
  .inside {
    padding: 15px 15px 15px 84px;
    position: relative;
  }
  .inside :before {
    infobox: block;
    position: absolute;
    top: 16px;
    left: 16px;
    color: #000000;
    content: "\f05a";
    font-family: FontAwesome;
    font-size: 3.61em;
    line-height: 0.76;
  }
}
.comment {
  position: relative;
  color: #333; 
  .inside {
    padding: 30px 15px 30px 100px;
    border-top: 1px solid #eaeaea;
    position: relative;
  }
  .comment .inside :before {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
    color: #fff;
    border-radius: 50%;
    background: #ececec;
    text-align: center;
    content: "\f007";
    font-family: FontAwesome;
    font-size: 5.07em;
    line-height: 19px;
    width: 77px;
    height: 77px;
  }
  a {
    color: #00B2BA;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 0.112px;
  }
  .comment {
    padding-left: 10%;
  }
  .comments > .comment:first-child {
    padding-left: 0;
    .inside {
      border: none;
    }
  }
}

.icon-circle {
  background: #e2e2e2;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 101px;
  width: 101px;
  margin: 10px auto 15px; }

.icon-circle .fa {
  font-size: 6em;
  line-height: 25px; }

.icon-circle .fa-plane {
  font-size: 4.3em;
  line-height: 2.77; }

.icon-circle-sm.active, .icon-circle-xs.active, .icon-circle.active {
  background: #000000; }

.icon-circle-sm {
  background: #e2e2e2;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  height: 62px;
  width: 62px;
  margin: 0 20px 10px 0;
  text-align: center; }

.icon-circle-sm .fa {
  font-size: 3.69em;
  line-height: 1.92; }

.icon-circle-sm .fa-plane {
  font-size: 2.65em;
  line-height: 2.76; }

.icon-circle-xs {
  background: #e2e2e2;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  height: 46px;
  width: 46px;
  margin: 0 3px 10px 0;
  text-align: center; }

.icon-circle-xs .fa {
  font-size: 2.15em;
  line-height: 2.5;
  color: #fff !important; }

.icons-set {
  line-height: 32px;
  color: #000;
  margin: 10px 0; }

.icons-set span span {
  font-size: 1.46em;
  color: #000 !important; }

.icons-set span span:before {
  padding-top: 3px;
  display: block;
  float: left;
  margin-right: 4px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox,
.form-control {
  border-radius: 0px;
  border-color: #eee; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

select:-moz-placeholder,
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.inputbox:-moz-placeholder,
.form-control:-moz-placeholder {
  color: #010101; }

select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder,
.form-control::-moz-placeholder {
  color: #010101;
  opacity: 1; }

select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color:rgba(40,33,31,0.5); }

select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #010101; }

textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox,
textarea.form-control {
  height: auto;
  padding: 5px 10px; }

.form-group {
  margin-bottom: 20px; }

.radio label,
.checkbox label {
  display: inline-block;
  font-weight: 300;
  min-height: auto; }

.form-control-static {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block; }

  .form-inline .form-control {
    display: inline-block; }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none; } }
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  display: inline; }

.form-group.date-time-select .col-sm-6 > div {
  display: inline-block;
  margin-right: 30px; }

.checkbox-margin input[type="checkbox"] {
  margin: 6px 0 0 0;
  display: inline-block; }

.form-horizontal .form-control-static {
  padding-top: 7px; }

.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #262626; }

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #1f1f1f;
  border-color: #080808; }

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none; }

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #262626; }

.btn-inverse .badge {
  color: #333333;
  background-color: #ffffff; }

.btn-block + .btn-block {
  margin-top: 5px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox {
  box-shadow: none; }



select:-moz-placeholder,
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.inputbox:-moz-placeholder {
  color: #010101; }

select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: rgba(40,33,31,0.5);
  }

select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: rgba(40,33,31,0.5);
}

select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: rgba(40,33,31,0.5);
}

textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto; }

select,
select.form-control,
select.inputbox,
select.input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #eee;
  box-shadow: none;
  min-width: 120px;
  padding-right: 5px;
  width: auto; }

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  box-shadow: none; }

.input-append .active,
.input-prepend .active {
  background-color: #bbff33;
  border-color: #669900; }

.form-control {
  height: 40px;
  line-height: 40px;
  border: 1px solid #eee;
  padding: 0 10px; }

textarea.form-control {
  padding: 5px 10px;
  box-shadow: none;
  line-height: 25px; }
  textarea.form-control:focus {
    box-shadow: none; }

/********* TABLES ********/
table.std, table.table_block {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
  width: 100%; }
table.std, table.table_block {
    td {
          border-bottom: 1px solid #E5E5E5;
          border-right: 1px solid #E5E5E5;
          padding: 10px;
          vertical-align: top;
        } 
}
.table {
    width: 100%;
    margin-bottom: 30px; 
    th,td {
      padding: 9px 10px;
      text-align: center;
    }
    thead, tbody, tfoot {
        >tr {
            >th, >td {
              line-height: 1.42857;
              vertical-align: top;
              border-bottom: none; 
              text-align:center;
            }
            >th.active, >td.active {
              background-color: whitesmoke;
            }
            >th.success, >td.success {
              background-color: #55c65e;
              border-color: #48b151;
            }
            >th.danger, >td.danger {
              background-color: #f3515c;
              border-color: #d4323d;
            }
            >th.warning, >td.warning {
              background-color: #fe9126;
              border-color: #e4752b;
            }
        }
        >tr.active {
          >th, >td {
            background-color: whitesmoke;
          }
        }
        >tr.success {
          >th, >td {
            background-color: #55c65e;
            border-color: #48b151;
          }
        }
        tr.warning {
          >th, >td {
            background-color: #fe9126;
            border-color: #e4752b;
          }
        }
    }
    thead {
        >tr {
          >th {
              vertical-align: bottom;
              border-bottom: 2px solid #d6d4d4;
              border-bottom-width: 1px;
              color: #333333;
              vertical-align: middle; 
          }
        }
        >tr.danger {
          >th, >td {
            background-color: #f3515c;
            border-color: #d4323d;
          }
        }
    }
    tbody {
      >tr {
        >td {
          vertical-align: middle;
        }
      }
    }
    caption + thead, colgroup + thead, thead:first-child {
        tr:first-child {
            th,td {
                border-top: 0;
            }
        }
    }
    tbody + tbody {
      border-top: 2px solid #fff;
    }
    .table {
      background-color: white; 
    }
}
.table-condensed {
    thead, tbody, tfoot {
      >tr {
        >th, >td {
          padding: 5px;
        }
      }
    }
}
.table-bordered {
  border: 1px solid #ddd;
  color: #333;
  font-weight: 400; 
  >thead, >tbody, >tfoot {
      >tr {
        >th, >td {
          border: 1px solid #ddd;
          text-align:center;
        }
      }
  }
  >thead {
    >tr {
      >td, >th {
        border-bottom-width: 2px;
        text-align:center;
        padding:10px;
      }
    }
  }
}
.table-striped {
  >tbody {
    >tr:nth-child(odd){
      th, td {
         background-color: #f9f9f9; 
      }
    }
  }
}
.table-hover {
  >tbody {
    >tr {
      &:hover {
        >td, >th {
          background-color: whitesmoke;
        }
      }
      >td.success, >th.success{
        &:hover {
          background-color: #42c04c;
          border-color: #419f49;
        }
      }
      >td.danger, >th.danger {
        &:hover {
          background-color: #f13946;
          border-color: #c32933;
        }
      }
      >td.warning, >th.warning {
        &:hover {
          background-color: #fe840d;
          border-color: #da681c;
        }
      }
    }
    >tr.success {
        &:hover {
          >td {
            background-color: #42c04c;
            border-color: #419f49;
          }
        }
    }
    >tr.danger {
      &:hover {
        >td, >th {
          background-color: #f13946;
          border-color: #c32933;
        }
      }
    }
    >tr.warning {
      &:hover {
        >td {
          background-color: #fe840d;
          border-color: #da681c;
        }
      }
    }
  }
}
table {
  col[class*="col-"] {
    float: none;
    display: table-column;
  }
  td[class*="col-"], table th[class*="col-"] {
    float: none;
    display: table-cell;
  }
}

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #d6d4d4; 
    >.table {
      margin-bottom: 0;
      background-color: #fff;
      >thead, >tbody, >tfoot {
        >tr {
          >th, >td {
            white-space: normal;
          }
        }
      }
    }
    .table-bordered {
      border: 0;
      >thead, >tbody, >tfoot {
        >tr {
          th:first-child, td:first-child {
            border-left: 0;
          }
          th:last-child, td:last-child {
            border-right: 0;
          }
        }
        >tr:last-child {
          th, td {
            border-bottom: 0;
          }
        }
      }
    }
  }
  #order-list td > .label {
    white-space: normal; } }
.unvisible {
  display: none; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent; }
/* Dropdown Menu */
.dropdown-menu {
  margin:0;
  min-width:120px;
  border-radius:0;
  border:none;
  padding:5px 10px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background:none;
}
.languages-info, .currency-info {
  .dropdown-menu > li.title {
    display:none;
  }
}
/* ----- */
.cart_quantity .input-group-addon {
  height: 35px;
  line-height: 35px;
  width: 35px; }

#page {
  position: relative; 
}

img.logo {
  display: inherit; 
}

.icon:before {
  margin-left: 0;
}

img {
  max-width:100%;
}