/* Color Active*/
  .languages-info .dropdown-menu li a:hover {
    background: none;
    color: $active-default; 
  }
  .languages-info .dropdown-menu li.selected {
   color: $active-default; 
  }
  .currency-info li.selected a {
   color: $active-default; 
  }
  .currency-info li a:hover {
    color: $active-default; 
  }
  .checkout-info .cart-button > a {
   border: 1px solid $active-default;
    color:$active-default;
  }
  .cart-wrap .description .price-quantity {
    color: $active-default;
  }
  .checkout-info .label, .checkout-info .pull-right {
    color: $active-default;
  }
  .jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
  .jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
    color: $active-default !important;
  }
  #off-canvas-title {
    background: $active-default;
  }
  #off-canvas-menu ul.nav > li > a:hover {
    color: $active-default;
  }
  /* Button Colors */
      .btn-hover:hover {
        background:$active-default !important;
        color:#fff !important;
      }
      a:hover, a:focus {
        color: $active-default;
      }
      .btn-transparent:hover,
      .btn-default:hover,
      .btn-default:focus,
      .btn-default:active,
      .btn-default.active,
      .btn-mega:hover,
      .btn-mega:focus,
      .btn-mega:active {
        background-color: $active-default;
      }
      .btn, .btn-default {
        &.btn-active {
          background:$active-default;
          color:#fff;
        }
      }
      .btn:hover, .btn-default:hover {
        color:#fff;
        background:$active-default;
      }
      .btn-primary:hover,
      .btn-default.active:hover,
      .btn.active:hover {
        background: $active-default;
      }
  /* ------- */
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .inputbox:focus,
  select:hover,
  textarea:hover,
  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="date"]:hover,
  input[type="month"]:hover,
  input[type="time"]:hover,
  input[type="week"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  input[type="url"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="color"]:hover,
  .inputbox:hover,
  select:active,
  textarea:active,
  input[type="text"]:active,
  input[type="password"]:active,
  input[type="datetime"]:active,
  input[type="datetime-local"]:active,
  input[type="date"]:active,
  input[type="month"]:active,
  input[type="time"]:active,
  input[type="week"]:active,
  input[type="number"]:active,
  input[type="email"]:active,
  input[type="url"]:active,
  input[type="search"]:active,
  input[type="tel"]:active,
  input[type="color"]:active,
  .inputbox:active {
    box-shadow: none;
    border-color: $active-default; }
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .inputbox:focus,
  .form-control:focus {
    border-color: $active-default;
  }
  ul#order_step li {
    background: $active-default;
  }
  ul#order_step li.step_current {
    border: 1px solid $active-default; 
  }
  .widget-categories li a:hover{
    color: $active-default;
  }
  #attributes .attribute_list #color_to_pick_list li.selected a span{
    border:4px solid $active-default;
  }
  #view_scroll_left:hover, #view_scroll_right:hover {
    color:#fff;
    background:$active-default;
    border:1px solid $active-default;
  }
  .page-list li.current a {
    background:$active-default;
    color:#fff;
  }
/* CMS */
.service_bg .feature-box-el i:hover {
  border:2px solid $active-default;
}
.tabs.tab_one .nav-tabs > li.active > a::before {
  background: $active-default;
}
.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid $active-default;
}
.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: $active-default;
}

/* Block Cart */
  .price-content .price {
    color:$active-default;
  }
  #button_order_cart {
    background:$active-default;
  }
/* --- */
/* Blog */
  .blog-box .post-created::before {
    background:$active-default;
  }
/* ------ */

  .html_left .btn-shop-now {
    background:$active-default;
  }

  .pagination > .active > a, 
  .pagination > .active > a:focus, 
  .pagination > .active > a:hover, 
  .pagination > .active > span, 
  .pagination > .active > span:focus, 
  .pagination > .active > span:hover {
    background-color: $active-default !important;
    border-color: $active-default !important;
    color: #fff !important;
  }
  .pagination > li > a:focus, 
  .pagination > li > a:hover, 
  .pagination > li > span:focus, 
  .pagination > li > span:hover {
    background:$active-default !important;
    color: #fff !important;
  }

  .blog-box .info-box a:hover {
    color:$active-default;
  }

  .group-span-filestyle > label {
    background:$active-default;
    color:#fff;
    border:none;
  }

/* Home Page */
.header-top {
  background:$active-default;
}
.categories-banner .custom-title-box .text-wrapper a {
  color:$active-default;
  text-decoration: underline;
}
.blog-box .view-comment span.view {
  color:$active-default;
}
.jms-megamenu .home-list .mega-nav li > a:hover {
  color:$active-default;
  text-decoration: underline;
}
.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color:$active-default;
}

.feature-box-style1 .btn-shopnow {
  border-bottom:1px solid $active-default;
  &:hover {
    color:$active-default;
  }
}

.nav-tabs > li > a.active {
  color:$active-default;
}
.nav-tabs > li > a.active::after {
  background:$active-default;
}
/* ------ */

/* Home3 */
  .h3-button a:hover {
    border:2px solid $active-default;
  }
  
/* ------  */

/* Banner */
  .banner-style3 .btn-shop:hover {
    color:$active-default;
  }
/* ------ */

.block-categories .collapse-icons i {
  color:$active-default;
}

.view-modes > a.active {
  color:$active-default;
  border:1px solid $active-default;
}

.pd-right-content .content_price .price.new {
  color:$active-default;
}

.product-actions .product-add-to-cart .action-box a:hover {
  color:$active-default;
}

.jms-popup #newsletter_block_left .popup-text .cap span {
  color:$active-default;
}
.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i{
  color:$active-default;
}

