/* Effect */
.jms-banner {
    overflow: hidden;
    position:relative;
}

  .banner-effect1 {
    &:before {
      content:"";
      background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
      height: 200%;
      left: -210%;
      opacity: 0;
      position: absolute;
      top: -110%;
      @include transform(rotate(30deg));
      transition-duration: 0.5s, 0.5s, 0.1s;
      transition-property: left, top, opacity;
      transition-timing-function: ease;
      width: 200%;
    }
    &:hover {
      &:before {
        left: -30%;
        opacity: 1;
        top: -30%;
      }
    }
  }
  .banner-effect2 {
    a:before, a:after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      @include transition(all 900ms ease 0s);
    }
    &:hover {
      a:before {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        bottom: 50%;
        top: 50%;
      }
      a:after {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        left: 51%;
        right: 50%;
      }
    }
  }

.img-zoom {
  overflow:hidden;
  img {
    @include transition(all 900ms ease 0s);
  }
  &:hover {
    img {
      @include transform(scale(1.1));
    }
  }
}

/* Image Swap */
.image_swap .product-img2 {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
}
.image_swap img {
    height: 100%;
    width: 100%;
}
.product-preview.default .preview:hover .image_swap .product-img1, .product-preview.style2:hover .image_swap .product-img1 {
    animation: 0.5s ease-out 0ms normal none 1 running img1Effect;
}
.product-preview.default .preview:hover .image_swap .product-img2, .product-preview.style2:hover .image_swap .product-img2 {
    animation: 0.5s ease-in 0ms normal none 1 running img2Effect;
    left: 0;
    opacity: 1;
    top: 0;
}
@keyframes img1Effect {
0% {
    opacity: 1;
}
20% {
    opacity: 0.8;
}
40% {
    opacity: 0.6;
}
60% {
    opacity: 0.4;
}
80% {
    opacity: 0.2;
}
100% {
    opacity: 0;
}
}
@keyframes img1Effect {
0% {
    opacity: 1;
}
20% {
    opacity: 0.8;
}
40% {
    opacity: 0.6;
}
60% {
    opacity: 0.4;
}
80% {
    opacity: 0.2;
}
100% {
    opacity: 0;
}
}
@keyframes img1Effect {
0% {
    opacity: 1;
}
20% {
    opacity: 0.8;
}
40% {
    opacity: 0.6;
}
60% {
    opacity: 0.4;
}
80% {
    opacity: 0.2;
}
100% {
    opacity: 0;
}
}
@keyframes img2Effect {
0% {
    opacity: 0;
}
20% {
    opacity: 0.2;
}
40% {
    opacity: 0.4;
}
60% {
    opacity: 0.6;
}
80% {
    opacity: 0.8;
}
100% {
    opacity: 1;
}
}
@keyframes img2Effect {
0% {
    opacity: 0;
}
20% {
    opacity: 0.2;
}
40% {
    opacity: 0.4;
}
60% {
    opacity: 0.6;
}
80% {
    opacity: 0.8;
}
100% {
    opacity: 1;
}
}
@keyframes img2Effect {
0% {
    opacity: 0;
}
20% {
    opacity: 0.2;
}
40% {
    opacity: 0.4;
}
60% {
    opacity: 0.6;
}
80% {
    opacity: 0.8;
}
100% {
    opacity: 1;
}
}

.image-menu img{
  width: 100%;
  @include transition(all 0.5s ease 0s);
}
.image-menu:hover img  {
    transform: scale(1.1);
}

/**** Preload *****/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
}

.spinner1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.spinner1 .bounce1,
.spinner1 .bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loadingstyle1 2.0s infinite ease-in-out;
  animation: loadingstyle1 2.0s infinite ease-in-out;
}

.spinner1 .bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner2 {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: loadingstyle2 1.2s infinite ease-in-out;
  animation: loadingstyle2 1.2s infinite ease-in-out;
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.spinner2,
.spinner3 {
  background-image: url("../img/icon/loader.gif");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
  margin: -22px;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  left: 50%;
  position: absolute;
  top: 50%;
}

.spinner4 {
  top: 50%;
  left: 50%;
  z-index: 10000;
  position: absolute;
  margin: -9px 0 0 -35px;
  width: 70px;
  text-align: center;
}

.spinner4 .bounce1,
.spinner4 .bounce2,
.spinner4 .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loadingstyle4 1.4s infinite ease-in-out;
  animation: loadingstyle4 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner4 .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}

.spinner4 .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}

.spinner5 {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  -webkit-animation: loadingstyle5 1s infinite ease-in-out;
  animation: loadingstyle5 1s infinite ease-in-out;
}

.spinner6 {
  left: 50%;
  position: absolute;
  top: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-animation: loadingstyle6 2s infinite linear;
  animation: loadingstyle6 2s infinite linear;
}

.spinner6 .dot1, .spinner6 .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  border-radius: 100%;
  -webkit-animation: tp-bounce 2s infinite ease-in-out;
  animation: tp-bounce 2s infinite ease-in-out;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.spinner6 .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner {
  -webkit-animation: spinner 2s infinite linear;
  animation: spinner 2s infinite linear;
}

@-webkit-keyframes clockwise {
  to {
    -webkit-transform: rotate(360deg) translatez(0);
    transform: rotate(360deg) translatez(0);
  }
}

@keyframes clockwise {
  to {
    -webkit-transform: rotate(360deg) translatez(0);
    transform: rotate(360deg) translatez(0);
  }
}

@-webkit-keyframes counter-clockwise {
  to {
    -webkit-transform: rotate(-360deg) translatez(0);
    transform: rotate(-360deg) translatez(0);
  }
}

@keyframes counter-clockwise {
  to {
    -webkit-transform: rotate(-360deg) translatez(0);
    transform: rotate(-360deg) translatez(0);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingstyle1 {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes loadingstyle1 {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loadingstyle1 {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes loadingstyle2 {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    -moz-transform: perspective(120px) rotateX(0) rotateY(0);
    -o-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-moz-keyframes loadingstyle2 {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    -moz-transform: perspective(120px) rotateX(0) rotateY(0);
    -o-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes loadingstyle2 {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    -moz-transform: perspective(120px) rotateX(0) rotateY(0);
    -o-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-webkit-keyframes loadingstyle4 {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes loadingstyle4 {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loadingstyle4 {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes loadingstyle5 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes loadingstyle5 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loadingstyle5 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes loadingstyle6 {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loadingstyle6 {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingstyle6 {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tp-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tp-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* ------ */