@mixin transition($transition) {
 -webkit-transition: $transition;
 -moz-transition: $transition;
 -o-transition: $transition;
 transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin appearance($appearance) {
	-webkit-appearance: $appearance;
	-moz-appearance: $appearance;
	-o-appearance: $appearance;
	appearance: $appearance;
}

@mixin align-items($value) {
	-webkit-box-align: $value;
	-webkit-align-items: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

@mixin justify-content($value) {
	-webkit-box-align: $value;
	-webkit-justify-content: $value;
	-ms-justify-content: $value;
	justify-content: $value;
}

@mixin form-placeholder($color) {
	input::-moz-placeholder {
		color:$color;
	}
	input::-ms-input-placeholder {
		color:$color;
	}
	input::-webkit-input-placeholder {
		color:$color;
	}
}

@mixin animation ($effect){
	animation:$effect;
	-webkit-animation:$effect;
}

@mixin flex() {
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}