/* Breadcrumb */
.breadcrumb {
  padding-top:8.5px;
  padding-bottom:8.5px;
  padding-left:0;
  padding-right:0;
  margin:0;
  margin-bottom:40px;
  background:#f9f9f9;
  .container-fluid {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.breadcrumb-box .breadcrumb-inner {
  a {
    color:#1b1919;
    font-size:14px;
    &:hover {
      text-decoration:underline;
    }
    i {
        margin-right:3px;
      }
  }
  ol {
      margin-bottom:0;
      @include flex();
      flex-wrap:wrap;
      @include align-items(center);
      color:#666666;
      line-height:30px;
      li {
        &:after { 
          content:"/";
          display:inline-block;
          margin:0 5px 2px;
        }
        &:last-child:after {
          content:none;
        }
      }
  }
}
    /* In Category Page */
  .content_scene_cat_bg {
    display:flex;
    align-items:center;
    margin-bottom:60px;
    .cat_desc {
      display:inline-block;
      margin:0 auto;
      .flex-box {
        text-align:center;
      }
      h3 {
          font-size:24px;
          color:#20254e;
          font-weight:500;
      }
      .desc_short {
        font-size:14px;
        color:rgba(32,37,78,0.75);
      }
    }
    .text-muted {
      color:#fff;
    }
  }
/* ------ */

/*=====================================
=            SHOPPING CART            =
=====================================*/
ul#order_step {
  margin-bottom: 40px; }

ul#order_step li {
  float: left;
  width: 20%;
  text-align: center;
  height: 45px;
  line-height: 45px; }

ul#order_step li span,
ul#order_step li a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px; }

ul#order_step li.step_current {
  background: #fff;
}

ul#order_step li.step_current span,
ul#order_step li.step_current a {
  color: #666; }

ul#order_step li span em,
ul#order_step li a em {
  font-style: normal; }

#order #order-detail-content {
  margin-bottom: 50px; }

table#cart_summary .cart_avail,
table#cart_summary .cart_unit,
table#cart_summary .cart_total {
  text-align: center; }
table#cart_summary .cart_unit,
table#cart_summary .cart_total {
  font-weight: 500; }
table#cart_summary .cart_quantity_input {
  font-weight: 400;
  font-size: 14px;
  text-align: center; }
table#cart_summary tfoot {
  font-weight: 500; }
table#cart_summary .cart_quantity_button {
  padding-top: 5px; }
  table#cart_summary .cart_quantity_button a {
    width: 20px;
    display: inline-block; 
  position:absolute;
  top:10px;
}
table#cart_summary .quantity-box {
  position:relative;
}
table#cart_summary .cart_quantity_button a.button-plus {
  right:5px;
}
table#cart_summary .cart_quantity_button a.button-minus {
  left:5px;
}
ul.footer_links {
  margin-top: 20px; 
  a {
    margin-bottom:5px;
  }
}
  ul.footer_links li {
    display: inline-block;
    margin-right: 10px; }
    ul.footer_links li:last-child {
      margin-right: 0; }

.page-heading.step-num {
  margin-top: 50px; }

.cart_navigation {
  margin-top: 55px;
margin-bottom:45px;
  }
.store-content .search_locations {
  height:40px;
  line-height:40px;
}
/* Brand */
  .list-brands {
    background: #ffffff none repeat scroll 0 0;
    margin: 1.25rem 0 0.625rem;
  }
  .list-brands .brand {
      display: flex;
    margin-bottom:15px;
  }
  .list-brands .brand:last-child {
    margin-bottom:0;
  }
  .list-brands .brand > div {
      -moz-box-align: center;
      -moz-box-pack: justify;
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
  }
/* ------- */
/* Modal & QUick view */


/* ------ */
#blockcart-modal {
  color: #414141; 
 }
#blockcart-modal .modal-body {
    background: #fff;
    padding: 3.125rem 1.875rem; 
}
#blockcart-modal .modal-body .divide-right span {
    display: inline-block;
    margin-bottom: 0.3125rem; 
}
#blockcart-modal .modal-dialog {
    max-width: 1140px;
    width: 100%; 
    font-family:"Roboto", sans-serif;
}
#blockcart-modal .product-image {
  float: left;
  margin-right: 10px;
  width: 150px; 
}
#blockcart-modal .modal-title {
    font-weight: 500;
    color: #454545;
    font-size: 1.6rem; 
  padding:0;
}
#blockcart-modal .modal-header {
    background: #ebebeb; 
}
#blockcart-modal .modal-title i.material-icons {
    margin-right: 1.875rem; 
}
#blockcart-modal .product-name {
  font-size: 1.7rem; 
  margin:0;
  line-height:26px;
}
#blockcart-modal .cart-products-count {
    font-size: 1.7rem; 
  line-height:26px;
}

#blockcart-modal .cart-content-btn {
  display:flex;
  flex-wrap:wrap;
  margin-top:25px;
  button {
    margin-right:10px;
  }
}
  #blockcart-modal .divide-right {
    border-right: #acaaa6 1px solid; 
  }
#blockcart-modal .divide-left .btn-default {
  float:left;
  border:none;
  margin-right:10px;
}
/* Quick view */
.modal-dialog.cover_product1 {
  width:1200px;
  margin:66px auto;
  .close {
    margin-top: -10px;
  }
  .modal-header {
    padding:25px 15px;
    border-bottom:none;
  }
  
  .thumbs-list .thumb-container {
    padding: 15px;
    img{
      width:100%;
      border: 1px solid #ebebeb;
    }
  }
  .thumbs-list .thumb-carousel {
    display:flex;
  }
  .images-container .image-box .layer {
    display:none;
  }
  .images-container .thumb-box .arrows.js-arrows {
    display:block;
  }
  .scroll-box-arrows {
    display:none;
  }
  .modal-footer {
    .block-social {
      .social-title{
        display:none;
      }
      ul {
        display:flex;
        justify-content:center;
        margin-bottom:0;
        li {
          margin-right:20px;
          &.facebook a:before{
            content:"\f09a";
          }
          &.twitter a:before {
            content:"\f099";
          }
          &.googleplus a:before{
            content:"\f0d5";
          }
          &.pinterest a:before {
            content:"\f0d2";
          }
          a:before{
            font-family:"FontAwesome";
            font-size:20px;
            color:#e3e3e3;
          }
        }
      }
    }
  }
  .layer{
    display:none;
  }
  .product-add-to-cart {
    margin-top: 20px;
    margin-bottom:30px;
  }
  .breadcrumb-box .breadcrumb {
    margin-bottom:20px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000; 
}
.modal-backdrop.fade {
    opacity: 1038; 
}
.modal-backdrop.in {
    opacity: 0.5; 
}

.quickview {

  .breadcrumb-box {
    padding:0;
    .breadcrumb-inner {
      padding:25px 0;
    }
  }
  .images-container {
    display:flex;
    .product-cover {
      width:calc(100% - 120px);
      padding-right:10px;
    }
    .thumb-box {
       width:120px;
       position:relative;
       height: 535px;
       padding:40px 0;
       img {
        width:100%;
       }
      .mask {
        overflow: hidden;
        height:100%;
      }
      .product-images > li.thumb-container {
        display: block;
        margin-bottom:10px;
      }
      .js-arrows {
        i {
          position:absolute;
          left:calc(50% - 12.5px);
          width:25px;
          height:25px;
          text-align:center;
          line-height:25px;
          background:#f5f5f5;
          color:#7f7f7f;
          cursor:pointer;
          &.arrow-up {
            top:0;
          }
          &.arrow-down {
            bottom:0;
          }
        }
      }
    }
  }
}

/* Brand List Module */
  .brand-list-wrapper {
    margin-top:50px;
    .title-block {
      position:relative;
      margin-bottom: 25px;
      h3 {
        color: #1b1919;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
        padding-bottom: 4px;
        position: relative;
        text-transform: uppercase;
        line-height:1.4;
        &:before {
          background-color: rgba(0, 0, 0, 0.1);
          bottom: 0;
          content: "";
          display: inline-block;
          height: 2px;
          position: absolute;
          width: 30px;
        }
      }
    }
    ul >li >a {
      font-size: 14px;
      line-height:32px;
      display:block;
      position:relative;
      @include transition(all 0.2s ease 0s);
      &:hover {
        text-decoration:underline;
      }
    }
  }
/* ------ */
