.best-sellers_block_right {
  .title-block {
    position:relative;
    margin-bottom: 25px;
    h3 {
      color: #1b1919;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.5px;
      padding-bottom: 4px;
      position: relative;
      text-transform: uppercase;
      line-height:1.4;
      &:before {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 30px;
      }
    }
  }
  .products {
    .product-miniature {
      margin-bottom:15px;
      padding-bottom:15px;
      border-bottom:1px solid rgba(124, 124, 124, 0.15);
      &:last-child {
        margin-bottom:0;
        padding-bottom:0;
        border-bottom:none;
      }
    }
  }
}
/* Categories List */
.block-categories {
  margin-bottom:50px;
  .title-block {
    position:relative;
    margin-bottom: 25px;
    h3 {
      color: #1b1919;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.5px;
      padding-bottom: 4px;
      position: relative;
      text-transform: uppercase;
      line-height:1.4;
      &:before {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 30px;
      }
    }
  }
  >ul >li >a {
    font-size: 14px;
    line-height:32px;
    display:block;
    position:relative;
    @include transition(all 0.2s ease 0s);
    &:hover {
      text-decoration:underline;
    }
  }
  .collapse-icons i {
    display: inline-block;
    font-size: 18px;
  }
  .cat-item {
    .sub-list {
      ul {
        padding:0 10px;
      }
      li a {
        font-size:14px;
        font-weight:300;
        line-height:28px;
      }
      .arrows {
        margin-left:10px;
        cursor: pointer;
        .arrow-down {
          display:none;
        }
        &.collapsed {
          .arrow-down {
            display:inline-block;
          }
          .arrow-right {
            display:none;
          }
        }
      }
    }
  }
  .collapse-icons {
    position: absolute;
    right:0;
    top:0;
  }
  .collapse-icons[aria-expanded="true"] i:before {
    content: "\f01a";
  }
}
/* ------- */

/* Faceted Search */
#search_filters {
  .filter-box {
    margin-bottom:53px;
    .box-title {
      position:relative;
      margin-bottom: 25px;
      h3 {
        color: #1b1919;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
        padding-bottom: 4px;
        position: relative;
        text-transform: uppercase;
        line-height:1.4;
        &:before {
          background-color: rgba(0, 0, 0, 0.1);
          bottom: 0;
          content: "";
          display: inline-block;
          height: 2px;
          position: absolute;
          width: 30px;
        }
      }
    }
    .clear-all-wrapper {
      button {
        letter-spacing:0.05em;
        i {
          margin-left:10px;
        }
      }
    }
  }
  .facet-box{
    margin-bottom:53px;
    .facet-title {
      position:relative;
      margin-bottom: 25px;
      h3 {
        color: #1b1919;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
        padding-bottom: 4px;
        position: relative;
        text-transform: uppercase;
        line-height:1.4;
        &:before {
          background-color: rgba(0, 0, 0, 0.1);
          bottom: 0;
          content: "";
          display: inline-block;
          height: 2px;
          position: absolute;
          width: 30px;
        }
      }
    }
  }
}
.facet {
  > li {
    margin-bottom:15px;
    &:last-child {
      margin-bottom:0;
    }
  }
  li {
    position:relative;
     .facet-label {
        display:flex;
        flex-wrap:wrap;
        @include align-items(center);
        a {
          color: rgba(0, 0, 0, 0.9);
        }
        .magnitude {
          position:absolute;
          top:calc(50% - 13px);
          right:0;
          color:#bbb;
        }
        .custom-checkbox {
          input[type="checkbox"] + span {
            margin-right:10px;
          }
        }
      }
  }
 
  .custom-checkbox {
    display:block;
  }
}
/* ------ */

/* Input Style */
.custom-checkbox {
    display:flex;
    flex-wrap:wrap;
    @include align-items(center);
    .checkbox-wrapper {
      position: relative;
      margin-right:10px;
    }
    span, input {
      margin:0;
    }
    input {
      width:15px;
      height:15px;
    }
}
.custom-checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left:0;
    display:block;
    top:calc(50% - 7.5px);
}
.custom-checkbox input[type="checkbox"] + span {
    border: 1px solid #bbb;
    cursor: pointer;
    display: block;
    width:15px;
    height:15px;
    &.color {
      width:25px; 
      height:25px;
      border-radius:50%;
      border:1px solid #deeded;
      box-shadow:1px 1px 3px rgba(136, 136, 136, 0.19);
    }
}
.custom-checkbox input[type="checkbox"] + span .checkbox-checked {
    color: #232323;
    display: none;
    font-size: 13px;
    margin: 0;
}
.custom-checkbox input[type="checkbox"]:checked + span .checkbox-checked {
    display: block;
}
.custom-checkbox input[type="checkbox"]:focus + span {
    border-color: #7a7a7a;
}
.custom-checkbox label {
    text-align: left;
}

.custom-radio {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 15px;
}
.custom-radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    margin:0;
    position:absolute;
    left:0;
    top:0;
}
.custom-radio input[type="radio"]:checked + span {
    background-color: #2fb5d2;
    border-radius: 50%;
    display: block;
    height:calc(100% - 2px);
    left: 1px;
    position: absolute;
    top: 1px;
    width: calc(100% - 2px);
}
.custom-radio input[type="radio"]:focus + span {
    border-color: #7a7a7a;
}
.custom-checkbox {
    position: relative;
}

/* ------- */

/* Filter Panel */
.cat_desc {
  margin-bottom:45px;
}
.view-modes {
  display:flex;
  @include justify-content(flex-start);
  @include align-items(center);
  > a {
    border: 1px solid #f0f1f3;
    border-radius: 3px;
    color: #a6a5a5;
    display: block;
    font-size: 18px;
    line-height: 33px;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    &:last-child {
      margin-right:0;
    }
    &:first-child {
      margin-left:10px;
    }
  }
}
.sort-select {
  .inlude_sort_by {
      display:flex;
      @include align-items(center);
      @include justify-content(flex-end);
      .products-sort-order {
        margin-left:10px;
        cursor: pointer;
        min-width: 150px;
        height:35px;
        a {
          display:flex;
          width:100%;
          @include justify-content(space-between);
          @include align-items(center);
          line-height:35px;
          position:relative;
          i {
            font-size:16px;
            color:#666;
          }
          >span {
            color:#666;
          }
        }
        .dropdown-menu {
          padding:10px 15px;
          width:100%;
          top:101%;
        }
      }
    }
}

.filters-panel {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom:20px;
  .row {
    display:flex;
    flex-wrap:wrap;
  }
}
/* ------ */

/* Active Filter*/
  .active_filters {
    background: #dededd none repeat scroll 0 0;
    margin: 20px 0;
    padding: 10px 20px;
  }
  .active_filters ul li:last-child {
      margin-right: 0;
  }

  #js-active-search-filters > ul li {
    background: #ebebeb none repeat scroll 0 0;
    display: flex;
    @include align-items(center);
    margin-right: 20px;
    margin-bottom:5px;
    padding: 0 10px;
    vertical-align: middle;
  }
  #js-active-search-filters > ul {
      align-items: center;
      display: flex;
      flex-wrap:wrap;
      margin-bottom: 0;
  }
  .active_filters {
      display: inline-block;
      margin-top: 18px;
  }
  .filter-block .js-search-link {
    display:inline-block;
    font-size: 15px;
    line-height: 35px;
    margin-left: 10px;
  }
  .filter-block .js-search-link i {
    font-size:18px;
  }
/* ------ */
.cat_desc {
  p {
    line-height:1.3;
  }
}
/* List Product */
  .products-list-in-column {
    .products {
      display:flex;
      flex-wrap:wrap;
      .product-miniature {
        padding:0 15px;
        margin-bottom:40px;
      }
    }
    &.products-list-6 {
      .product-miniature {
        width:16.66%;
      }
    }
    &.products-list-5 {
      .product-miniature {
        width:20%;
      }
    }
    &.products-list-4 {
      .product-miniature {
        width:25%;
      }
    }
    &.products-list-3 {
      .product-miniature {
        width:33.33%;
      }
    }
    &.products-list-2 {
      .product-miniature {
        width:50%;
      }
    }
    .product-preview .product-info.list-info {
      display:none;
    }
  }
  .products-list-in-row {
    .product-miniature {
      width:100%;
      padding:20px 15px;
      position:relative;
      &:last-child {
        padding-bottom:0;
        &:after {
          content:none;
        }
      }
      &:after {
        content:"";
        background:#ebebeb;
        position:absolute;
        bottom:0;
        left:15px;
        height:1px;
        width:calc(100% - 30px);
      }
    }
    .product-preview {
      @include flex();
      flex-wrap:wrap;
      @include align-items(center);
      .product-info {
        display:none;
        &.list-info {
          display:block;
        }
        .addToWishlist {
          display: inline-block;
          position: static;
          visibility: visible;
          width: auto;
          border-radius: 0;
          background:none;
          line-height:1.2;
          font-size:14px;
          cursor: pointer;
        }
        .product-description {
          color:rgba(0,0,0,0.8);
          margin-top:15px;
        }
      }
      .quick-view-box {
        display:none;
      }
      .action-box {
        display:none;
      }
      .preview {
        width:25%;
      }
      .product-info {
        width:75%;
        padding-left:30px;
        text-align:left;
      }
      .cart-button {
        width:auto;
        display:inline-block;
      }
      .quick-view {
        box-shadow:none;
      }
      .button-box {
        margin:25px 0;
        a {
          margin-right:10px;
          &:last-child {
            margin-right:0;
          }
        }
      }
      .bottom-box {
        a {
          line-height:1.2;
          &.add_to_compare {
            .fa-check {
              display:none;
            }
          }
          .fa {
            font-size:18px;
          }
        }
      }
      &.default .cart-button {
        line-height: 40px;
        font-weight:400;
        background:#ececec;
      }
      &.default:hover {
        .content_price {
          top: 0;
          transition: none;
        }
        .cart-button {
          top: 0;
          transition: none;
        }
      }
    }
  }
/* ------ */

/* Pagination Style */
  .pagination {
    margin-top:10px;
    padding-left:15px;
    .left-pagination, .right-pagination {
      padding-left:0;
      padding-right:0;
    }
  }
    ul.page-list {
      margin:0;
      @include flex();
      flex-wrap:wrap;
      @include justify-content(flex-end);
      li {
        margin-right:10px;
        &:last-child {
          margin-right:0;
        }
        a, span {
          font-size:16px;
          padding:0;
          border-radius:0;
          width:35px;
          line-height:33px;
          text-align:center;
          color:#000;
          border-bottom:1px solid #b1b1b1;
          display:block;
          .fa {
            font-size:15px;
          }
        }
        a:hover {
          color:#fff;
          background:#000;
          border-bottom:1px solid #000;
        }
        &.current {
          a {
            color:#fff;
            background:#000;
            border-bottom:1px solid #000;
          }
        }
      }
      .pagination_previous, .pagination_next {
        margin:0;
        a, span {
          padding:0;
          margin:0;
          display:block;
          width:35px;
          line-height:25px;
          border:1px solid #efefef;
          background:#fff;
          font-size:10px;
          text-align:center;
          color:#9f9f9f;
        }
      }
    }
/* ------ */

/* Responsive */
  @media(max-width:1366px) {
    .products-list-in-column.products-list-4 .product-miniature {
      width: 33.33%;
    }
  }
  @media(max-width:1199px) {
    .products-list-in-column {
      &.products-list-4 .product-miniature {
        width: 50%;
      }
    }
  }
  @media(max-width:991px) {
    .view-modes {
      @include justify-content(center);
      margin-bottom:20px;
    }
    .sort-select .inlude_sort_by {
      @include justify-content(center);
    }
    .left-pagination {
      text-align:center;
    }
    .right-pagination {
      margin-top:10px;
    }
    ul.page-list {
      @include justify-content(center);
    }
  }
  @media(max-width:480px) {
    .products-list-in-column {
      &.products-list-4 .product-miniature {
        width: 50%;
      }
      &.products-list-3 .product-miniature {
        width: 50%;
      }
    }
  }
  @media(max-width:360px) {
    .products-list-in-column {
      &.products-list-4 .product-miniature {
        width: 100%;
      }
      &.products-list-3 .product-miniature {
        width: 100%;
      }
    }
  }
/* ------- */

