.badge_header_main img{
    margin-top: 10px;
}

.badge_header_main a:hover{text-decoration: none}

.badge_header{
    background-color: #00aff0;
    font-size: 1em;
    letter-spacing: 0.0625em;
    line-height: inherit;
    padding: 1px 5px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

}
