.is_noti, .noti{padding-top: 5px}

.avatar-list img{
    width:40px;height:40px;background:#FFF;border:1px solid #CCC;border-radius:100%;
    margin:0px!important;position:relative;z-index:1;display:inline-block;padding:0px}


.avatar-form img{
    width:85px;height:85px;background:#FFF;border:1px solid #CCC;
    margin:0px!important;position:relative;z-index:1;display:inline-block;padding:0px}



.text-align-center{text-align: center}


.reminder-td{color:black;text-align:center}
.text-align-left{text-align: left!important;}
.a-underline{text-decoration: underline!important}

table.csv-ix-table, table.csv-ix-table th, table.csv-ix-table td{border:1px solid #ddd!important;}
table.csv-ix-table th{background-color:#8BC954!important;}
.csv-ix-head{text-align: center!important;}
.csv-ix{text-align: center!important;}


#body-add-review-form-review textarea {
    height: 70px!important;
}

.files-review-spmgsnipreview-admin{margin: 10px 0 20px 0;height:150px}
.files-review-spmgsnipreview-admin .img-thumbnail-custom{
    border: 1px solid #ddd;
    border-radius: 3px;padding: 4px;}



.margin-item-form-top-left{margin-top:5px;}
.margin-item-form-top-left .badge{font-weight: bold}
.margin-item-form-top-left .badge a{color:white;text-decoration: underline}
.badge{
    background-color: #00aff0;
    font-size: 1em;
    letter-spacing: 0.0625em;
    line-height: inherit;
    padding: 1px 5px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 3px 7px;
}



 .bootstrap .file-upload-spmgsnipreview input[type="file"] {
    background-color: #f5f8f9;
    background-image: none;
    border: 1px solid #c7d6db;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 12px;

    padding: 6px 8px;
    width: 100%;
}

.bootstrap .file-upload-spmgsnipreview{
    width:50%
}


.rating-stars-dynamic-admin{
    cursor: pointer;
    float: left;
    margin-left: 5px;
}
.rating-stars-dynamic-title-admin{
    font-weight: bold;
}
.rating-stars-dynamic-title-admin sup.required{color:red}
.rating-stars-dynamic-item-admin{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 9px;
}


.float-left{float:left}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.file-form-size{width:80px}
#file-files-list .pull-right-spmgsnipreview {float: right;}

.file-custom-admin{margin:5px 0}

.btn-spmgsnipreview {
    -moz-user-select: none;
    border: 1px solid;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none!important;
    height: auto!important;
}

.btn-default-spmgsnipreview {
    background-color: #fff;
    border-color: #ccc!important;
    color: #333;
}