/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2018 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

  .owl-theme .owl-nav [class*='owl-'] {


      background: #fff none repeat scroll 0 0;
      border: 1px solid #d6d4d4;
      color: #d6d4d4;
      cursor: pointer;
      float: left;
      font-size: 15px;
      height: 25px;
      line-height: 22px;
      margin: 0 2px;
      width: 25px;
  }


    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none;
    }

  .owl-theme .owl-nav .disabled {

      cursor: not-allowed!important;
  }

.owl-theme .owl-nav .disabled:hover{background: white;color:#d6d4d4}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791;
    }

.owl-theme .owl-dots{clear:both;}
.owl-theme .owl-dot{margin-top:10px}
.owl-theme .owl-dot:hover{
    cursor: pointer;
}