.icon-AdminSpmgsnipreviewreview:before, .icon-AdminSpmgsnipreviewreview:before {
    content: url("../../views/img/AdminSpmgsnipreviewreview.gif");
}

.icon-AdminSpmgsnipreviewstorereview:before, .icon-AdminSpmgsnipreviewstorereview:before {
    content: url("../../views/img/AdminSpmgsnipreviewstorereviews.gif");
}


.icon-AdminSpmgsnipreviewreview:before, .subtab-AdminSpmgsnipreviewreviewtest:before, #subtab-AdminSpmgsnipreviewreviewtest i:first-child  {
    content: url("../../views/img/AdminSpmgsnipreviewreview.gif");
}