.b-info-block{margin:10px 0}

.b-info-block .b-body{
	    border: 1px solid #C4C4C4;
        padding: 20px 0;
}

.b-info-block .b-body dl {
    margin: 0 0 3px;
    overflow: hidden;
}

.b-info-block .b-body dt {
    float: left;
    padding: 4px 5px 2px 0;
    text-align: right;
    width: 30%;
}

.b-info-block .b-body label {
    font-weight: 700;
}

.b-info-block .b-body dd {
    float: left;
}


.b-info-block .b-body .b-edit {
    margin: 10px 0 0 0px;
}

.b-info-block .b-body .b-edit a {
    background: url("../img/users/ico-edit-info.gif") no-repeat scroll 0 1px transparent;
    padding: 0 0 0 16px;
}


.b-info-block .b-body .b-avatar img{
    border:1px solid #DCD6D6;width:100px;height:100px;padding:0px;border-radius:100%;
    margin:0px!important;display:inline-block
}

img.avatar-header-spmgsnipreview{
    border:1px solid #DCD6D6;width:25px;height:25px;padding:0px;border-radius:100%;
    display:inline-block;margin-left:5px;
}

.clr  {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.b-body .b-guide {
    padding: 7px 0 5px 0px;
}



.b-info-block .b-body .b-buttons-save {
    overflow: hidden;
    padding: 7px 0 0 30%;
}

.b-info-block .b-body .b-buttons-save .b-submit {
    float: left;
    margin: 0 5px 0 0;

}

.b-buttons-save .btn-success{background-color: #46a74e;border-color: #3e9546;color: #fff;}

.b-buttons-save .btn-success:hover, .b-buttons-save .btn-success:focus, .b-buttons-save .btn-success:active,.b-buttons-save .btn-success.active{
    color: #fff;
    background-color: #3a8a41;
    border-color: #2c6a31; }



.b-buttons-save .btn {border-radius: 0;cursor: pointer;display: inline-block;font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    border: 0px solid transparent;
}


/*----------Profile-Shoppers---------*/

.b-tab16{padding-top:17px!important}
	
/*   tabs   */


.b-tab-wrapper {
	overflow:hidden;
	}


.b-tab-wrapper .b-details table {
	width:100%;
	margin:0 0 12px;
	}
.b-tab-wrapper .b-details .odd td {
	background:#f4f5f4;
	}
.b-tab-wrapper .b-details .even td {
	background:#fff;
	}
.b-tab-wrapper .b-details td {
	padding:7px 0 7px 14px;
	}
	
	
	
.b-search-friends {
	overflow:hidden;
	padding:15px 26px 21px 0;
	}
.b-search-friends input {
	float:right;
	margin-left:0px;
	border:0px;
	}
.b-search-friends input.txt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dad4d4 -moz-use-text-color #dad4d4 #dad4d4;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #666666;
    font-size: 11px;
    height: 28px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    width: 131px;
	}
.txt-16{height:20px!important}
.b-search-friends fieldset{border:none}

.search-result-item-user{
    font-size: 14px;
    padding: 5px 10px;
    margin: 0px;
}
	
	
/* shopppers list */

.b-friends-list {
	padding:10px;
	}
	
.b-friends-list ul{margin-bottom:0px!important}	

.b-friends-list li {
	float:left;
	width:100px;
	text-align:center;
	padding:10px;
	list-style:none;
	height:185px
	}
.b-friends-list .b-name {
	padding:3px 0 0;
	width:85px;
    word-wrap: break-word;
	}
.b-friends-list .b-from {
	padding:2px 0 0;
	width:85px;
	}

	
	
/** bottom */


.b-pager  {
    float: right;
}

.b-pager dl {
	float:left;
	margin:2px 0 0;
	}

.b-pager dt {
	float:left;
	padding:2px 5px 0 0;
	font-size:11px;
	}
	
.b-pager dd {
	margin:0 1px 0 0;
	float:left;
    line-height:1.2em
	}
.b-pager-16 dd a{
	height:20px!important;	
}
.b-pager dd a {
	float:left;
	width:16px;
	height:15px;
	padding:2px 0 0;
	display:block;
	color:#fff;
	background:#bdb9bb;
	text-decoration:none;
	text-align:center;
	}
.b-pager dd a:hover {
	background:#49af17;
	}
.b-pager dd.current a {
	background:#49af17;
	font-weight:700;
	cursor:auto;
	}
.b-pager dd.last {
	height:14px;
	padding:2px 7px 0;
	background:#dbdbdb;
	color:#444242;
	}
.b-pager dl {
	float:left;
	margin:2px 0 0;
	}
	


	
.clear-search-shoppers{
	float: right;
    margin: 3px 10px;
    text-decoration: underline !important;
	display:none;
}


/* shoppers block */

.users-block-items li{margin-top:5px;padding:0.2em 0 0.2em 0}
.users-block-items img{width:50px;float:left}
.users-block-items a {float:left;margin-top:10px;margin-left:10px;/*width:130px;*/ background:none!important;padding:0px!important}

.user-img-spmgsnipreview{
    border:1px solid #DCD6D6;width:50px;height:50px;padding:0px;border-radius:100%;
    margin:0px!important;display:inline-block
}

/*product item*/
.b-product-item {
	margin-top:10px;
	border:#dad4d4 1px solid;
	padding:24px 0 0px;
	}
.b-product-item h1 {
	color:#49AF17;
	border-bottom:1px solid #b4d5a3;
	padding:0 0 5px;
	font-size:16px;
	font-family:tahoma;
	font-weight:700;
	text-transform:none;
	background:none;
	}
.b-product-item .b-photo {
	float:left;
	width:204px;
	text-align:center;
	position:relative;
	padding:0 0 12px;
}

.b-product-item .b-description {
	margin:0 0 0 204px;
	padding:0 46px 0 0;
}


.b-product-item p {
	padding:3px 0 5px;
	line-height:135%;
	}



	
.b-photo .block-photo{border:1px solid #DCD6D6;margin: 0pt auto; width: 140px;padding:10px 5px 5px 5px}
.b-photo .block-photo .no-border {border:none;}
.b-photo .block-photo img {border:1px solid #DCD6D6;width:100px;height:100px;padding:0px;border-radius:100%;
    margin:0px!important;display:inline-block}

.b-friends-list .img-list-user img{
    border:1px solid #DCD6D6;width:75px;height:75px;padding:0px;border-radius:100%;
    margin:0px!important;display:inline-block
}




.b-photo .block-photo .data{margin-top:10px}
.b-photo .block-photo .data .are-you{margin-top:5px;margin-bottom:5px}
.b-photo .block-photo .data .are-you a{text-decoration:underline}
.b-photo .block-photo .data .are-you a:hover{
	color:#5184c3;
	text-decoration:underline
}
	
.share-catalog{margin-top:15px;}
.share-catalog a{text-decoration:none;opacity:1;vertical-align:top;line-height: normal;}
.share-catalog a:hover{text-decoration:none!important;opacity:0.8}


.b-tab {
	overflow:hidden;
	padding:0 0 0px;
	background:url(../img/users/bg-grey-dot.gif) 0 25px repeat-x;
	margin-top:10px;
	}
.b-tab-16-profile-page{
	background:url(../img/users/bg-grey-dot.gif) 0 30px repeat-x!important;
	}

.b-column-c .b-wrapper {
    border:1px solid #dad4d4;
    margin-top:10px
}

.b-tab ul {
	margin:0 0 0 22px;
	}
.b-tab li {
	display:block;
	font-weight:700;
	float:left;
	margin:0 3px 0 0;
	border:1px solid #dad4d4;
	}
.b-tab li a {
	text-decoration:none;
	display:block;
	padding:4px 10px 7px;
	background:#ebeceb;
	color:#666666;
	}
.b-tab li.current a,
.b-tab li.current a:hover {
	background:#fff;
	cursor:auto;
	color:#49AF17;
	text-decoration:none;
	}
.b-tab li a:hover {
	text-decoration:underline;
	}
.b-tab li.current {
	border-bottom:1px solid #fff;
	}

.current-tab-content{display:block}
.current-tab-content-hide{display:none}

.b-tab-wrapper .b-details .items{padding:10px}

.b-tab-wrapper .b-details table {
	width:100%;
}

.b-tab-wrapper .b-details table.title-first{
	width:100%;
	margin-top:0px;
	border:1px solid #d4d4d4;
	font-size:12px;
}
.border-none  {
    border: medium none !important;
}
	
.b-info-block .b-body dt.check-box{ 
padding:0px 3px 15px
}
.b-info-block .b-body dd input.check-box {
    position: relative;
    margin-left:10px;
    margin-top:5px;
}

.clear{clear:both}

.blockmanufacturer li{padding:3px}

.block-items-data li a{background:none!important;padding:5px}
.float-left{float:left}

.float-left-table16{float:left}
.sortTools16{padding: 7px 0 32px!important;}
.padding16{height:20px!important}




.blockmanufacturer16-footer td{padding:0 2px!important}
.blockmanufacturer16-footer h4{background:none repeat scroll 0 0 #383838;margin:0px!important}
.blockmanufacturer16-footer li, .blockmanufacturer16 li{padding:7px 0}
.blockmanufacturer16-footer li a, .blockmanufacturer16 li a{padding: 3px;}

.blockmanufacturer16 td{padding:0 2px!important}



.padding-10{padding:10px}
.shoppers-block-view-all a{text-decoration: none}
.border-bottom-none{border-bottom: none}
.margin-left-5{margin-left:5px}
.padding-top-5{margin-top:5px}


.home-shoppers li{width: 32%;height:80px}


.paging-users-custom{text-align:center; }
.paging-users-custom  .pagination{width: auto}


.gsniprev-view-all span{color:#fff}

.spmgsnipreview-not-found{text-align:center;padding: 0px 20px 20px 20px;}