body {
  font-family: Helvetica,Tahoma;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.aos-all {
  /*width: 1000px;
  max-width: 98%;*/
 /* margin: 10vh auto 0 auto;*/
}

.aos-item {
  display: inline-block;
  float: left;
  /*width: 33.3333%;*/
  /*height: 300px;*/
  padding: 20px;
}

.aos-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}
.page-content.card-block{
    padding:0px;
  }
@media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }
}
