/**************************************************************
                    CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms {
  padding-bottom: 20px; }
#cms #center_column h1 {
  margin-bottom: 25px; }
#cms #center_column h3 {
    border-bottom: medium none;
    font-size: 30px;
    margin: 0;
    padding: 20px 0 17px;
}
#cms #center_column p {
  line-height: 18px; }
#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  font-weight: bold;
  color: #46a74e;
  border-top: 1px solid #d6d4d4; }
  #cms #center_column .list-1 li:first-child {
    border: none; }
  #cms #center_column .list-1 li em {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
    vertical-align: -2px; }
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }
#cms #center_column .testimonials {
  border: 1px solid;
  border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
  margin: 4px 0 13px 0;
  position: relative; }
  #cms #center_column .testimonials .inner {
    border: 1px solid #fff;
    padding: 19px 18px 11px 18px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
    #cms #center_column .testimonials .inner span {
      text-indent: -5000px;
      display: inline-block;
      width: 20px;
      height: 15px; }
      #cms #center_column .testimonials .inner span.before {
        background: url(../img/bl-before-bg.png) no-repeat;
        margin-right: 8px; }
      #cms #center_column .testimonials .inner span.after {
        background: url(../img/bl-after-bg.png) no-repeat;
        margin-left: 8px; }
  #cms #center_column .testimonials:after {
    content: ".";
    display: block;
    text-indent: -5000px;
    position: absolute;
    bottom: -16px;
    left: 21px;
    width: 15px;
    height: 16px;
   }
  #cms #center_column .testimonials + p {
    padding-left: 45px;
    margin-bottom: 18px; }
#cms #center_column p.bottom-indent {
  margin-bottom: 18px; }
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px; }
  #cms #center_column #admin-action-cms p {
    margin: 0; }
    #cms #center_column #admin-action-cms p span {
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #333; }
    #cms #center_column #admin-action-cms p .button {
      font: 700 17px/21px Arial, Helvetica, sans-serif;
      padding: 0;
      border: 1px solid;
      padding: 10px 14px;
      display: inline-block; }
      #cms #center_column #admin-action-cms p .button.publish_button {
        color: #fff;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #0079b6 #006fa8 #012740 #006fa8;
        background: #009ad0;
        background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
        background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.publish_button:hover {
          border-color: #01314e #004b74 #0079b6 #004b74;
          filter: none;
          background: #0084bf; }
      #cms #center_column #admin-action-cms p .button.lnk_view {
        color: #333;
        text-shadow: 1px 1px white;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        background: #f7f7f7;
        background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.lnk_view:hover {
          border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
          filter: none;
          background: #e7e7e7; }
.rte h1 {
    font-size: 40px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    position:relative;
}
.meet_team {
    clear: both;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}
.aboutusHeading {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.personInfo {
    background: #fff none repeat scroll 0 0;
    margin-top: -35px;
    padding: 26px 0;
    position: relative;
    text-align: center;
}
#cms .page-heading{
    color: #92c72a;
    font-weight: 700;
}
#cms .page-subheading{
     font-weight: 700;
     font-size:20px;
     letter-spacing:0;
}
.personAvatar .img-responsive, .img_aboutus img {
    width: 100%;
}
#cms #content-wrapper > section {
    text-align: center;
}
.img_aboutus{
    padding:0;
}


.spaboutus .aboutusImage {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}
.spaboutus .aboutusImage img {
  width:100%;
}
.page-content.page-cms {
  text-align: justify;
}
.spaboutus .aboutusBottom {
  margin-top: 60px;
  padding: 70px 0;
  position: relative;
  z-index: 1;
}
.spaboutus{
  overflow:hidden;
}
.spaboutus .aboutusBottom .aboutusHeading {
  text-align: center;
}
.spaboutus .personBox {
  margin-top: 5px;
  text-align: center;
}
.spaboutus .personBox .personAvatar::after {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.35s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
.spaboutus .personBox .personAvatar {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
  position: relative;
}
.spaboutus .personBox:hover .personAvatar::after {
  opacity: 1;
  visibility: visible;
}
.spaboutus .personBox .personAvatar img {
  width:100%;
}
.spaboutus .personBox:hover .aboutSocial {
  opacity: 1;
  visibility: visible;
}
.aboutSocial {
  bottom: 17px;
  opacity: 0;
  position: absolute;
  right: 17px;
  transition: all 0.35s ease 0s;
  visibility: hidden;
  z-index: 2;
}
.aboutSocial > .fa {
  background-color: #fff;
  border-radius: 3px;
  color: #222;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-top: 6px;
  padding: 0 15px;
  text-align: center;
  width: 40px;
}
.spaboutus .personBox .personInfo h4 {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 5px 0;
}
.spaboutus .personBox .personInfo p {
  color: #777;
  font-size: 12px;
  margin: 0;
}
/* FAQ Page */
.faq-box .panel-default > .panel-heading {
  background:none;
  border-color: #ebebeb;
  padding: 16px 30px;
  position: relative;
}
.faq-box .panel-default > .panel-heading a:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
}
.faq-box .panel-default > .panel-heading a.collapsed:before {
  content: none;
}
.faq-box.panel-group .panel {
  border-radius: 0;
}
.faq-box .panel-title {
  font-size: 16px;
  font-weight: 500;
  padding: 0
}
.faq-box.panel-group .panel + .panel {
  margin-top: 20px;
}
.faq-box .panel-body {
  padding:30px;
  line-height: 28px;
}
/* ------ */
@media(max-width:767px){
  .page-cms #wrapper>.row{
    margin-left:0;
    margin-right:0;
  }
  .page-cms .page-content {
    padding:0;
  }

  .icon-wrapper .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    }
}




/*******************************ELEMENT******************************/
/*service_*/
#cms h1,  #cms h2, #cms h3, #cms h4 {
    font-weight: 700;
}
#cms .container-fluid {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
#cms .container-fluid .layout-column {
    padding-left:15px;
    padding-right:15px;
  }
.widthfitty p {
    margin: 0 auto;
    width: 50%;
}
.feature-box-el {
    display: flex;
}

.feature-box-el i{
  margin-right:10px;
}
.feature-box-el i{
   font-size:32px;
   color:#232530;
}
.service_style2 .feature-box-el i, .service_style3 .feature-box-el i{
   margin-right:15px;
}
.service_style2 .feature-box-el i , .service_style3 .feature-box-el i {
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.service_style2 .feature-box-el i{
     background: #cecece none repeat scroll 0 0;
  color:#fff;
  }
.service_style3 .feature-box-el{
  align-items:flex-start;
}
.service_style3 .feature-box-el i {
    border: 1px solid #cecece;
    border-radius: 50%;
    font-size: 32px;
    height: 68px;
    line-height: 66px;
    padding: 0;
    text-align: center;
    width: 83px;
}
.feature-box-el p{
  padding-top:0;
  margin-bottom:0;
}
.service_ac .feature-box-el{
  align-items:center;
}
.service_style1 .feature-box-el {
    background: #ebebeb none repeat scroll 0 0;
    padding: 15px 20px;
}
.service_style1 .feature-box-el h4 {
  padding: 0;
}
.service_style4 .layout-column .addon-box {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 22px;
}
.feature-box-el .btn-discover {
    display: block;
    padding-top: 5px;
}
.service_bg {
    padding: 50px 0;
}
.service_bg .feature-box-el {
    display: block;
    margin-top: 50px;
}

.service_bg .feature-box-el i {
    border: 2px solid #444;
    border-radius: 50%;
    height: 100px;
    line-height: 100px;
    width: 100px;
  margin-bottom:18px;
}

.service_bg .feature-box-el p {
    font-size: 12px;
}
.service_bg .feature-box-el p + p {
    font-size: 14px;
}
.service_style5 .feature-box-el, .service_style6 .feature-box-el{
  display:block;
}
.flex_service {
    align-items: center;
    display: flex;
  margin-bottom:16px;
}
.flex_service h4{
  margin-bottom:0;
}
.service_style5 .flex_service i, .service_style6 .flex_service i{
  font-size: 30px;
}
.service_style5 .flex_service i {
    background: #48c9b0 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}
.service_style5 {
    padding-top: 40px;
}
.service_style2 .container-fluid, .service_style3 .container-fluid, .service_style4  .container-fluid, .service_style6 .container-fluid{
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
    padding-top: 30px;
}
.service_style6 .feature-box-el {
    display: block;
}
.service_right .addon-box {
    float: left;
    width: 33.333%;
}
.service_right .addon-box:nth-child(1), .service_right .addon-box:nth-child(2) , .service_right .addon-box:nth-child(3) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom:30px;
}
.service_right .feature-box-el i {
    background: #e87a55 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.service_left .addon-box {
    padding-bottom: 30px;
}
.feature-box-el3 .flex_service{
  display:block;
}
.feature-box-el3 i {
    font-weight: 900;
    padding-bottom: 23px;
}
.feature-box-el3 {
    margin-top: 30px;
}
/*TAB*/
#cms .tabs img {
  max-width: 100%;
}
#cms .tabs  .nav-tabs > li{
  margin-right:4px;
}
#cms .tabs li a {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 30px;
    text-transform: capitalize;
}
#cms .tabs .nav-tabs i {
    padding-right: 10px;
}
#cms .tabs .nav-tabs li a::before{
  display:none;
}
#cms .tabs .nav-tabs > li:first-child > a{
  padding-left:31px;
}
.tabs.tab_one .nav-tabs > li{
  background:#f6f6f6;
  margin-right:4px;
  border: none;
}
#cms .tabs .nav-tabs > li > a:hover, .tabs .nav-tabs > li > a:focus, .tabs .nav-tabs > li > a {
  border:none;
  border-radius: 0;
}
.tabs.tab_one .nav-tabs > li a.active{
  background:none;
}
.tabs.tab_one .nav-tabs > li> a.active {
  position:relative;
}
.tabs.tab_one .nav-tabs > li> a.active:before, .tabs.tab_one .nav-tabs > li.active > a:before {
  content: "";
  width:100%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.tabs.tab_one .tab_left .nav.nav-tabs {
    border-bottom: 1px solid #f2f2f2;
}
.tabs.tab_one .tab_right .nav-tabs li a.active,  .tabs.tab_one .tab_right .nav-tabs li:focus,  .tabs.tab_one .tab_right .nav-tabs li:hover {
    background: #fff none repeat scroll 0 0;
    border-bottom-color: #fff;
}
.tabs.tab_one .tab_right .tab-content{
    border: 1px solid #f2f2f2;
}
.tabs .tab-content{
  padding-top:20px;
}
.tabs.tab_one .tab_right .tab-content{
  padding:20px;
}
.tab_two .tab_left .nav.nav-tabs {
    border-bottom: 5px solid #cbcbcb;
}
.tab_two .tab_left .nav li{
    background: #f2f2f2 none repeat scroll 0 0;
  border:1px solid #cbcbcb;
  border-bottom: none;
  margin-bottom: 0;
}
.tab_two .tab_left .nav li a{
  display: block;
  width: 100%;
}
.tab_two .tab_left .nav li a.active {
    background: #cbcbcb none repeat scroll 0 0;
}
.tab_two .tab_right .tab-content{
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 20px;
}
.tab_two .tab_right .nav-tabs, .tab_three .tab_left .nav-tabs{
  display:flex;
}
.tab_two .tab_right .nav-tabs li {
    border: 1px solid #f2f2f2;
    margin: 0;
  flex:1 1 0;
}
.tab_three .tab_left .nav-tabs li{
flex:1 1 0;
}
.tab_three .tab_left .nav-tabs {
  border-bottom: none;
}
.tab_two .tab_right .nav-tabs {
  border-bottom: none;
}
.tab_two .tab_right .addon-box {
  border: 1px solid #f2f2f2;
}
.tab_two .tab_right .nav-tabs li {
  border:none;
}
.tab_two .tab_right .nav-tabs li a.active {
    background: #f2f2f2 none repeat scroll 0 0;
}
.tab_three .tab_right .nav.nav-tabs > li {
    display: inline-block;
    float: none;
}
.tab_three .tab_right .nav.nav-tabs {
    text-align: center;
}
.tab_three .tab_right .nav-tabs li a {
    padding:4px;
}
.tab_three .tab_right .nav-tabs li:first-child a {
    padding-left:0;
}
.tab_vertical .nav-tabs {
    border-bottom: medium none;
    flex-flow: column nowrap;
    min-width: 185px;
    position: relative;
}
.tab_vertical .tab-content img {
  margin-bottom: 20px;
}
.tab_vertical .nav-tabs li{
    float: none;
    margin-bottom: 4px;
    position: relative;
}
.tab_vertical .tab_left .nav-tabs li.active a:before,
.tab_vertical .tab_left .nav-tabs li a.active:before, 
.tab_vertical .tab_left .nav-tabs li:focus a:before, 
.tab_vertical .tab_left .nav-tabs li:hover a:before {
  content: "";
  height: 100%;
  width: 3px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.tab_vertical .tab_left .addon-box {
    float: left;
}
.tab_vertical  .addon-box {
    display: flex;
}
.tab_vertical .nav-tabs li {
    background: #f2f2f2 none repeat scroll 0 0;
}
.tab_vertical  .nav-tabs li a.active {
    border:1px solid #f2f2f2;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.tab_vertical  .tab-content {
    border: 1px solid #f2f2f2;
    margin-left: -5px;
    padding: 10px 20px;
}
.tab_vertical .nav.nav-tabs i {
    display: block;
    margin-bottom: 10px;
    padding-right: 0;
    font-size:20px;
}
.tab_vertical .tab_right .nav-tabs {
    min-width: 130px;
}
.tab_vertical .tab_right .nav-tabs li a {
  text-align:center;
}
/**accordion*/
.panel-title > a.accordion-toggle::before,  a[data-toggle="collapse"]::before {
    float: left;
    margin-right: 1em;
}
 .panel-title > a.accordion-toggle::before, a[data-toggle="collapse"]::before,  .panel-title > a.accordion-toggle.collapsed::before,   a.collapsed[data-toggle="collapse"]::before {
    font-size:18px !important;
}
.panel-group .panel + .panel {
    margin-top: 10px;
}
.accordion .panel-default > .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.accordion_style1 .panel-group .panel {
    border-radius: 0;
}
 .panel-title {
    padding: 6px;
}
.accordion_style1 .panel-default > .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.accordion_style1 .panel-group .panel {
    border-radius: 0;
}
.accordion_style1 .panel-title > a.accordion-toggle::before, .accordion_style1 a[data-toggle="collapse"]::before {
    content: "\f106";
    font-family: "Fontawesome";
}
 .accordion_style1 .panel-title > a.accordion-toggle.collapsed::before, .accordion_style1  a.collapsed[data-toggle="collapse"]::before{
  content: "\f107";
}
.accordion_style2 .accordion_left .panel-title > a.accordion-toggle::before, .accordion_style2 .accordion_left  a[data-toggle="collapse"]::before {
    content: "\f106";
    font-family: "Fontawesome";
}
.accordion_style2 .accordion_left .panel-title > a.accordion-toggle.collapsed::before, .accordion_style2 .accordion_left a.collapsed[data-toggle="collapse"]::before{
  content: "\f107";
}
.accordion_style2 .accordion_right .panel-title > a.accordion-toggle::before, .accordion_style2 .accordion_right a[data-toggle="collapse"]::before, 
.accordion_style3 .accordion_right .panel-title > a.accordion-toggle::before, .accordion_style3 .accordion_right a[data-toggle="collapse"]::before {
    
    content: "";
    font-family: "fontawesome";
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 40px;
}
.accordion_style2 .accordion_right .panel-title > a.accordion-toggle::before, .accordion_style2 .accordion_right a[data-toggle="collapse"]::before{
  left:0;
  background: #cecece none repeat scroll 0 0;
}
.accordion_style3 .accordion_right .panel-title > a.accordion-toggle::before, .accordion_style3 .accordion_right a[data-toggle="collapse"]::before{
  right:-18px;
  background: #00a161 none repeat scroll 0 0;
  color:#fff;
  top:1px;
}
.accordion_style2 .accordion_right .panel-title > a.accordion-toggle.collapsed::before, .accordion_style2 .accordion_right a.collapsed[data-toggle="collapse"]::before, 
.accordion_style3 .accordion_right .panel-title > a.accordion-toggle.collapsed::before, .accordion_style3 .accordion_right a.collapsed[data-toggle="collapse"]::before{
  content: "\f067";
}
.accordion_style3 .accordion_left .panel-title > a.accordion-toggle::before, .accordion_style3 .accordion_left a[data-toggle="collapse"]::before {
    content: "\f105";
   font-family: "fontawesome";
}
.accordion_style3 .accordion_left .panel-title > a.accordion-toggle.collapsed::before, .accordion_style3 .accordion_left a.collapsed[data-toggle="collapse"]::before{
  content: "\f107";
}
.accordion_style2  .panel {
    border:0;
  border-bottom:1px solid #f6f6f6;
    box-shadow: none;
}
.accordion_style2 .accordion_left .panel-body {
    background: #f2f2f2 none repeat scroll 0 0;
  border-top:0 !important;
}
.accordion_style3 .panel-title .accordion_right{
  padding-left:50px;
}
.accordion_style3 .panel.panel-default , .accordion_style2 .accordion_right .panel.panel-default{
  position:relative;
}
.accordion_style2 .accordion_right .panel-title{
  padding-left:50px;
}
.accordion_style3 .accordion_right .panel-heading{
  padding:6px 15px;
}
.accordion_style3 .accordion_right .panel{
  border:0;
}
.accordion_style3 .accordion_left .panel-title, .accordion_style3 .accordion_left .panel-heading{
  padding:0;
}
.accordion_style3 .accordion_left .panel-title a.collapsed{
  background:#f2f2f2;
  padding:12px 30px;
  display:block;
    color:#303030;  
}.accordion_style3 .accordion_left .panel-title a{
    color:#fff;  
   background:#111;
   display:block;
   padding:12px 30px;
   
}
/*list and icon*/
.list_style .addon-box > ul {
    margin: 0 auto;
    text-align: center;
}
.list_style ul {
    display: flex;
    justify-content: center;
}
.list_style ul li {
    border-radius: 50%;
    font-size: 23px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
  margin-right:15px;
}

.list_style2 ul li{
  border:2px solid #cecece;
  color:#cecece;
}
.list_style3 ul li{
  background:#f2f2f2;
}
.list_style4.list_style ul li{
  border-radius:3px;
  background:#f2f2f2;
}
.list_style ul li:hover{
  background:#111;  
}.list_style ul li:hover a{
  color:#fff;
}
.list_style .container-fluid{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom:1px solid #f2f2f2;
}
.list_stylebg.list_style ul li a{
  color:#fff;
}
.list_stylebg .facebook {
    background: #3b5998 none repeat scroll 0 0;
}
.list_stylebg .twitter {
   background: #00abf1 none repeat scroll 0 0;
}
.list_stylebg .gplus {
   background: #d62424 none repeat scroll 0 0;
}
.list_stylebg .instagram {
   background: #e17e04 none repeat scroll 0 0;
}
.list_stylebg .pinterest {
   background: #d5c081 none repeat scroll 0 0;
}
.style_color {
    border-bottom: 1px solid #fff;
    margin-bottom: 30px !important;
    padding: 30px;
}
.style_bg li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 2px solid #fff;
}
.list_style .style_bg li.gplus:hover{
   background: #d62424 none repeat scroll 0 0 !important;
     border: 2px solid #d62424;
}
.list_style .style_bg li.pinterest:hover{
   background: #d5c081 none repeat scroll 0 0 !important;
     border: 2px solid #d5c081;
}
.list_style .style_bg li.instagram:hover{
   background: #e17e04 none repeat scroll 0 0 !important;
     border: 2px solid #e17e04;
}
.list_hoz .container {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 25px;
    padding: 50px 0 20px;
}
.list_center .fa, .list_right .fa{
    color: #fff;
    height: 35px;
    line-height: 34px;
    text-align: center;
    width: 35px;
}.list_center .fa{
   border-radius: 50%;
   
}
 .list_right .fa{
  background:#ccc ; 
 }
.list_center.list_center_f i{
  background:#ccc ;
}
.list_center .fa.fa-twitter{
   background: #55acee;
}
.list_center .fa.fa-vimeo{
   background: #3b5998;
}
.list_center .fa.fa-clock-o{
   background: #dd4d40;
}
.list_hoz li, .list_hoz2 li{
  margin-bottom:10px;
}
.list_hoz .list_right li:hover .fa, .list_hoz2  .list_right li:hover .fa, .list_hoz .list_center li:hover .fa, .list_hoz2  .list_center li:hover .fa{
  background: #111;
}
.list_hoz2 i, .list_hoz i{
  margin-right:10px;
}
.list_hoz2 .list_right .fa{
  border-radius:50%;
  background:none;
  border:2px solid #ccc;
  color:#ccc;
}
.list_hoz2 .list_right li:hover .fa{
  border:2px solid #111;
}
.list_style4.list_style .container{
  border-bottom:0;
}
/*text and image*/
.banner_style .banner_left a {
    float: left;
    margin-right: 25px;
    overflow: hidden;
    position: relative;
}
.banner_style .banner_left a img, .banner_style .banner_right a img{
  width:auto;
  transition:all 0.3s ease 0s;
}
.banner_style.style1 a img:hover{
  transition:all 0.3s ease 0s;
  transform:scale(1.1);
}
.banner_style .banner_right a {
    float: right;
    margin-left: 25px;
    margin-right: 0;
}
.banner_style  .wrapper-banner .box-content{
  padding-left:0;
  padding-bottom:0;
  vertical-align:middle;
}
.banner_style .banner_top img, .banner_style .banner_bottom img{
  border-radius:50%;
}
.banner_style .banner_top a {
    float: left;
    margin-right: 30px;
}
.banner_style .banner_bottom a{
  float:right;
   margin-left: 30px;
}
.banner_style .container {
    border-bottom: 1px solid #f2f2f2;
    padding: 40px 0;
}
.banner_style .banner_top {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.banner_style .jms-banner h4 {
    font-size: 18px;
}
.style_left img {
    padding-bottom: 20px;
}
.style_center img {
    padding-top: 10px;
}
/*Responsive block*/
.cms-responsive-blocks .layout-column{
  margin-bottom:30px;
}
.cms-responsive-blocks .layout-column .addon-box{
  padding:15px;
}
.cms-responsive-blocks .layout-column.col-lg-6 .addon-box, .cms-responsive-blocks .layout-column.col-lg-4 .addon-box, 
.cms-responsive-blocks .layout-column.col-lg-3 .addon-box,
.cms-responsive-blocks .layout-column.col-lg-2 .addon-box,.cms-responsive-blocks .layout-column.col-lg-8 .addon-box{
height:260px;
}
.cms-responsive-blocks .layout-column.col-lg-3 .addon-box{
height:115px;
}
.cms-responsive-blocks .layout-column.col-lg-6.colum_405 .addon-box {
    height: 405px;
}
/*Border*/
.cms-separators .layout-column {
    margin-bottom: 50px;
    text-align:center;
}

.border1{
  border:1px solid #111;
}
.border2 {
    border: 1px dashed #111;
}
.border3 {
    border: 1px dotted #111;
}
.border4 {
    border: 5px inset #111;
  height:30px;
}
.border5 {
  height:30px;
    border: 5px ouset #111;
}
.border6 {
    border: 5px double #111;
  height:30px;
}
.border7 {
    border: 5px groove #111;
  height:30px;
}
.border8 {
   border-width:5px;  
    border-style:ridge;
  height:30px;
}
.border9, .border10 {
    align-items: center;
    display: flex;
    justify-content: center;
}
.border-dashed {
    border: 1px dashed #111;
    flex:1 1 0;
}
.border9 p , .border10 span {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.border-solid{
  border:1px solid #111;
  flex:1 1 0;
}
.border11 {
    align-items: center;
    display: flex;
}
.border-behind {
    border: 1px dotted #111;
    margin-left: 20px;
    flex:1 1 0;
}
/*Teams*/
#myCarousel .personBox .img-responsive {
    width: auto !important;
}
#myCarousel .personBox {
    display: flex;
}
#myCarousel .personInfo {
    margin-left: 49px;
    margin-top: 0;
    text-align: left;
}
.carousel-indicators li {
    background: #ccc none repeat scroll 0 0;
    border: 0 none;
}
.carousel-indicators li a.active {
    background-color: #111;
}
#myCarousel.carousel{
  clear:both;
}
#myCarousel .carousel-control{
  top:31%;
}
#myCarousel .carousel-control.left, #myCarousel .carousel-control.right{
  background-image:none;
}

.google-map1 {
  height: 400px;
  width: 100%;
}
.cms-google-maps .page-content .addon-title.center {
  text-align: center;
}
@media(max-width:767px){
  .page-cms #wrapper>.row{
    margin-left:0;
    margin-right:0;
  }
  .page-cms .page-content {
    padding:0;
  }
}