/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

body {
  background: rgba(136, 136, 136, 0.14); }

.container {
  background: #fff; }

.top-bar .container > .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.top-bar img.logo {
  max-height: 56px; }

.top-bar .jms-megamenu .nav > li > a {
  padding: 0 14px; }

#jms_ajax_search.open .search-wrapper {
  top: 95px;
  visibility: visible; }

#cart_block .icon .icon-basket {
  color: rgba(0, 0, 0, 0.7); }

.container {
  padding: 0 30px;
  width: 1200px; }

.top-bar .container {
  padding-left: 15px;
  padding-right: 15px; }

#index .section-slider .container {
  padding-left: 0;
  padding-right: 0; }

#index .fix-container .container {
  padding: 0 45px; }

/* Slider */
.h4-small-text {
  font-family: "Lora";
  line-height: 1; }

.h4-large-text {
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center; }

.h4-button .btn {
  background: #000;
  color: #fff;
  padding: 0 40px;
  border: 2px solid #fff;
  line-height: 37px; }
  .h4-button .btn:hover {
    border: 2px solid #000; }

/* -------- */
/* Services */
.section-services .container .row {
  margin-left: 0;
  margin-right: 0;
  background: #f7f7f7;
  padding: 27px 0; }

/* -------- */
/* Footer Navbar */
.footer-navbar {
  background: transparent;
  padding: 0; }
  .footer-navbar .container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: #000 !important; }

/* -------- */
/* Home4 Responsive */
@media (max-width: 991px) {
  .top-bar .mid {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
    .top-bar .mid .menu-button {
      color: #000; }
  .top-bar .left .addon-box {
    text-align: left; }
  .top-bar .menu-button {
    position: static; }
  .top-bar .container {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; } }

@media (max-width: 767px) {
  .right-items .addon-box:first-child {
    display: none; }
  .section-banners .layout-column {
    margin-bottom: 15px; }
    .section-banners .layout-column:last-child {
      margin-bottom: 0; }
  .section-banners .jms-banner img {
    width: 100%; }
  #index .fix-container .container {
    padding: 0 15px; } }

@media (max-width: 480px) {
  .product-no-carousel .ajax_block_product {
    width: 100%; }
  .h4-button .btn {
    font-size: 12px;
    line-height: 28px;
    padding: 0 15px; } }

@media (max-width: 360px) {
  .h4-button {
    left: 17% !important; }
  .top-bar .left {
    width: 50%; }
  .top-bar .right-items {
    width: 50%; } }

/* ------ */
.home4 .breadcrumb {
  margin: 0 auto; }

#wrapper {
  padding-top: 40px; }

#index #wrapper {
  padding-top: 0; }

@media (min-width: 992px) {
  .home4 .breadcrumb {
    width: 1200px; } }
