/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

body#index {
  background-color: #000; }

.navbar-fixed-top, #index .top-bar.navbar-fixed-top {
  background: rgba(0, 0, 0, 0.76); }

#index .top-bar {
  background: transparent; }

.top-bar {
  background: rgba(0, 0, 0, 0.76); }
  .top-bar .container-fluid {
    padding-left: 3.5%;
    padding-right: 3.5%; }
    .top-bar .container-fluid > .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .top-bar img.logo {
    max-height: 56px; }
  .top-bar #jms_ajax_search.default > a.icon, .top-bar .wishlist-box a, .top-bar #cart_block .icon {
    color: #fff; }

#index .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; }

.jms-megamenu .nav > li > a {
  color: #fff; }

/* Slider */
.h10-medium-text {
  line-height: 1;
  font-family: 'Italianno', cursive; }

.h10-large-text {
  font-family: 'Lora', serif;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center; }

.h10-small-text {
  line-height: 1.4;
  text-align: center; }

.h10-button a {
  border: 2px solid #fff;
  color: #fff;
  background: none;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0 40px; }
  .h10-button a:hover {
    background: #000;
    border: 2px solid #000; }

/* ------ */
.custom-title .addon-desc {
  color: #bc9c72;
  font-family: "Italianno";
  font-size: 38px;
  line-height: 1.2; }

.custom-title h3 {
  color: #fff;
  font-family: "lora";
  font-size: 36px;
  line-height: 1.4; }

.product-preview.style3 .product-link {
  color: #fff; }

.product-preview.style3 .content_price .new, .product-preview.style3 .content_price .old {
  color: #fff; }

/* Newsletter */
.home10-text {
  display: block !important;
  visibility: visible !important;
  text-align: center; }
  .home10-text .cap {
    color: #bc9c72;
    font-family: "Italianno","sans-serif";
    font-size: 66px;
    margin-bottom: 0;
    line-height: 1; }
  .home10-text h3 {
    color: #ffffff;
    font-family: "Lora","sans-serif";
    font-size: 58px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px; }
  .home10-text .desc {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    margin: auto auto 25px;
    max-width: 420px; }

.section-newsletter {
  padding: 148px 0; }

/* ------ */
/* Blogs */
.section-blog {
  background: #111;
  padding: 80px 0; }

.blog-box .post-title, .blog-box .view-comment span, .blog-box .post-intro {
  color: #fff; }

.blog-box .cat-box a {
  background-color: #bc9c72; }

.blog-box .view-comment span.view {
  color: #bc9c72; }

.blog-box .post-title {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.blog-box .post-title:hover {
  color: #bc9c72; }

/* ------ */
/* Testimonials */
.section-testimonials {
  background: #111;
  padding: 25px 0; }

.testimonial-wrapper .testimonial-comment {
  color: #fff; }

.testimonial-wrapper .info_people, .testimonial-wrapper .info_people, .testimonial-wrapper .info_people .show_office {
  color: #fff;
  opacity: 0.7; }

/* ------ */
.section-brands {
  background: #111;
  padding: 34px 0; }

.brand-wrapper .addon-title h3 {
  border-right: 2px solid #e4e4e4;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

.section-story {
  padding: 100px 0; }
  .section-story .text-wrapper {
    color: #fff; }
  .section-story .custom-title-box .btn {
    background-color: #bc9c72;
    color: #fff;
    border: 1px solid #fff; }
  .section-story .container > .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

/* Home10 Responsive */
@media (max-width: 1199px) {
  .h10-button a {
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 30px;
    padding: 0 25px; } }

@media (max-width: 991px) {
  .top-bar .mid {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
    .top-bar .mid .menu-button {
      color: #fff; }
  .top-bar .left .addon-box {
    text-align: left; }
  .top-bar .menu-button {
    position: static; }
  .top-bar .container-fluid {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; } }

@media (max-width: 767px) {
  #cart_block .icon .ajax_cart_quantity {
    color: #000; }
  .right-items .addon-box:first-child {
    display: none; }
  .brand-wrapper .addon-title h3 {
    border-right: none; } }

@media (max-width: 480px) {
  .custom-title .addon-desc {
    font-size: 25px;
    line-height: 1.1; }
  .custom-title h3 {
    font-size: 30px;
    line-height: 1.1; }
  .section-banners .left {
    width: 100%;
    margin-bottom: 20px; }
  .section-banners .right {
    width: 100%; }
  .h10-button a {
    border: 1px solid #fff;
    font-size: 8px;
    line-height: 15px;
    padding: 0 8px; }
  .home10-text .cap {
    font-size: 35px; }
  .home10-text h3 {
    font-size: 40px; }
  .section-newsletter {
    padding: 70px 0; }
  .section-blog {
    padding: 40px 0; }
  .section-story .container > .row {
    display: block; }
  .section-story {
    padding: 50px 0; }
    .section-story .left {
      margin-bottom: 20px; } }

@media (max-width: 360px) {
  .top-bar .left {
    width: 50%; }
  .top-bar .right-items {
    width: 50%; }
  .custom-title .addon-desc {
    font-size: 17px !important; }
  .section-story .text-wrapper {
    font-size: 12px; }
  .section-newsletter {
    padding: 35px 0; }
  .home10-text .cap {
    font-size: 32px; }
  .home10-text h3 {
    font-size: 28px; } }

/* ------- */
.jms-popup #newsletter_block_left .home10-text {
  display: none !important;
  visibility: hidden !important; }

#index #footer {
  margin-top: 0; }

#footer {
  margin-top: 60px; }
