/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

.container {
  width: 1170px; }

/* Header */
.header-top {
  background: #339059; }

.header-bottom img.logo {
  max-height: 56px; }

.header-bottom .container > .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* ------ */
/* Top content */
.section-top-content {
  background: #f4f4f4;
  position: relative; }
  .section-top-content:before {
    content: "";
    width: 100%;
    height: 63px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0; }

/* ------ */
/* Slider */
.h6-small-text {
  line-height: 1;
  font-family: 'Lora', serif; }

.h6-large-text {
  line-height: 1;
  font-weight: 700; }

.h6-price {
  line-height: 1;
  font-weight: 700; }

.h6-link a {
  color: #6d6d6d;
  text-decoration: underline;
  text-transform: uppercase; }
  .h6-link a:hover {
    color: #000; }

/* ------- */
/* Banner Text */
.banner-text .layout-column {
  padding-left: 0;
  padding-right: 0; }

.banner-text .container {
  background-color: #339059;
  background-image: url("../img/demo/home6/gift_newslater.png");
  background-repeat: no-repeat;
  width: 1140px;
  padding-left: 0;
  padding-right: 0;
  padding: 25px; }
  .banner-text .container > .row {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.banner-text .find-us {
  margin-bottom: 0;
  text-align: right; }

.banner-text .jms-banner .text {
  color: #fff;
  font-size: 28px;
  text-align: left;
  line-height: 1.4; }

/* ------ */
/* Categories */
.section-categories {
  position: relative; }
  .section-categories:after {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%; }

/* ------ */
.blog-box .cat-box a {
  background: #339059; }

/* Newsletter */
.section-newsletter {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 15px center !important;
  padding: 50px 10px; }
  .section-newsletter .container {
    padding-left: 0;
    padding-right: 0; }
    .section-newsletter .container > .row {
      margin-left: 0;
      margin-right: 0; }
  .section-newsletter .layout-column {
    padding-left: 0;
    padding-right: 0;
    background-size: 80% auto !important;
    background-repeat: no-repeat; }

#newsletter_block_left .home3-text {
  display: block !important;
  visibility: visible !important; }
  #newsletter_block_left .home3-text h3 {
    color: #212121;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px; }
  #newsletter_block_left .home3-text .desc {
    color: #212121;
    line-height: 1.5;
    margin: auto auto 25px; }

#newsletter_block_left #newsletter-input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  color: #000; }

#newsletter_block_left .form-group *::-moz-placeholder {
  color: #000; }

#newsletter_block_left .input-email::before {
  color: #000; }

#newsletter_block_left .newsletter-btn {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  line-height: 38px; }
  #newsletter_block_left .newsletter-btn:hover {
    border: 1px solid #000; }

/* ------ */
/* Home6 Responsive */
@media (max-width: 991px) {
  .header-bottom .mid {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
  .header-bottom .left .addon-box {
    text-align: left; }
  .header-bottom .menu-button {
    position: static; }
  .header-bottom .container {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; }
  .section-top-content:before {
    content: none; }
  .section-top-content .left {
    display: none; }
  .section-top-content .right .addon-box:nth-child(1) {
    display: none; }
  .banner-text .jms-banner .text {
    font-size: 26px; } }

@media (max-width: 767px) {
  .section-banners .layout-column {
    margin-bottom: 20px; }
    .section-banners .layout-column:last-child {
      margin-bottom: 0; }
  #cart_block .icon .ajax_cart_quantity {
    background: #339059 !important;
    color: #fff; }
  .banner-text .container > .row {
    display: block; }
  .banner-text .jms-banner .text {
    text-align: center; }
  .banner-text .find-us {
    text-align: center; }
  .banner-text .layout-column {
    margin-bottom: 20px; }
    .banner-text .layout-column:last-child {
      margin-bottom: 0; } }

@media (max-width: 360px) {
  .banner-text .jms-banner .text {
    font-size: 21px; } }

/* ------- */
.jms-popup #newsletter_block_left .home3-text {
  display: none !important;
  visibility: hidden !important; }

@media (min-width: 992px) {
  .home6 .product-carousel-wrapper .owl-theme .owl-controls div.owl-prev,
  .home6 .product-carousel-wrapper .owl-theme .owl-controls div.owl-next {
    top: 35%; } }

#index #footer {
  margin-top: 0; }

#footer {
  margin-top: 60px; }
