@charset "UTF-8";
.add-to-cart .fa-check {
  display: none;
  margin-right: 7px; }

.add-to-cart.checking:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-animation: 450ms linear 0s normal none infinite running load-spin;
  animation: 450ms linear 0s normal none infinite running load-spin;
  border-bottom: 1px solid #fff;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-left-color: transparent !important;
  border-radius: 50%;
  border-right-color: transparent !important;
  border-style: solid;
  border-top: 1px solid #fff;
  border-width: 1px;
  content: " ";
  display: inline-block;
  height: 15px;
  position: relative;
  right: 0;
  top: -1px;
  margin-right: 6px;
  -webkit-transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  -o-transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  vertical-align: middle;
  width: 15px; }

.add-to-cart.checked .fa-check {
  display: inline-block; }

.pd-left-content .jms-videos {
  position: absolute;
  right: 10px;
  top: 0; }

.pb-left-column .images-container .js-arrows {
  display: none; }

.pb-left-column .images-container .image-box {
  position: relative; }
  .pb-left-column .images-container .image-box .layer {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }

.pb-left-column .images-container .thumb-box {
  margin-top: 20px;
  position: relative; }
  .pb-left-column .images-container .thumb-box .js-qv-mask {
    display: block;
    max-height: 100%;
    overflow: hidden; }
    .pb-left-column .images-container .thumb-box .js-qv-mask ul {
      margin-bottom: 0;
      white-space: nowrap; }
      .pb-left-column .images-container .thumb-box .js-qv-mask ul > li.thumb-container {
        display: inline-block;
        margin-right: 10px;
        width: 23.4%;
        margin-bottom: 0; }
        .pb-left-column .images-container .thumb-box .js-qv-mask ul > li.thumb-container img {
          cursor: pointer;
          width: 100%; }
  .pb-left-column .images-container .thumb-box .scroll-box-arrows i {
    background: #fff none repeat scroll 0 0;
    color: #7f7f7f;
    cursor: pointer;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: calc(50% - 10px);
    border-radius: 20px;
    width: 50px;
    overflow: hidden;
    display: block;
    border: 1px solid #e5e5e5; }
    .pb-left-column .images-container .thumb-box .scroll-box-arrows i.left {
      left: 0; }
    .pb-left-column .images-container .thumb-box .scroll-box-arrows i.right {
      right: 0; }

.pb-left-column .product-cover {
  position: relative; }
  .pb-left-column .product-cover .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .pb-left-column .product-cover .layer:hover {
      cursor: pointer; }

.product-images li {
  margin-bottom: 10px; }
  .product-images li:last-child {
    margin-bottom: 0; }

/* Info */
.product-layout-3columns .column-right {
  border: 1px solid #f2f3f4;
  padding: 20px; }

.pd-right-content h2 {
  font-family: "Lora","sans-serif";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0; }

.pd-right-content .content_price {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px; }
  .pd-right-content .content_price .price.new {
    font-size: 28px;
    line-height: 1.5; }
  .pd-right-content .content_price .price.old {
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 20px;
    text-decoration: line-through; }

.pd-right-content .product-information {
  margin-top: 16px; }

.pd-right-content .product-desc {
  line-height: 1.5; }

.pd-right-content .feature-list {
  margin-top: 15px; }
  .pd-right-content .feature-list li {
    color: rgba(80, 80, 80, 0.79);
    font-size: 13px;
    padding-left: 10px;
    position: relative; }
    .pd-right-content .feature-list li:before {
      background: #0077bc none repeat scroll 0 0;
      border-radius: 50%;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      top: 12px;
      width: 5px; }
    .pd-right-content .feature-list li span {
      color: #000000;
      font-weight: 500; }

.pd-right-content .product-actions {
  margin-top: 35px; }

.pd-right-content .add-bottom {
  margin-top: 10px; }

.pd-right-content .product-customization {
  border-top: 1px solid #f0f1f3;
  margin-top: 35px;
  padding-top: 25px;
  margin-bottom: 35px; }

.pd-right-content .product-customization h3 {
  color: #333e48;
  margin: 0;
  padding-bottom: 10px; }

.pd-right-content .product-customization .product-customization-item .product-message {
  background: #f5f5f5 none repeat scroll 0 0;
  border: medium none;
  padding: 15px;
  width: 100%; }

.pd-right-content .product-customization .product-customization-item small {
  float: right !important;
  font-size: 12px; }

.pd-right-content .product-customization button {
  border: medium none;
  border-radius: 25px;
  color: #fff;
  padding: 5px 20px; }

.pd-right-content .product-customization ul li {
  margin: 20px 0; }

.pd-right-content .product-customization .custom-file {
  background: #f1f1f1 none repeat scroll 0 0;
  color: #7a7a7a;
  display: block;
  height: 45px;
  line-height: 44px;
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
  width: 100%; }

.pd-right-content .product-customization .file-input {
  cursor: pointer;
  height: 45px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.pd-right-content .product-customization .custom-file button {
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0; }

.product-actions .product-add-to-cart {
  margin-top: 30px; }
  .product-actions .product-add-to-cart .action-box {
    margin-top: 20px; }
    .product-actions .product-add-to-cart .action-box a {
      color: #4e4e4e;
      cursor: pointer; }
      .product-actions .product-add-to-cart .action-box a i {
        display: inline-block;
        font-size: 18px;
        margin-right: 5px;
        position: relative;
        top: 2px; }

.product-quantity {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(119, 119, 119, 0.17);
  padding-bottom: 25px; }
  .product-quantity .add-to-cart {
    line-height: 40px;
    border: none;
    background: #000;
    color: #fff; }
    .product-quantity .add-to-cart:hover {
      opacity: 0.8;
      background: #A67E2E; }
    .product-quantity .add-to-cart.disabled .text-addcart {
      display: none; }
    .product-quantity .add-to-cart.disabled .text-outofstock {
      display: inline-block; }
    .product-quantity .add-to-cart .text-outofstock {
      display: none; }
  .product-quantity .add-bottom {
    width: 100%; }
  .product-quantity .qty {
    margin-right: 20px; }
    .product-quantity .qty .input-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 25px;
      position: relative;
      width: 100px; }
  .product-quantity #quantity_wanted {
    width: 50px;
    padding: 0;
    text-align: center;
    height: 40px;
    border: none;
    border: 1px solid rgba(129, 129, 129, 0.25);
    background: #fff; }
    .product-quantity #quantity_wanted:focus {
      border: 1px solid #000; }
  .product-quantity .btn-touchspin {
    background: transparent none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 20px;
    margin: 0;
    max-width: unset;
    padding: 0;
    width: 25px;
    z-index: 10;
    font-size: 14px;
    background: #ececec; }
  .product-quantity .bootstrap-touchspin-up {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid rgba(129, 129, 129, 0.25);
    border-left: none; }
  .product-quantity .bootstrap-touchspin-down {
    left: 0;
    position: absolute;
    top: 0;
    border-right: none;
    border: 1px solid rgba(129, 129, 129, 0.25);
    border-right: none; }

.product-add-to-cart .other-info {
  margin-bottom: 0; }
  .product-add-to-cart .other-info label {
    margin-bottom: 0;
    font-weight: 700;
    color: #000; }
  .product-add-to-cart .other-info li {
    line-height: 40px;
    color: #4e4e4e; }

.product-add-to-cart .add .other-info, .product-add-to-cart .add .availability_block {
  display: none; }

.product-add-to-cart .add-bottom .add-to-cart {
  display: none; }

.product-add-to-cart .add-bottom .other-info, .product-add-to-cart .add-bottom .availability_block {
  display: block; }

.product-actions .product-variants .product-variants-item {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  .product-actions .product-variants .product-variants-item:last-child {
    margin-bottom: 0; }
  .product-actions .product-variants .product-variants-item > span {
    margin-right: 5px;
    color: #1b1919;
    font-weight: 700;
    margin-right: 20px;
    min-width: 40px; }
  .product-actions .product-variants .product-variants-item select {
    height: 22px; }
  .product-actions .product-variants .product-variants-item .input-radio:checked + span, .product-actions .product-variants .product-variants-item .input-radio:hover + span {
    border-bottom: 2px solid #1b1919; }

.product-actions .product-variants .color {
  border-radius: 50%;
  display: block;
  height: 25px;
  width: 25px;
  position: relative;
  -webkit-box-shadow: 1px 1px 3px rgba(136, 136, 136, 0.19);
  box-shadow: 1px 1px 3px rgba(136, 136, 136, 0.19); }

.product-actions .product-variants .input-color {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  margin: 0; }

.product-actions .product-variants ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .product-actions .product-variants ul li {
    position: relative;
    margin-right: 15px; }
    .product-actions .product-variants ul li:last-child {
      margin-right: 0; }

.product-actions .product-variants .input-radio, .product-actions .product-variants .radio-label {
  width: 25px;
  height: 25px;
  display: block; }

.product-actions .product-variants .input-radio {
  margin: 0;
  opacity: 0;
  position: relative;
  z-index: 2;
  cursor: pointer; }

.product-actions .product-variants .radio-label {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: #1b1919;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  z-index: 1; }

.product-actions .product-variants .input-color, .product-actions .product-variants .color {
  cursor: pointer; }

.availability_block #product-availability, .availability_block .product-quantities {
  line-height: 40px;
  display: block; }

.availability_block label {
  margin-bottom: 0;
  font-weight: 700;
  color: #000; }

.availability_block span {
  color: #4e4e4e; }

#product-availability .product-available {
  font-size: 0;
  background: transparent url("../img/icon/icon_check.png") repeat scroll 50% 50%;
  display: inline-block;
  font-size: 0;
  height: 13px;
  margin-right: 2px;
  position: relative;
  top: -2px;
  width: 13px; }

#product-availability .product-last-items, #product-availability .product-unavailable {
  color: #ff9a52; }

#more_info_block {
  /*margin-top: 70px;*/
  margin-bottom: 55px; }
  #more_info_block .tab-content > .tab-pane {
    display: none; }
    #more_info_block .tab-content > .tab-pane.active {
      display: block; }
  #more_info_block .nav-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
    #more_info_block .nav-tabs > li:after {
      content: none; }
    #more_info_block .nav-tabs > li a:after {
      width: 100%;
      background: #e4e4e4; }
    #more_info_block .nav-tabs > li a {
      color: rgba(0, 0, 0, 0.5);
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize; }
      #more_info_block .nav-tabs > li a.active {
        color: #000; }
        #more_info_block .nav-tabs > li a.active:after {
          background: #000; }

.card-body .product-features h3 {
  color: #111;
  font-size: 15px;
  margin: 0; }

.card-body label {
  color: #111;
  font-size: 15px;
  font-weight: 500;
  margin: 0 5px 5px 0;
  padding: 0; }

/* Pack */
.product-pack .pack-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden; }

.product-pack h3 {
  font-size: 16px;
  padding-bottom: 25px;
  text-transform: capitalize;
  color: #000; }

.product-pack .card {
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 0.75rem;
  position: relative; }

.product-pack .pack-product-container .pack-product-name, .product-pack .pack-product-container .pack-product-price, .product-pack .pack-product-container .pack-product-quantity {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product-pack .pack-product-container .pack-product-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  font-size: 12px; }

.pack-product-container .mask > img {
  margin-left: -15px;
  max-width: 100px; }

/* ------ */
/* Video */
.jms-videos {
  position: relative; }

.popup-active h3::after {
  bottom: 20px;
  color: #ccc;
  content: "";
  font-family: "fontawesome";
  font-size: 40px;
  margin-left: 10px; }

.popup-active h3 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  padding-bottom: 0;
  vertical-align: middle; }

.popup-active h3 {
  cursor: pointer; }

.popup-active h3 {
  font-size: 0; }

/* ------ */
.product-actions .product-variants input[type="radio"]:checked + .color:after,
.input-radio:checked + .color:after {
  background: #1b1919 none repeat scroll 0 0;
  bottom: -7px;
  content: "";
  height: 2px;
  left: 3px;
  position: absolute;
  width: 20px; }

.share-group {
  border-top: 1px solid #f0f1f3;
  margin-top: 30px;
  padding-top: 25px; }

/* image modal*/
#product-modal .modal-body .left img {
  width: 100%; }

.thumbnails.js-thumbnails {
  height: 100%;
  left: calc(100% + 20px);
  position: absolute;
  top: 0;
  padding: 40px 0;
  width: 120px; }

.thumbnails.js-thumbnails .js-modal-mask {
  height: 100%;
  overflow: hidden; }

.thumbnails.js-thumbnails .image-box {
  height: 100%;
  overflow: hidden; }

.thumbnails.js-thumbnails .arrows.js-modal-arrows .material-icons {
  position: absolute;
  width: 100%;
  font-size: 35px;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer; }

.thumbnails.js-thumbnails .arrows.js-modal-arrows i {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer; }

.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-up {
  top: 0; }

.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-down {
  bottom: 0; }

/* ------ */
/* -------- */
.collapse.show {
  visibility: visible; }

.featured-products {
  margin-top: 50px; }

/* Product 3 column */
.product-layout-3columns .pd-right-content h2 {
  font-size: 26px; }

.product-layout-3columns .pd-right-content .content_price .price.new {
  font-size: 22px; }

.product-layout-3columns .product-desc {
  margin-top: 15px; }

/* ------ */
/* Responsive */
/* ------ */
