@media (max-width: 991px) {
	.rtl .top-bar .container-fluid {
	  padding-right: 15px;
	  padding-left: 55px;
	}
	.rtl .top-bar .mid {
	  left: 15px;
	  right: auto;
	}
	.rtl .top-bar .left .addon-box {
	  text-align: right;
	}
}