/* Top bar */
    .rtl .header-bottom .right-items .addon-box:first-child {
      border-left: 2px solid #f5f5f5;
      border-right: none;
    }
  /* ------ */
  @media(max-width: 991px) {
  	.rtl .header-bottom .container-fluid {
	  padding-right: 15px;
	  padding-left: 55px;
	}
	.rtl .header-bottom .left {
	  left: 15px;
	  right: auto;
	}
	.rtl .header-bottom .mid .addon-box {
	  text-align: right;
	}
  }