* { direction: rtl !important; }
#page { text-align: right !important; }
.col-lg-1, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-md-1, 
.col-md-10, 
.col-md-11, 
.col-md-12, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-sm-1, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4,
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-xs-1, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9{
  float: right;
}
.pull-left{
  float: right!important;
}
.pull-right{
  float: left!important;
}
th, td {
    text-align: right!important;
}
.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > th, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > th, 
.table-bordered > tfoot > tr > td{
  text-align: center!important;
}
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"], 
.radio input[type="radio"], 
.radio-inline input[type="radio"] {
    margin-left: 0;
    margin-right: -20px;
    position: absolute;
}
.date-select-form > div {
    display: inline-block;
    margin-left: 30px;
    margin-right: 0;
}
.topbar .topbar-right .addon-box {
    float: left;
}

#jmstools {
  right: -270px;
  left: auto; }
  #jmstools.jmsopen {
    left: auto !important;
    right: 0 !important; }

.box.ajax_cart_quantity {
    margin-left: 0;
    margin-right: 25px;
}


#productsSortForm .select {
    text-align: right;
}
.sort-select .selector::before{
  left: 0;
  right: auto;
}
#layered_block_left .nomargin a span{
  float: left;
}
.products-list-in-row .preview, .products-list-in-row .product-info , .products-list-in-row .list_info {
    float: right;
}
.products-list-in-row .product-info {
  text-align: right;
}

.option {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
.product-util .product-btn {
    float: right;
}
div.selector::before {
    left: 10px;
    right: auto !important;
}
.social-sharing:first-child {
    margin-right: 0;
}
#my-account .myaccount_lnk_list .fa {
    margin-left: 7px;
    margin-right: 0;
}

.fs-pager-wrapper a:last-child {
  margin-right: 8px;
}
.fs-pager-wrapper a:first-child {
  margin-right: 0;
}
/* Mobile Menu */
    .rtl .close-button {
      right: auto !important;
      left: 25px !important; 
    }

    .rtl #off-canvas-menu ul.nav > li > a > em {
      float: left !important;
      transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg); 
    }
    .rtl #off-canvas-menu ul.nav li > a > em {
        right: auto;
        left: 10px;
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .rtl #off-canvas-menu li.open .dropdown-menu {
      text-align: right; 
    }
    .rtl .img-menu .text-box {
      padding-right: 2.33em;
      padding-left: 0;
    }
    .rtl #mobile-vermegamenu .nav [class^="icon-"], 
    .rtl #mobile-vermegamenu .nav [class*=" icon-"], 
    .rtl #mobile-vermegamenu .nav .fa {
      margin-left: 10px;
      margin-right:0;
    }
    .rtl #mobile-vermegamenu li > a em {
      float: left;
      left: 10px;
      right: auto;
      transform: scaleX(-1);
    }
    .rtl .ver-menu-mobile .ver-btn .fa-bars {
      margin-left: 15px;
      margin-right: 0;
    }
    .rtl .jms-vermegamenu .caret {
      right: auto;
      left: 7px;
      transform: scaleX(-1);
    }
    .rtl .jms-vermegamenu .mega-nav li > a {
      text-align: right;
    }
    .rtl .jms-vermegamenu .mega-style3 .mega-nav li {
      text-align: right;
    }
    .rtl .jms-vermegamenu .dropdown-menu {
      right: calc(100% + 1px);
      left: auto;
    }
    .rtl .jms-vermegamenu .nav > li.open > a::after {
      left: -26px;
      right: auto;
    }
    .rtl .jms-vermegamenu .mega-style1 .absolute-img {
      left: 0;
      right: auto;
      text-align: left;
    }
    .rtl .jms-vermegamenu .mega-style3 .absolute-img {
      left: 0;
      right: auto;
    }
    .rtl .jms-vermegamenu .mega-style3 .ic-hot, 
    .rtl .jms-vermegamenu .mega-style3 .ic-new, 
    .rtl .jms-vermegamenu .mega-style3 .ic-sale {
      left: -22px;
      right: auto;
    }
    .rtl .jms-vermegamenu .mega-style3 .ic-hot::after, 
    .rtl .jms-vermegamenu .mega-style3 .ic-new::after, 
    .rtl .jms-vermegamenu .mega-style3 .ic-sale::after {
      right: 2px;
      left: auto;
    }
/* ------ */

/*====================================
=            Owl Carousel            =
====================================*/

.owl-theme .owl-controls div.owl-next,
.owl-theme .owl-controls div.owl-prev {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); 
}   

.img-menu a i {
  transform: scaleX(-1);
}

/* Megamenu */
  .rtl .jms-megamenu .nav > li > a > .caret {
    right: auto;
    left: 8%;
  }
  .rtl .jms-megamenu .caret {
    margin-right: 5px;
    margin-left: 0;
  }
  .rtl .jms-megamenu .nav > li:first-child > a {
    padding-right: 0;
    padding-left: 15px;
  }
  .rtl .jms-megamenu .dropdown-menu {
    right: 0;
    left: auto;
  }
  .rtl .mega-nav > .mega > .dropdown-menu {
    right: calc(100% + 20px);
  }
  .rtl .jms-megamenu .mega-nav li > a {
    text-align: right;
  }
  .rtl .jms-megamenu .label-new {
    left: 0;
    right: auto;
  }
  .rtl .jms-megamenu .label-see::after, .rtl .jms-megamenu .label-new::after {
    left: auto;
    right: 20%;
  }
  .rtl .jms-megamenu .mega-nav .mega > a:after {
    right: auto;
    left: 0;
    transform: scaleX(-1);
  }
/* ------ */

/* Ver Menu */
  .rtl .jms-vermegamenu .ver-img {
    right: auto;
    left: 0;
  }
  .rtl .jms-vermegamenu .nav > li > a {
    text-align: right;
  }
  .rtl .jms-vermegamenu .nav > li > a > .caret {
    left: 20px;
    right: 0;
  }
  .rtl .ver-menu-wrapper .ver-title i {
    right: auto;
    left: 20px;
  }
/* ------- */

/* Search */
  .rtl .default .right-info {
    padding-right: 20px;
    padding-left: 0;
    text-align: right;
    width: calc(100% - 120px);
  }
  .rtl .default #ajax_search {
    padding-right: 0;
    padding-left: 90px;
  }
  .rtl .default #searchbox .ic2 {
    right: auto;
    left: 0;
  }
  .rtl .default .search-wrapper .close_search {
    right: auto;
    left: 80px;
  }

  .rtl .style2 .icon-magnifier {
    left: 20px;
    right: auto;
  }
/* ------ */
  .rtl .back-to-top {
    left: 14px;
    right: auto;
  }
/* Global */

  .rtl #jmstools .btn-action .btn {
    margin-right: 0;
    margin-left: 10px;
  }
  .rtl .top-list {
    text-align: left;
  }

  .rtl .top-list ul li a i {
    margin-left: 5px;
    margin-right:0;
  }

  .rtl .phone-number i {
    margin-left: 5px;
    margin-right:0;
  }
  .rtl .phone-number span {
    display:inline-block;
  }
  .rtl .phone-number .number {
    margin-right: 10px;
    margin-left: 0;
  }

  .rtl .right-items {
    text-align: left;
  }
  .rtl .right-items .user-info {
    padding-left: 35px;
    padding-right: 0;
  }
  .rtl .right-items #jms_ajax_search {
    padding-right: 25px;
    padding-left: 12px;
  }
  .rtl .right-items .wishlist-box {
    padding-right: 12px;
    padding-left: 22px;
  }

  .rtl #cart_block .icon .icon-basket {
    margin-right:0;
    margin-left:7px;
    transform:scaleX(-1);
  }
  .rtl #cart_block .icon .cart_block_total {
    margin-left: 10px;
    margin-right: 0;
  }
  .rtl #cart_block .shoppingcart-box {
    right: auto;
    left: 0;
  }
  .rtl #cart_block_list .description {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
  }
  .rtl .remove_link {
    left: 34%;
    right: auto;
  }

  /* Banner Newsletter */
    .rtl .banners-newsletter .first .addon-box:last-child {
      right: auto;
      left:0;
    }
    .rtl .banners-newsletter .second .addon-box:last-child {
      float: left;
    }
    .rtl .banners-newsletter .second .addon-box:first-child {
      right: 0;
      left: auto;
    }
  /* -------- */

  /* Product Box */
    .rtl .product-preview .action-box {
      right: auto;
      left: 0;
    }
    .rtl .product-preview.default .content_price {
      text-align: right;
    }
    .rtl .cart-button .icon-basket {
      margin-right: 0;
      margin-left: 5px;
      transform: scaleX(-1);
    }
    .rtl .cart-button.checking::before {
      margin-right: 0;
      margin-left: 5px;
    }
    .rtl .product-preview .content_price .price.old {
      margin-left: 7px;
      margin-right: 0;
    }
    .rtl .product-preview.style5 .product-info {
      padding-left: 0;
      padding-right: 15px;
    }
  /* ------ */

  /* Newsletter */
    .rtl #newsletter_block_left .input-email:before {
      left: auto;
      right: 0;
    }
    .rtl #newsletter_block_left #newsletter-input {
      padding-left: 10px;
      padding-right: 25px;
      text-align: left;
    }
    #newsletter_block_left .input-email {
      padding-left: 5px;
      padding-right: 0;
    }
  /* ------ */
  .rtl .blog-box .view-comment span {
    display: inline-block;
  }
  .rtl .blog-box .post-created {
    left: auto;
    right: 10px;
  }

  /* Footer */
    .rtl #social_block .find-us li:first-child {
      margin-left: 5px;
      margin-right:0;
    }
    .rtl #social_block .find-us li:last-child {
      margin-left: 0;
      margin-right: 5px;
    }
    .rtl .footer-navbar .contact-info-wrapper .contact-info ul li i {
      margin-right: 0;
      margin-left: 4px;
    }
  /* ------ */
  @media (max-width: 1599px) {
   
  }
  @media (max-width: 991px) {
    .rtl .menu-wrap #search_widget button {
      left: 10px;
      right: auto;
    }
  }
  .rtl ul.page-list {
    direction: ltr !important;
    justify-content: flex-start;
  }
  @media (max-width: 767px) {
    .rtl #cart_block .icon .ajax_cart_quantity {
      left: -10px;
      right: auto;
    }
    .rtl ul.page-list {
      justify-content: center;
    }
  }
  @media (max-width: 480px) {
    
  }
/* ------- */
    .rtl .product-line-grid-right span.input-group-btn-vertical button {
        right: auto;
        left: 0;
    }
    #checkout.rtl .address-footer a i {
        margin-right: 0;
        margin-left: 5px;
    }
    #checkout.rtl .address-footer a i {
        margin-left: 5px;
        margin-right: 0;
    }
    #checkout.rtl .address-footer a:last-child {
        margin-right: 20px;
    }
    #checkout.rtl .address-footer a:first-child {
        margin-right: 0;
    }
    body#checkout.rtl  section.checkout-step.-reachable.-complete h1 .step-edit {
        float: left;
    }
    .rtl  .custom-radio {
        margin-right: 0;
        margin-left: 10px;
    }
    .rtl #blockcart-modal .cart-content-btn button {
        margin-right: 0;
        margin-left: 10px;
    }
    .rtl #blockcart-modal .divide-right {
        border-left: 1px solid #acaaa6;
        border-right: none;
    }
    .rtl .close {
        float: left;
    }
    .rtl .content ul li:first-child a {
        padding-left: 15px;
        padding-right: 0;
    }

    .rtl .quickview .images-container .product-cover {
      padding-left: 10px;
      padding-right: 0;
    }

    .rtl #blockcart-modal .divide-left .btn-default {
      margin-right: 0;
      float: right;
      margin-left: 10px;
    }
    .rtl #blockcart-modal .product-image {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
/* Category Page */
  .rtl .facet li .facet-label .custom-checkbox input[type="checkbox"] + span {
    margin-right: 0;
    margin-left: 10px;
  }
  .rtl .sort-select .inlude_sort_by .products-sort-order {
    margin-left: 0;
    margin-right: 10px;
  }
  .rtl #search_filters .filter-box .clear-all-wrapper button i {
    margin-right: 10px;
    margin-left: 0;
  }
  .rtl #js-active-search-filters > ul li {
    margin-right: 0;
    margin-left: 20px;
  }

  .rtl .block-categories .collapse-icons {
    left: 0;
    right: auto;
    transform: scaleX(-1);
  }
  .rtl .facet li .facet-label .magnitude {
    right: auto;
    left: 0;
  }
/* -------- */

  .rtl .breadcrumb-box .breadcrumb-inner a i {
    margin-left: 3px;
    margin-right: 0;
  }
/* Product Detail */
  .rtl .product-actions .product-variants ul li:last-child {
    margin-right: 7px;
  }
  .rtl .product-actions .product-variants ul li:first-child {
    margin-right: 0;
  }
  .rtl .product-actions .product-add-to-cart .action-box a i {
    margin-left: 5px;
    margin-right: 0;
  }
  .rtl .product-actions .product-variants .product-variants-item > span {
    margin-left: 20px;
    margin-right: 0;
  }
  .rtl .product-quantity .qty {
    margin-left: 20px;
    margin-right: 0;
  }
  .rtl #more_info_block .card-header > a i {
    margin-right: 20px;
    margin-left: 0;
    transform: scaleX(-1);
  }
  .rtl .pd-right-content .feature-list li span {
    float: right;
  }
  .rtl .pd-right-content .feature-list li::before {
    left: auto;
    right: 0;
  }
  .rtl .pd-right-content .feature-list li {
    padding-left: 0;
    padding-right: 10px;
  }
  .rtl  #product-availability .product-available {
    margin-right: 0;
    margin-left: 2px;
  }
  .rtl .content ul li:first-child a {
    padding-left: 15px;
    padding-right: 0;
  }

  .rtl .ps-social-follow ul li:last-child {
    margin-right: 10px;
  }
  .ps-social-follow ul li.label {
    margin: 0 0 0 5px;
  }
/* ------- */
