@media (max-width: 1366px) {
  #jmstools {
    top: 46px !important; } }

@media (max-width: 1199px) {
  .modal-dialog.cover_product1 {
    width: 975px; }
  .cart-grid-right .right-box {
    margin: 30px 0; } }

@media (max-width: 991px) {
  /* ------ */
  .modal-dialog.cover_product1 {
    width: 750px; }
  .modal-dialog.cover_product1 .product-quantity .add {
    margin-top: 0px; }
  #blockcart-modal .divide-right {
    border-right: 0; }
  #blockcart-modal .cart-content {
    padding-left: 0; }
  #blockcart-modal .product-name {
    margin-top: 30px; } }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .back-to-top {
    display: none !important; } }

@media (max-width: 1366px) {
  #jms_ajax_search.default .search-wrapper {
    height: 35px; } }

@media (max-width: 991px) {
  .right-items .user-info {
    padding-right: 15px; }
  #jms_ajax_search.default .search-wrapper {
    height: 35px; }
  .default #ajax_search {
    font-size: 38px; }
  .footer-navbar .container {
    padding-left: 15px;
    padding-right: 15px; }
  .banner-style2 .banner-img img {
    max-height: 60px; }
  .banner-style2 .text-wrapper .bottom {
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 13px; }
  .banner-style2 .banner-style2 .text-wrapper .btn {
    font-size: 13px;
    line-height: 35px;
    padding: 0 15px; }
  .owl-theme .owl-controls div.owl-prev::before,
  .owl-theme .owl-controls div.owl-next::before {
    font-size: 20px; }
  .owl-theme .owl-controls div.owl-prev,
  .owl-theme .owl-controls div.owl-next {
    height: 35px;
    line-height: 35px;
    top: calc(50% - 17.5px);
    width: 35px;
    z-index: 2;
    background: #f1f1f1; }
  .owl-theme .owl-controls div.owl-prev {
    left: -10px; }
  .owl-theme .owl-controls div.owl-next {
    right: -10px; } }

@media (max-width: 767px) {
  .right-items .user-info {
    line-height: 60px; }
  #cart_block .icon {
    line-height: 60px; }
  #cart_block .icon {
    display: block; }
    #cart_block .icon span {
      display: inline-block; }
    #cart_block .icon .icon-basket {
      margin-right: 0;
      top: 0; }
    #cart_block .icon .space, #cart_block .icon .cart_block_total {
      display: none; }
    #cart_block .icon .ajax_cart_quantity {
      background: #f1f1f1;
      border-radius: 50%;
      height: 16px;
      line-height: 16px;
      position: absolute;
      right: -10px;
      text-align: center;
      top: 9px;
      width: 16px;
      font-size: 12px; }
  .banners-newsletter .first .addon-box:last-child, .banners-newsletter .second .addon-box:first-child {
    position: static;
    width: 100%; }
  .banners-newsletter .layout-column .addon-box {
    width: 100%; }
  .banners-newsletter #newsletter_block_left, .banner-style2 {
    padding: 35px 0; }
  .banner-text .large-text {
    font-size: 18px;
    line-height: 1.2; }
  .banner-text .small-text {
    font-size: 13px; }
  .category-item .banner-img img, .banner-style4 .banner-img img {
    width: 100%; }
  .banner-style5 .text-wrapper {
    font-size: 20px; }
  .footer-navbar .col-first, .footer-navbar .col-second, .footer-navbar .col-third, .footer-navbar .col-fourth {
    margin-bottom: 20px; }
  .fs-pager-wrapper a, .fs-custom-pager-wrapper a {
    width: 10px;
    height: 10px; }
  .pagination .left-pagination, .pagination .right-pagination {
    width: 100%; } }

@media (max-width: 480px) {
  .header-top .left {
    width: 100%;
    text-align: center; }
  .header-top .right {
    display: none; }
  .h1-button .btn {
    font-size: 9px;
    line-height: 20px;
    padding: 0 10px; }
  .footer-navbar img.logo {
    max-height: 56px; }
  .custom-title2 {
    margin-bottom: 25px; }
  .custom-title2 h3 {
    font-size: 20px;
    padding: 0 15px; }
  .instagram-wrapper2 .insta-title {
    height: 185px;
    max-width: 250px;
    padding: 25px; }
    .instagram-wrapper2 .insta-title h3 {
      font-size: 20px; }
    .instagram-wrapper2 .insta-title .addon-desc {
      font-size: 12px; }
    .instagram-wrapper2 .insta-title a {
      font-size: 12px;
      line-height: 30px;
      padding: 0 15px; } }

@media (max-width: 360px) {
  #cart_block .icon {
    line-height: 50px; }
  .custom-title {
    margin-bottom: 25px; }
    .custom-title .addon-desc {
      font-size: 12px;
      line-height: 1; }
    .custom-title h3 {
      font-size: 20px;
      line-height: 1; }
  .custom-title3 h3 {
    font-size: 20px; }
  .custom-title3 .addon-desc {
    font-size: 11px; }
  .custom-title5 h3 {
    font-size: 20px; }
  .custom-title5 .addon-desc {
    font-size: 11px; }
  .categories-banner .custom-title-box .text-wrapper {
    font-size: 12px;
    padding: 0; }
  #newsletter_block_left .form-group {
    display: block; }
  #newsletter_block_left .input-email {
    width: 100%; }
  #newsletter_block_left .newsletter-btn {
    width: 120px;
    margin-top: 20px; }
  .home1-text h3 {
    font-size: 30px; }
  .change-style .header-bottom #cart_block .icon {
    line-height: 50px; }
  #cart_block .shoppingcart-box {
    right: -43px;
    width: 300px; }
  .banner-style6 .html-content {
    font-size: 30px; }
  .banner-style2 .banner-img img {
    max-height: 50px; }
  .banner-style2 .text-wrapper .btn {
    font-size: 13px;
    line-height: 35px;
    padding: 0 15px; }
  .brand-wrapper .addon-title.default h3 {
    font-size: 20px; }
  .banner-style3 .large-text {
    font-size: 18px; }
  .banner-style3 .btn-shop {
    font-size: 13px; }
  .footer-navbar {
    padding-top: 30px; }
  .nav-tabs > li {
    padding: 0 8px; }
  .banner-style7 .price {
    font-size: 19px;
    margin-right: 15px; }
  .banner-style7 .small-text {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 5px; }
  .banner-style7 .large-text {
    font-size: 19px;
    margin-bottom: 5px; }
  .banner-style7 .btn {
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px; } }

@media (min-width: 992px) {
  .product-carousel-wrapper .owl-theme .owl-controls div.owl-prev, .product-carousel-wrapper .owl-theme .owl-controls div.owl-next {
    visibility: hidden;
    position: fixed;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    top: 50%; }
  .product-carousel-wrapper .owl-theme .owl-controls div.owl-next {
    right: auto;
    -webkit-transform: translate3d(20px, 0px, 0px);
    -moz-transform: translate3d(20px, 0px, 0px);
    -o-transform: translate3d(20px, 0px, 0px);
    transform: translate3d(20px, 0px, 0px); }
  .product-carousel-wrapper .owl-theme .owl-controls div.owl-prev {
    right: auto;
    -webkit-transform: translate3d(-20px, 0px, 0px);
    -moz-transform: translate3d(-20px, 0px, 0px);
    -o-transform: translate3d(-20px, 0px, 0px);
    transform: translate3d(-20px, 0px, 0px); }
  .product-carousel-wrapper.show-arrow .owl-theme .owl-controls div.owl-prev, .product-carousel-wrapper.show-arrow .owl-theme .owl-controls div.owl-next {
    z-index: 99;
    visibility: visible;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); } }
