#jms_ajax_search.default > a.icon {
    font-size: 20px;
}
#jms_ajax_search.default.open .search-wrapper {
    visibility:visible;
    top: 137px;
}
/*
#jms_ajax_search.default .search-wrapper {
    left: 0;
    position: fixed;
    top: 100%;
    visibility: hidden;
    width: 100%;
    height: 850px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1003;
    padding: 30px 80px;
    transition: all 0.2s ease 0s;
}
*/
#jms_ajax_search.default .search-wrapper {
    height: 35px;
    background-color: #fff;
    margin-top:30px;
    /*padding: 30px 80px;*/
    border:1px solid #dfe1e5;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
    transition: all 0.3s ease-in-out;
    border-radius: 24px;
    
}
.search-wrapper:hover {
   box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.default #ajax_search {
   /* -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    background-color: transparent;
   /* border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.3);
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;*/
    /*box-shadow: none;*/
    color: #000;
    font-family: Lora,"MS Sans Serif",Geneva,sans-serif;
    font-size: 18px;
    /*height: 122px;*/
    letter-spacing: 1px;
    line-height: 120px;
    padding: 0px 90px 10px 18px;
    border:none;
     -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}
#jms_ajax_search.default *::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
#jms_ajax_search{
  width:100%;
}
.default #searchbox {
    position: relative;
}
.default #searchbox .ic2 {
    color: #000;
    display: inline-block;
    font-size: 18px;
    line-height: 34px;
    /*background-color: #A67E2E;*/
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 40px;
}
.default .result_div .item {
    width: 100%;
    padding: 0 15px;
    float: left;
}
.default .item .left-img {
    /*width: 120px;*/
    width: 100%;
}
.default .right-info {
    width: calc(100% - 120px);
    text-align: left;
    padding-left: 20px;
}
.default .right-info a {
    font-weight: 700;
}
.default .right-info a, .default .right-info span {
    display: block;
    color: #000;
    font-size: 15px;
}
.default .result_div .item {
    display: flex;
}
.default #search_result {
    /*padding: 30px 0;*/
    background-color:#fff;
    /* border:1px solid #000;*/
    position: absolute;
    /*top: 6px;*/
    z-index:1000;
    width:100%;
}


.default .search-wrapper .close_search {
    display:none;
    position: absolute;
    cursor: pointer;
    right: 80px;
    bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 33px;
    padding-right: 50px;
    z-index: 301; }
.default .search-wrapper .close_search::after, .default .search-wrapper .close_search::before {
      content: "";
      width: 35px;
      height: 3px;
      position: absolute;
      right: 0;
      top: 15px;
      display: inline-block;
      background-color: #fff; }
.default .search-wrapper .close_search:hover::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -sand-transform: rotate(45deg);
      transform: rotate(45deg); }
.default .search-wrapper .close_search:hover::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -sand-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.default .search-wrapper .close_search::after, 
.default .search-wrapper .close_search::before {
  -webkit-transition: all .3s;
  -moz-transition: all .3s; 
  -o-transition: all .3s;
  transition: all .3s; 
}
 
.default .search-wrapper .close_search {
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s; }

  /* Hook Right */
#jms_ajax_search.style2 {
  display: block;
  position: relative;
}

.style2 #ajax_search {
  border:2px solid rgba(129, 129, 129, 0.25);
  height: 45px;
}
.style2 #searchbox {
  position: relative;
  padding: 9px 0;
}
.style2 .icon-magnifier {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: calc(50% - 24px);
  color: #3e3e3e;
  line-height: 45px;
  display: inline-block;
}
#jms_ajax_search span.icon-magnifier{
  display:none;
}
.style2 #search_result {
  position: absolute;
  width: 100%;
  left:0;
  top: 100%;
  z-index: 1000;
  background: #fff;
}
.style2 .result_div {
  padding: 20px 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-height: 500px;
  overflow-y: auto;
}
.style2 .result_div .item {
  padding: 0 15px;
  display: flex;
  margin-bottom: 20px;
}
.style2 .result_div .item:last-child {
  margin-bottom: 0;
}
.style2 .result_div .left-img {
  width: 120px;
}
.style2 .result_div .right-info {
  width: calc(100% - 120px);
  padding-left: 15px;
}
.style2 .result_div .right-info a {
  font-weight:700;
  font-size: 15px;
  color: #000;
}
.style2 .result_div .right-info a, .style2 .result_div .right-info span {
  display: block;
}