/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-slider .item {
	position:relative;
}

.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}

.owl-slider-outer.slider-listing .owl-controls {
	left:5px;
	bottom:5%;
	top:auto;
	padding-bottom:0;
}
.owl-theme .owl-controls{
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-controls.disabled {
    display: none;
}
.owl-controls {
    display: block;
}
.owl-theme .owl-controls .owl-nav div {
	display:inline-block;
	zoom:1;
	width: 9px;
	*display:inline
}
.owl-slider-outer .owl-slider-next:hover, .owl-slider-outer .owl-slider-prev:hover, .owl-theme .owl-controls  div:hover {	
}
.owl-theme .owl-controls  div.disabled {	
	cursor:default;	
}
.owl-theme:hover .owl-controls  div.owl-prev, 
.owl-theme:hover .owl-controls  div.owl-next {
	visibility: visible;
}
.owl-theme .owl-controls  div.owl-prev, .owl-theme .owl-controls  div.owl-next {
    border-radius: 0;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: 0 2px;
    position: absolute;
    text-align: center;
    top: calc(50% - 22.5px);
	cursor:pointer;
	z-index:2;
	visibility: hidden;
}
.owl-theme .owl-controls  div.disabled {
	opacity: 0.6;
}
.owl-theme .owl-controls  div.owl-prev {
	left: -65px;
}
.owl-theme .owl-controls  div.owl-next {
	right: -65px;
}
.owl-theme .owl-controls  div.owl-prev:before, .owl-theme .owl-controls  div.owl-next:before {
	font-family: simple-line-icons;
	font-size: 36px;
}
.owl-theme .owl-controls  div.owl-prev:before {
	content: "\e605";
}

.owl-theme .owl-controls  div.owl-next:before {
	content: "\e606";
}
.owl-dot > span {
    background: #d6d6d6;
    display: inline-block;
    height: 10px;
	cursor: pointer;
    width: 10px;
    border-radius: 50%;
}
.owl-dots {
    position:static;
    width:100%;	
	text-align:center;
}
.owl-dots .owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.owl-dot.active span {
    background: #869791 none repeat scroll 0 0;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable  div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}
/* Styling Pagination*/
.owl-theme .owl-controls{
	margin-bottom:0;
	margin-top:0;
}
.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    height: 7px;
    margin: 2.5px;
    width: 30px;
	border-radius: 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	background: #000 none repeat scroll 0 0;
    border-color: #000;
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:0.92em;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}
/* preloading images */
.owl-item.loading {
	min-height:150px;
	background:url(../images/AjaxLoader.gif) no-repeat center center
}
/* unique Next and Prev buttons */
.owl-theme.product-widgets .owl-controls {
	position:absolute;
	margin:0;
	padding:0 5px 0 0;
	right:0;
	top:0;
	background:#fff
}
