<?php
$_html = '';

$_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-tasks fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_cronhelp_cron_help'].' '.$text_type_review.' '.$this->_data_translate_custom['_cronhelp_reviews'].'</div>';




$_html .= '<p class="hint clear" style="display: block; font-size: 12px; width: 95%;position:relative">';

$_html .= '<b>';
$_html .= $this->_data_translate_custom['_cronhelp_you_can_conf'];
$_html .= '</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>1.</b> '.$this->_data_translate_custom['_cronhelp_you_can_enter'];
$_html .= '<b>'.$url_cron.$delimeter_rewrite.'token='.$this->getokencron().'</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>2.</b> '.$this->_data_translate_custom['_cronhelp_you_can_set'];
$_html .= '<br/><br/>';
$_html .= $this->_data_translate_custom['_cronhelp_the_task_run'].':&nbsp;&nbsp;&nbsp; <b>* */1 * * * /usr/bin/wget -O - -q '.$url_cron.$delimeter_rewrite.'token='.$this->getokencron().'</b>';
$_html .= '<br/><br/><br/>';
$_html .= '<b>'.$this->_data_translate_custom['_cronhelp_how_to_conf'].'</b>';
$_html .= '<br/><br/>';
$_html .= $this->_data_translate_custom['_cronhelp_on_your_serv'];
$_html .= '<br/>';
$_html .= $this->_data_translate_custom['_cronhelp_about_cron'].'&nbsp;&nbsp;&nbsp;<a href=http://en.wikipedia.org/wiki/Cron target=_blank>http://en.wikipedia.org/wiki/Cron</a>';
$_html .= '</p>';



$_html .= '</div>';

echo $_html;

?>