<?php

$_html .= '<div class="span">
                          <p>
                             <span style="font-weight: bold; font-size: 15px;" class="question">
                             	- ' . $this->_data_translate_custom['_faqStars17_spmgsnipreview_how'] . '
                             </span>
                             <br/><br/>
                             <span style="color: black;" class="answer">
                             	   ' . $this->_data_translate_custom['_faqStars17_spmgsnipreview_you_just'] . '
                                   <pre>{hook h=\'displayProductListReviews\' product=$product}</pre>
                              </span>
                         </p>
                       </div><br/><br/>';
echo $_html;

?>