<?php

$_html = '';
$_html .= '<form method="post" action="'.Tools::safeOutput($_SERVER['REQUEST_URI']).'">';
$_html .= '<input type="hidden" value="1" name="googleproductsfeedsettings"/>';

$_html .= '<div class="panel">

                    <div class="panel-heading"><i class="fa fa-snippets fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_groductFeed_g_pr_feed'].'</div>';



$_html .= '<p class="help-block">

                     '.$this->_data_translate_custom['_groductFeed_g_pr_feed_let_cont'].'
                      <a target="_blank" style="text-decoration:underline"
			            href="http://www.google.com/shopping">'.$this->_data_translate_custom['_groductFeed_g_shop'].'
			            </a>
			            </p>';

$_html .= '<p class="help-block">
			<b>'.$this->_data_translate_custom['_groductFeed_g_pr_rat_feed'].'</b>:&nbsp;'.$this->_data_translate_custom['_groductFeed_more_inf'].':&nbsp;
			        <a target="_blank" style="text-decoration:underline"
			            href="https://developers.google.com/product-review-feeds/">https://developers.google.com/product-review-feeds/
			            </a>
					</p>

			            <br/><br/>

                    <b>'.$this->_data_translate_custom['_groductFeed_cron_to_call'].'</b>:&nbsp;
                    <a href="'.$url_cron.$delimeter_rewrite.'token='.$this->getokencron().'"
                        style="text-decoration:underline;font-weight:bold" target="_blank">
                        '.$url_cron.$delimeter_rewrite.'token='.$this->getokencron().'
                        </a>

                         <br/><br/><br/><br/>';

$_html .= '<input type="submit" value="'.$this->_data_translate_custom['_groductFeed_regenerate'].'" name="submitgooglereviews"
                                class="btn btn-primary pull"/>';


$_html .= ' &nbsp; <a target="_blank" style="text-decoration:underline;font-weight:bold" ';
if($this->_is_cloud){
    $_html .= 'href="'._PS_BASE_URL_SSL_.__PS_BASE_URI__.'modules/'.$this->name.'/upload/reviews.xml"';
} else {
    $_html .= 'href="'._PS_BASE_URL_SSL_.__PS_BASE_URI__.'upload/'.$this->name.'/reviews.xml"';
}
$_html .= '>';
if($this->_is_cloud){
    $_html .=	''._PS_BASE_URL_SSL_.__PS_BASE_URI__.'modules/'.$this->name.'/upload/reviews.xml';
} else {
    $_html .=	''._PS_BASE_URL_SSL_.__PS_BASE_URI__.'upload/'.$this->name.'/reviews.xml';
}
$_html .=	'</a>';

$_html .= '</p>';





$_html .= '</div>';



$_html .= '</form>';

echo $_html;

?>