<?php
$_html = '';

if ($obj->ifExsitsTableProductcomments()){
    $_html .= '<form method="post" action="'.Tools::safeOutput($_SERVER['REQUEST_URI']).'">';
    $_html .= '<input type="hidden" value="1" name="importcommentssettings"/>';
    $_html .= $this->_productComments();
    $_html .= '</form>';
} else{

    $_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-comments-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_importcomments_imp_pr_com'].'</div>';

    $_html .= '<b>'.$this->_data_translate_custom['_importcomments_your_database'].'</b>';

    $_html .= '</div>';


}

echo $_html;

?>