<?php

$_html = '';
$_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-comments-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_productComments_imp_pr_com'].'</div>';



$_html .= '<p class="hint clear" style="display: block; font-size: 12px; width: 95%;position:relative">

    				'.$this->_data_translate_custom['_productComments_if_you_already'].'
                     <br/><br/>';

if($is_count_comments>0){
    $_html .= $this->_data_translate_custom['_productComments_you_have'].' <b>'.$count_comments.'</b> '.$this->_data_translate_custom['_productComments_com'].' &nbsp;&nbsp;&nbsp; ';
    $_html .= '<input type="submit" value="'.$this->_data_translate_custom['_productComments_imp_pr_com1'].'" name="submitcomments"
        	                class="'.(version_compare(_PS_VERSION_, '1.6', '>')?'btn btn-primary pull':'button').'"/>';
} else{

    $_html .= '<b>'.$this->_data_translate_custom['_productComments_no_com'].'</b>';

}

$_html .= '</p>';


$_html .= '</div>';

echo $_html;

?>