<?php


$_html = '';

$_html .= '<div class="row">
    				<div class="col-lg-12">
    					<div class="row">';


$_html .= '<div class="productTabs col-lg-2 col-md-3">

			<div class="list-group">
				<ul class="nav nav-pills nav-stacked" id="reviewsnavtabs16">
				    <li class="active"><a href="#globalsettings" data-toggle="tab" class="list-group-item"><i class="fa fa-cogs fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_gl_set'].'</a></li>

				    <li><a href="#productpage" data-toggle="tab" class="list-group-item"><i class="fa icon-AdminCatalog fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_pr_page'].'</a></li>
				    <li><a href="#reviewsmanagement" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_rev_man'].'</a></li>
				    <li><a href="#reviewcriteria" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_rev_crit'].'</a></li>
				    <li><a href="#customeraccountreviewspage" data-toggle="tab" class="list-group-item"><i class="fa icon-AdminParentCustomer fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_cust_acc_rev_p'].'</a></li>
				    <li><a href="#woweffects" data-toggle="tab" class="list-group-item"><i class="fa fa-sliders fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_wow_eff'].'</a></li>
				    <li><a href="#owlcarousels" data-toggle="tab" class="list-group-item"><i class="fa fa-sliders fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_owl_car'].'</a></li>

                    <li><a href="#lastreviewsblock" data-toggle="tab" class="list-group-item"><i class="fa fa-list-alt fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_last_rev_block'].'</a></li>
                    <li><a href="#starslistandsearch" data-toggle="tab" class="list-group-item"><i class="fa fa-bars fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_stars_in_cat_and_search_p'].'</a></li>
                    <li><a href="#rssfeed" data-toggle="tab" class="list-group-item"><i class="fa fa-rss fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_rev_rss_feed'].'</a></li>
                    <li><a href="#importcomments" data-toggle="tab" class="list-group-item"><i class="fa fa-comments-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_import_prod_com'].'</a></li>
                    <li><a href="#gproductfeed" data-toggle="tab" class="list-group-item"><i class="fa fa-snippets fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_g_pr_rev_feed'].'</a></li>

                    <li>&nbsp;</li>
                    <li><a href="#reviewsvoucheraddreviewtab" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_voucher_set_add_rev'].'</a></li>
				    <li><a href="#reviewsvouchersharereviewtab" data-toggle="tab" class="list-group-item"><i class="fa fa-facebook fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_voucher_set_share_rev_on_f'].'</a></li>

                    <li>&nbsp;</li>
                    <li><a href="#reviewsemailstab" data-toggle="tab" class="list-group-item"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_rev_em_set'].'</a></li>
				    <li><a href="#responseadminemails" data-toggle="tab" class="list-group-item"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_em_subj_set'].'</a></li>
				    <li>&nbsp;</li>
				    <li><a href="#customerreminder" data-toggle="tab" class="list-group-item"><i class="fa fa-bell-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_cust_rem_set'].'</a></li>
				    <li><a href="#customerreminderstat" data-toggle="tab" class="list-group-item"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_cust_rem_stat'].'</a></li>
				    <li><a href="#cronhelp" data-toggle="tab" class="list-group-item"><i class="fa fa-tasks fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_cron_help_p_rev'].'</a></li>

				    <li>&nbsp;</li>
				    <li><a href="#csvproductreviews" data-toggle="tab" class="list-group-item"><i class="fa fa-table fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_reviews16_csv_imp_exp_pr'].'</a></li>


				  </ul>
				  </div>
		</div>';


$_html .= '<div class="tab-content col-lg-10 col-md-9">';
$_html .= '<div class="tab-pane active" id="globalsettings">'.$this->_global().'</div>';
$_html .= '<div class="tab-pane" id="productpage">'.$this->_productpage().'</div>';
$_html .= '<div class="tab-pane" id="reviewsmanagement">'.$this->_reviewsmanagement().'</div>';

$_html .= '<div class="tab-pane" id="reviewcriteria">'.$this->_reviewcriteria().'</div>';

$_html .= '<div class="tab-pane" id="customeraccountreviewspage">'.$this->_customeraccountreviewspage().'</div>';

$_html .= '<div class="tab-pane" id="woweffects">'.$this->_woweffects().'</div>';
$_html .= '<div class="tab-pane" id="owlcarousels">'.$this->_owlcarousels().'</div>';


$_html .= '<div class="tab-pane" id="lastreviewsblock">'.$this->_lastreviewsblock().'</div>';
$_html .= '<div class="tab-pane" id="starslistandsearch">'.$this->_starslistandsearch().'</div>';
$_html .= '<div class="tab-pane" id="rssfeed">'.$this->_rssfeed().'</div>';
$_html .= '<div class="tab-pane" id="importcomments">'.$this->_importcomments().'</div>';
$_html .= '<div class="tab-pane" id="gproductfeed">'.$this->_groductFeed().'</div>';


$_html .= '<div class="tab-pane" id="reviewsvoucheraddreviewtab">'.$this->_voucherwhenaddreviewsettings16().'</div>';
$_html .= '<div class="tab-pane" id="reviewsvouchersharereviewtab">'.$this->_voucherwhensharereviewsettings16().'</div>';


$_html .= '<div class="tab-pane" id="reviewsemailstab">'.$this->_reviewsemails().'</div>';
$_html .= '<div class="tab-pane" id="responseadminemails">'.$this->_responseadminemails().'</div>';

$_html .= '<div class="tab-pane" id="customerreminder">'.$this->_customerreminder().'</div>';
$_html .= '<div class="tab-pane" id="customerreminderstat">'.$this->_customerreminderstat().'</div>';
$_html .= '<div class="tab-pane" id="cronhelp">'.$this->_cronhelp(array('url'=>'cron')).'</div>';

$_html .= '<div class="tab-pane" id="csvproductreviews">'.$this->_csvImportExportProductReviews().'</div>';

$_html .= '</div>';



$_html .= '</div></div></div>';

echo  $_html;

?>