<?php

$_html  = '';

$_html .= '<div class="bootstrap"><div class="panel">';


$_html .= '<div class="panel-heading"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;' . $this->_data_translate_custom['drawShopReminderTasks_cust_rem_stat'] . '</div>';

$_html .= '<div class="table-responsive-row clearfix">';





$txt_accepted_order_statuses = '';
$accepted_order_statuses = $obj->getAcceptedOrderStatuses(array('id_lang'=>$id_lang));
foreach($accepted_order_statuses as $accepted_order_status){
    $color_background = $accepted_order_status['color'];
    $payment_order  = $accepted_order_status['name'];
    $txt_accepted_order_statuses .=
        '<span style="background-color:'.$color_background.';color:white;padding:2px;border-radius:5px;line-height:25px;margin:3px 3px 3px 0">
                                        '.$payment_order.'
                                    </span>';
}

$_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
$_html .= '<label class="control-label">'.$this->_data_translate_custom['drawShopReminderTasks_send_ema_only'].': '.$txt_accepted_order_statuses.'</label>';

$_html .= '</div>';

$_html .= '<br/>';


$is_enabled_reminder = Configuration::get($this->name.'reminder'.$this->_prefix_shop_reviews);
$_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
$_html .= '<label class="control-label">'.$this->_data_translate_custom['drawShopReminderTasks_en_dis_send_a_rev_rem'].':
        <span style="background-color:#'.(($is_enabled_reminder)?'108510':'DC143C').';color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center;font-weight:bold">
                                                ' . (($is_enabled_reminder)?$this->_data_translate_custom['drawShopReminderTasks_yes']:$this->_data_translate_custom['drawShopReminderTasks_no']) . '
                                            </span>
        </label>';

$_html .= '</div>';

if($is_enabled_reminder) {
    $delay = Configuration::get($this->name . 'delay' . $this->_prefix_shop_reviews);
    $_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
    $_html .= '<label class="control-label">' . $this->_data_translate_custom['drawShopReminderTasks_delay_for_send_rem'] . ':
        <span style="background-color:grey;color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center;font-weight:bold">
                                                ' . $delay . '&nbsp;' . $this->_data_translate_custom['drawShopReminderTasks_days']. '
                                            </span>
        </label>';

    $_html .= '</div>';
}




$is_enabled_remindersec = Configuration::get($this->name.'remindersec'.$this->_prefix_shop_reviews);

$_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
$_html .= '<label class="control-label">'.$this->_data_translate_custom['drawShopReminderTasks_en_dis_send_a_rev_rem_em_to_cust_sec_time'].':
        <span style="background-color:#'.(($is_enabled_remindersec)?'108510':'DC143C').';color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center;font-weight:bold">
                                                ' . (($is_enabled_remindersec)?$this->_data_translate_custom['drawShopReminderTasks_yes']:$this->_data_translate_custom['drawShopReminderTasks_no']) . '
                                            </span>
        </label>';

$_html .= '</div>';

if($is_enabled_remindersec) {
    $delay = Configuration::get($this->name . 'delaysec' . $this->_prefix_shop_reviews);
    $_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
    $_html .= '<label class="control-label">' . $this->_data_translate_custom['drawShopReminderTasks_days_after_the_first_em_were_sent'] . ':
        <span style="background-color:grey;color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center;font-weight:bold">
                                                ' . $delay . '&nbsp;' . $this->_data_translate_custom['drawShopReminderTasks_days'] . '
                                            </span>
        </label>';

    $_html .= '</div>';
}


$is_enabled_remrevsec = Configuration::get($this->name.'remrevsec'.$this->_prefix_shop_reviews);

$_html .= '<div class="input-group col-lg-12" style="float:left;margin-right:10px">';
$_html .= '<label class="control-label">'.$this->_data_translate_custom['drawShopReminderTasks_en_dis_already_wr_rev'].':
        <span style="background-color:#'.(($is_enabled_remrevsec)?'108510':'DC143C').';color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center;font-weight:bold">
                                                ' . (($is_enabled_remrevsec)?$this->_data_translate_custom['drawShopReminderTasks_yes']:$this->_data_translate_custom['drawShopReminderTasks_no']) . '
                                            </span>
        </label>';

$_html .= '</div>';

$_html .= '<div style="clear:both"></div><br/>';


$end_date = $data['end_date'];
$start_date = $data['start_date'];

$_html .= '<form method="post" action="'.Tools::safeOutput($_SERVER['REQUEST_URI']).'" enctype="multipart/form-data">';
$_html .= '<br/><div class="input-group col-lg-3" style="float:left;margin-right:10px">
            <span class="input-group-addon">'.$this->_data_translate_custom['drawShopReminderTasks_start_date'].'</span>
            <input id=""
                   type="text" data-hex="true"
                   class="item_datepicker" name="start_date_orders'.$this->_prefix_shop_reviews.'" value="'.$start_date.'" />
            <span class="input-group-addon"><i class="icon-calendar-empty"></i></span>

        </div>
        <div class="input-group col-lg-3" style="float:left">
            <span class="input-group-addon">'.$this->_data_translate_custom['drawShopReminderTasks_end_date'].'</span>
            <input id=""
                   type="text" data-hex="true" class="item_datepicker"
                   name="end_date_orders'.$this->_prefix_shop_reviews.'" value="'.$end_date.'" />
            <span class="input-group-addon"><i class="icon-calendar-empty"></i></span>

        </div>
        <input type="submit" value="'.$this->_data_translate_custom['drawShopReminderTasks_fil_orders'].'"
               class="btn btn-success" style="float:left;margin-left:10px"/>
        <div style="clear:both"></div>';
$_html .= '</form>';

$_html .= '<br/>';


$posts = $data['posts'];


if(!empty($posts)){


    $_html .= '<style type="text/css">
		    	@media (max-width: 992px) {
							.table-responsive-row td.reminder-td:nth-of-type(1):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_id'].'";
					}';

    $_html .= '.table-responsive-row td.reminder-td:nth-of-type(2):before {
						content: "' . $this->_data_translate_custom['drawShopReminderTasks_ref'] . '";
					}';

    $_html .= '.table-responsive-row td.reminder-td:nth-of-type(3):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_ad_date'].'";
					}
							.table-responsive-row td.reminder-td:nth-of-type(4):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_ord_status'].'";
					}';


    $_html .= '.table-responsive-row td.reminder-td:nth-of-type(5):before {
						content: "' . $this->_data_translate_custom['drawShopReminderTasks_shop'] . '";
					}';


    $_html .= '.table-responsive-row td.reminder-td:nth-of-type(6):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_em_sent_once'].'";
					}
					.table-responsive-row td.reminder-td:nth-of-type(7):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_em_sent_twice'].'";
					}
					.table-responsive-row td.reminder-td:nth-of-type(8):before {
						content: "'.$this->_data_translate_custom['drawShopReminderTasks_rev_alr_wr'].'";
					}

					}

		    	</style>';


    $_html .= '<table class = "table" width = "100%" id="orders-for-reminder-store">
    		<thead>
			<tr class="nodrag nodrop">
				<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_id'].'</span></th>';

    $_html .= '<th style="text-align:center"><span class="title_box">' . $this->_data_translate_custom['drawShopReminderTasks_ref'] . '</span></th>';

    $_html .= '<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_ad_date'].'</span></th>
				<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_ord_status'].'</span></th>';

    $_html .= '<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_shop'].'</span></th>';

    $_html .= '
                <th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_em_sent_once'].'</span></th>
				<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_em_sent_twice'].'</span></th>
				<th style="text-align:center"><span class="title_box">'.$this->_data_translate_custom['drawShopReminderTasks_rev_alr_wr'].'</span></th>


			</tr></thead><tbody>';


    foreach($posts as $item){


        $order_id = $item['order_id'];

        $admin_url_to_order= 'index.php?controller=AdminOrders&id_order='.$order_id.'&vieworder&token='.Tools::getAdminToken('AdminOrders'.(int)(Tab::getIdFromClassName('AdminOrders')).(int)($cookie->id_employee)).'';

        $date_add = $item['date_add'];

        $id_customer = $item['customer_id'];


        $date_send = $item['date_send'];
        $date_send_second = $item['date_send_second'];

        $data_info_about_order = $obj->getOrderInfo(
            array('order_id'=>$order_id, 'id_lang'=>$id_lang,

            )
        );

        //if($order_id == 5)
        ///    echo "<pre>"; var_dump($data_info_about_order);exit;

        $reference_order = isset($data_info_about_order[0]['reference'])?$data_info_about_order[0]['reference']:'';
        $payment_order = isset($data_info_about_order[0]['order_status_lng'])?$data_info_about_order[0]['order_status_lng']:'';
        $color_background = isset($data_info_about_order[0]['color'])?$data_info_about_order[0]['color']:'';

        //108510 - green
        //DC143C - red

        $is_add_review = $obj_storereviews->isExistsReviewByCustomer(array('id_customer'=>$id_customer));
        $product_text = '<span style="background-color:#'.(($is_add_review>0)?'108510':'DC143C').';color:white;padding:3px;border-radius:5px;line-height:25px;margin:3px 0;text-align:center">
                                                ' . (($is_add_review>0)?$this->_data_translate_custom['drawShopReminderTasks_yes']:$this->_data_translate_custom['drawShopReminderTasks_no']) . '
                                            </span>


                                        <br/>';




        $_html .=
            '<tr>
					<td class="reminder-td">'.$order_id.'</td>';

        $_html .= '<td class="reminder-td"><a href="' . $admin_url_to_order . '" target="_blank" style="text-decoration:underline">' . $reference_order . '</a></td>';

        $_html .= '<td class="reminder-td">'.$date_add.'</td>
					<td class="reminder-td">
					                <span style="background-color:'.$color_background.';color:white;padding:4px;border-radius:5px;line-height:25px;margin:3px 0">
                                        '.$payment_order.'
                                    </span>
					</td>';


        $shops = Shop::getShops();
        $name_shop = '';
        foreach($shops as $_shop){
            $id_shop_lists = $_shop['id_shop'];
            if($id_shop_lists == $item['id_shop'])
                $name_shop = $_shop['name'];
        }

        $_html .= '<td class="reminder-td">'.$name_shop.'</td>';



        $_html .= '<td class="reminder-td text-align-left" id="first-time-store-'.$order_id.'">';

        if(empty($date_send)) {
            $_html .= '<img src="../modules/' . $this->name . '/views/img/no_ok.gif"/>&nbsp;&nbsp;';
            $_html .= '<a class="btn btn-success" href="javascript://" title="' . $this->_data_translate_custom['drawShopReminderTasks_send_ord_man'] . '"
                            onclick="statusdelayed = confirm(\'' . Tools::htmlentitiesUTF8($this->_data_translate_custom['drawShopReminderTasks_are_sure_send_ord_man']) . '\');if(!statusdelayed)return false;sendReminderStore(\'first\',\'' . $order_id . '\',\''.$ajax_url.'\' );"
                            >';
            $_html .= $this->_data_translate_custom['drawShopReminderTasks_send_ord_man'];
            $_html .= '</a>';

        } else {
            $_html .= '<img src="../modules/' . $this->name . '/views/img/ok.gif"/> &nbsp;&nbsp;'.$date_send;

        }

        $_html .= '</td>';


        $_html .= '<td class="reminder-td text-align-left" id="second-time-store-'.$order_id.'">';

        if(empty($date_send_second) && !empty($date_send)) {
            $_html .= '<img src="../modules/' . $this->name . '/views/img/no_ok.gif"/>&nbsp;&nbsp;';
            $_html .= '<a class="btn btn-success" href="javascript://" title="' . $this->_data_translate_custom['drawShopReminderTasks_send_ord_man'] . '"
                            onclick="statusdelayed = confirm(\'' . Tools::htmlentitiesUTF8($this->_data_translate_custom['drawShopReminderTasks_are_sure_send_ord_man']) . '\');if(!statusdelayed)return false;sendReminderStore(\'second\',\'' . $order_id . '\',\''.$ajax_url.'\' );"
                            >';
            $_html .= $this->_data_translate_custom['drawShopReminderTasks_send_ord_man'];
            $_html .= '</a>';

        } else {
            if(empty($date_send)) {
                $_html .= '<img src="../modules/' . $this->name . '/views/img/no_ok.gif"/>';
            }else {
                $_html .= '<img src="../modules/' . $this->name . '/views/img/ok.gif" /> &nbsp;&nbsp;' . $date_send_second;
            }

        }

        $_html .= '</td>';



        $_html .= '<td class="reminder-td" >'.$product_text.'</td>';


        $_html .= '</tr>';



    }

    $_html .= '</tbody>';

    $_html .= '</table>';


} else {

    $_html .= '<div style="border:1px solid red; padding:10px; width:100%; text-align:center;font-weight:bold;margin-bottom:10px">
     				'.$this->_data_translate_custom['drawShopReminderTasks_there_is_no_order'].'
     				</div>';


}


$_html .= '</div>';
$_html .= '</div></div>';

echo $_html;


?>