<?php

$desc2 =
    '<br/><br/>'.
    '<b>'.$breadvis_on_desc.'</b>:'.
    '&nbsp;'.$svis_on_desc3.':&nbsp;<a href="https://developers.google.com/structured-data/breadcrumbs" target="_blank">https://developers.google.com/structured-data/breadcrumbs</a>';

echo $desc2;

?>