<?php

$desc1 = '<br/><br/><b>'.$svis_on_desc1.'</b>:<br/><br/>'.
    '<b>'.$svis_on_desc2.'</b>:'.
    '&nbsp;'.$svis_on_desc3.':&nbsp;<a href="https://developers.google.com/structured-data/rich-snippets/reviews#reviews" target="_blank">https://developers.google.com/structured-data/rich-snippets/reviews#reviews</a>'.
    '</br/>'.
    '<br/><b>'.$svis_on_desc4.'</b><br/>'.
    '<br/><b>'.$svis_on_desc5.'</b>:&nbsp;
                            '.$svis_on_desc6.':&nbsp;<a href="https://developers.google.com/structured-data/rich-snippets/reviews#aggregate_ratings" target="_blank">https://developers.google.com/structured-data/rich-snippets/reviews#aggregate_ratings</a>';

echo $desc1;
?>