.comments_note { margin-bottom: 5px }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap { width: 585px }

#fancybox-content {
    width: 585px;
    border-width: 0
}

#new_comment_form {
    width: 585px;
    color: #333;
    text-align: left;
    background-color: #fff
}

#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #333
}

#new_comment_form ul.grade_content { list-style-type: none }

#new_comment_form .grade_content li { width: 50% }

#new_comment_form .product { padding: 15px }

#new_comment_form .product img {
    float: left;
    border: 1px solid #ccc;
}

#new_comment_form .product .product_desc {
    float: left;
    margin-left: 15px;
    width: 300px;
    line-height: 18px;
    color: #666
}

#new_comment_form .product .product_desc .product_name {
    padding-bottom: 5px;
    font-size: 13px;
    color: #000
}

#new_comment_form .grade_content { margin: 0 0 20px 0 }

#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px; /* 160 */
    font-weight: bold
}

#new_comment_form .grade_content .cancel { margin-right: 5px }

.new_comment_form_content {
    padding: 15px;
    background: #f8f8f8
}

.new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form input {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
}

#new_comment_form textarea {
    padding: 0 5px;
    height: 80px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right
}

#new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 6px 10px 0 60px;
    text-align: right;
    min-width: 150px;
}

.comments_note {
    width:160px;
    margin:auto;
}
.comments_note div.star, #myprestacommentsBlock div.star {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
}

.comments_note div.star_on, #myprestacommentsBlock div.star_hover, #myprestacommentsBlock div.star_on {
    background: url(img/star.png) no-repeat scroll 0 0 transparent !important;
}

.comments_note div.star, #myprestacommentsBlock div.star, #myprestacommentsBlock div.star_on {
    background: url(img/star-no.png) no-repeat scroll 0 0 transparent
}

#new_comment_form div.star {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
}

#new_comment_form div.star_hover, #new_comment_form div.star_on {
    background: url(img/star.png) no-repeat scroll 0 0 transparent !important;
}

#new_comment_form div.star, #new_comment_form div.star_on {
    background: url(img/star-no.png) no-repeat scroll 0 0 transparent
}

#new_comment_form, #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}

#new_comment_form div.star a, #myprestacommentsBlock .star a {
    display: none;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab { margin: 0 0 20px 0 }

#product_comments_block_tab div.comment {
    margin: 0 0 10px 0;
    padding: 5px;
    border-bottom: 1px dotted #ccc
}

#product_comments_block_tab div.comment div.comment_author {
    float: left;
    padding-right: 25px;
    width: 240px;
    line-height: 18px
}

#product_comments_block_tab .comment_author span {
    margin-top: 6px;
}

#product_comments_block_tab div.comment div.comment_author span { font-weight: bold; }

#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {
    float: left;
}

#product_comments_block_tab div.comment .star_content {
    margin: 0;
}

#product_comments_block_tab .comment_author_infos {
    clear: both;
    /*padding-top: 20px;*/
}

#product_comments_block_tab .comment_author_infos em { color: #999 }

#product_comments_block_tab div.comment div.comment_details {
    float: left;
    overflow: hidden;
    max-width: 800px
}

#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4 { padding-bottom: 10px }

#product_comments_block_tab div.comment_details p { padding-bottom: 10px }

#product_comments_block_tab div.comment_details ul {
    list-style-type: none;
    margin: 0
}

#product_comments_block_tab div.comment_details li {
    padding: 2px 0 2px 12px;
    background: url(img/bg_li.png) no-repeat 1px 45% #fff
}

#product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold
}

#product_comments_block_tab a:hover { text-decoration: underline }

#product_comments_block_tab button.usefulness_btn {
    cursor: pointer;
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 0 2px;
    border: 1px solid #c0c0c0;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    font-weight: bold;
}

#product_comments_block_tab button.usefulness_btn:hover { background-position: left -50px }

#product_comments_block_tab button.usefulness_btn:active { background-position: left -100px }

#product_comments_block_tab span.report_btn { cursor: pointer }

#product_comments_block_tab span.report_btn:hover { text-decoration: underline }

.fl { float: left; }

.fr { float: right; }

.open-comment-form {
    margin-bottom: 20px;
}

#newCommentForm {
    display: none;
    background: #FFF;
}

#product_comments_block_tab .comment_details ul li {
    font-size: 12px
}

#new_comment_form #content {
    width: 100% !important;
    max-width: 100% !important;
}

#new_comment_form_ok {
    overflow: hidden;
    clear: both;
}

#gdpr_checkbox {
    height: auto!important;
    width:auto!important;
}

.gdpr_disabled {
    opacity: .5;
    background: silver!important;
    cursor: not-allowed!important;
}

#submitNewMessage {
    margin-left:15px;
}

#myprestacommentsBlock .comment_product {
    width:100%;
    text-align:center;
}

.comment_product .star_content {
    width:160px;
    display:block;
    margin:auto!important;
    float:none!important;
    padding-top:5px;
}

.comment_product img {
    padding: 5px;
    background: #FFF;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.product_comment_feedback .comment_author_infos {
    text-align:center;
    padding-top: 10px !important;
}

.criterions_grade {
    font-size:10px;
}

.criterions_grade .criterion.star {
    zoom:0.5;
    opacity:0.8;
}