@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

body {
	background:rgba(136, 136, 136, 0.14);
}
.container {
	background:#fff;
}
.top-bar {	
	.container {
		>.row {
			@include flex();
			@include align-items(center);
		}
	}
	img.logo {
	  max-height: 56px;
	}	
	.jms-megamenu .nav > li > a {
	  padding: 0 14px;
	}
}
#jms_ajax_search.open .search-wrapper {
  top: 95px;
  visibility: visible;
}
#cart_block .icon .icon-basket {
	color:rgba(0, 0, 0, 0.7);
}
.container {
	padding:0 30px;
	width:1200px;
}
.top-bar {
	.container {
		padding-left:15px;
		padding-right:15px;
	}	
}
#index {
	.section-slider {
		.container {
			padding-left:0;
			padding-right:0;
		}
	}
	.fix-container {
		.container {
			padding:0 45px;
		}
	}
}
/* Slider */
	.h4-small-text {
		font-family:"Lora";
		line-height:1;
	}
	.h4-large-text {
		font-family:"Lato";
		font-weight:300;
		line-height:1.2;
		text-transform:uppercase;
		text-align:center;
	}
	.h4-button .btn {
		background:#000;
		color:#fff;
		padding:0 40px;
		border:2px solid #fff;
		line-height:37px;
		&:hover {
			border:2px solid #000;
		}
	}
/* -------- */

/* Services */
	.section-services {
		.container {
			
			.row {
				margin-left:0;
				margin-right:0;
				background:#f7f7f7;
				padding:27px 0;
			}
		}
	}
/* -------- */

/* Footer Navbar */
	.footer-navbar {
		background:transparent;
		padding:0;
		.container {
			padding-top:50px;
			padding-left:30px;
			padding-right:30px;
			background:#000 !important;
		}
	}
/* -------- */

/* Home4 Responsive */
	@media(max-width:991px) {
		.top-bar {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
				.menu-button {
					color:#000;
				}
			}
			.left {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
	}
	@media(max-width:767px) {
		.right-items {
			.addon-box:first-child {
				display:none;
			}
		}
		.section-banners {
			.layout-column {
				margin-bottom:15px;
				&:last-child {
					margin-bottom:0;
				}
			}
			.jms-banner {
				img {
					width:100%;
				}
			}
		}

		#index .fix-container .container {
		  padding: 0 15px;
		}
	}
	@media(max-width:480px) {
		.product-no-carousel {
			.ajax_block_product {
				width:100%;
			}
		}
		.h4-button .btn {
		  font-size: 12px ;
		  line-height: 28px ;
		  padding: 0 15px ;
		}
	}
	@media(max-width:360px) {
		.h4-button {
			left:17% !important;
		}
		.top-bar {
			.left {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}
	}
/* ------ */
.home4 .breadcrumb {
  margin:0 auto;
}
#wrapper {
  padding-top:40px;
}
#index #wrapper {
  padding-top:0;
}
@media(min-width:992px) {
  .home4 {
    .breadcrumb {
      width:1200px;
    }
  }
}