@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

.header-top {
	.container-fluid {
		padding-left: 3.5%;
  		padding-right: 3.5%;
	}
}
/* Header Bottom */
	.header-bottom {
		background:#fff;
		.container-fluid {
			padding-left: 3.5%;
  			padding-right: 3.5%; 
			> .row {
				@include flex();
				@include align-items(center);
			}
		}
		.mid {
			.addon-box {
				text-align:center;
			}
		}
		img.logo {
		  max-height:56px;
		}
		.right-items {
			.addon-box:first-child {
				border-right:2px solid #f5f5f5;
			}
		}
	}
/* ------- */

/* Slider */
	.slide1-large-text {
		font-family: 'Lora', serif;
		letter-spacing:2px;
		line-height:1;
		text-transform:uppercase;
		z-index: 701 !important;
	}
	.slide1-small-text {
		text-align:center;
		font-family: 'Lora', serif;
		line-height:1.4;
		text-align:center;
	}
	.h3-button {
		a {
			color:#fff;
			background:transparent;
			border:2px solid #fff;
			padding:0 40px;
		}
	}
	.slide2-large-text {
		font-family: 'Lora', serif;
		letter-spacing:2px;
		line-height:1;
		text-transform:uppercase;
	}
	.slide2-small-text {
		font-style:italic;
		line-height:1;
	}
/* ------- */
.section-banner-text {
	background:#000;
}

/* Newsletter */
	.section-newsletter {
		padding:78px 0;
	}
	#newsletter_block_left {
		.home3-text {
			display: block !important;
			visibility:visible !important;
			h3 {
				color: #ffffff;
				font-size: 26px;
				font-weight: normal;
				line-height: 1;
				margin-bottom: 20px;
			}
			.desc {
				color: rgba(255, 255, 255, 0.8);
				line-height: 1.5;
				margin: auto auto 25px;
			}
		}
	}
	#newsletter_block_left .newsletter-btn {	
		color:#5f5f5f;
		&:hover {
			background-color: #292929;
			border-color: #292929;
			color: #fff;
		}
	}
/* ------ */

/* Responsive */
	@media(max-width:991px) {
		.header-top .container-fluid {
		  padding-left: 15px;
		  padding-right: 15px;
		}
		.header-bottom {
			.left {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
			}
			.mid {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
	}
	@media(max-width:767px) {
		.header-bottom img.logo {
		  max-height: 55px;
		}
		.right-items {
			.addon-box:first-child, .addon-box:nth-child(2) {
				display:none;
			}
		}
		.h3-button a {
		  border: 2px solid #fff;
		  font-size: 10px;
		  line-height: 25px;
		  padding: 0 8px;
		}
	}
	@media(max-width:360px) {
		.header-bottom {
			.mid {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}
		#newsletter_block_left .home3-text h3 {
		  font-size: 22px;
		}
		#newsletter_block_left .home3-text .desc {
			font-size:12px;
		}
	}
/* ------- */

.jms-popup {
	#newsletter_block_left {
		.home3-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}

#index #footer {
	margin-top:-1px;
}
#footer {
	margin-top:60px;
}