@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

.container {
	width:1170px;
}
/* Header */
	.header-top {
		background:#339059;
	}

	.header-bottom {
		img.logo {
		  max-height: 56px;
		}
		.container {
			>.row {
				@include flex();
				@include align-items(center);
			}
		}
	}
/* ------ */
/* Top content */
	.section-top-content {
		background:#f4f4f4;
		position: relative;
		&:before {
			content:"";
			width:100%;
			height:63px;
			display:block;
			background:#fff;
			position:absolute;
			left:0;
			top:0;
		}
	}
/* ------ */
/* Slider */
	.h6-small-text {
		line-height:1;
		font-family: 'Lora', serif;
	}
	.h6-large-text {
		line-height:1;
		font-weight:700;
	}
	.h6-price {
		line-height:1;
		font-weight:700;
	}
	.h6-link {
		a {
			color: #6d6d6d;
			text-decoration: underline;
			text-transform: uppercase;
			&:hover {
				color:#000;
			}
		}
	}
/* ------- */

/* Banner Text */
	.banner-text {
		.layout-column {
			padding-left:0;
			padding-right:0;
		}
		.container {
			background-color:#339059;
			background-image:url("../img/demo/home6/gift_newslater.png");
			background-repeat:no-repeat;
			width:1140px;
			padding-left:0;
			padding-right:0;
			padding:25px;
			>.row {
				margin-left:0;
				margin-right:0;
				@include flex();
				@include align-items(center);
			}
		}
		.find-us {
			margin-bottom:0;
			text-align:right;
		}
		.jms-banner {
			.text {
				color:#fff;
				font-size:28px;
				text-align:left;
				line-height:1.4;
			}
		}
	}
/* ------ */

/* Categories */
	.section-categories {
		position:relative;
		&:after {
			background-color: #fff;
			bottom: 0;
			content: "";
			height: 100px;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
/* ------ */

.blog-box .cat-box a {
	background:#339059;
}

/* Newsletter */
	.section-newsletter {
		background-color:#f2f2f2;
		background-repeat:no-repeat;
		background-position:15px center !important;
		padding:50px 10px;
		.container {
			padding-left:0;
			padding-right:0;
			>.row {
				margin-left:0;
				margin-right:0;
			}

		}
		.layout-column {
			padding-left:0;
			padding-right:0;
			background-size:80% auto !important;
			background-repeat:no-repeat;
		}
	}
	#newsletter_block_left {
		.home3-text {
			display: block !important;
			visibility:visible !important;
			h3 {
				color: #212121;
				font-size: 26px;
				font-weight: normal;
				line-height: 1;
				margin-bottom: 20px;
			}
			.desc {
				color: #212121;
				line-height: 1.5;
				margin: auto auto 25px;
			}
		}
		#newsletter-input {
	      border-bottom:2px solid rgba(0, 0, 0, 0.7);
	      color:#000;
	    }
	    .form-group {
	      & *::-moz-placeholder {
	        color:#000;
	      }
	    }
	    .input-email::before {
	    	color:#000;
	    }
	}

	#newsletter_block_left .newsletter-btn {	
		color:#fff;
		background:#000;
		border:1px solid #fff;
		line-height:38px;
		&:hover {
			border:1px solid #000;
		}
	}
	

/* ------ */

/* Home6 Responsive */
	@media(max-width:991px) {
		.header-bottom {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
			}
			.left {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}

		.section-top-content {
			&:before {
				content:none;
			}
			.left {
				display:none;
			}
			.right {
				.addon-box:nth-child(1) {
					display:none;
				}
			}
		}
		.banner-text .jms-banner .text {
			font-size:26px;
		}
	}

	@media(max-width:767px) {
		.section-banners {
			.layout-column {
				margin-bottom:20px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
		#cart_block .icon .ajax_cart_quantity {
			background:#339059 !important;
			color:#fff;
		}
		.banner-text .container > .row {
			display:block;
		}
		.banner-text .jms-banner .text {
			text-align:center;
		}
		.banner-text .find-us {
			text-align:center;
		}

		.banner-text {
			.layout-column {
				margin-bottom:20px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
	@media(max-width:360px) {
		.banner-text .jms-banner .text {
		  font-size: 21px;
		}
	}
/* ------- */

.jms-popup {
	#newsletter_block_left {
		.home3-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}

@media(min-width:992px) {
	.home6 .product-carousel-wrapper .owl-theme .owl-controls div.owl-prev, 
	.home6 .product-carousel-wrapper .owl-theme .owl-controls div.owl-next {
		top:35%;
	}
}

#index #footer {
	margin-top:0;
}
#footer {
	margin-top:60px;
}