@import '_partials/mixin';
.add-to-cart {
  .fa-check {
    display:none;
    margin-right:7px;
  }
  &.checking {
    &:before {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        animation: 450ms linear 0s normal none infinite running load-spin;
        border-bottom: 1px solid #fff;
        border-image: none;
        border-left-color: transparent !important;
        border-radius: 50%;
        border-right-color: transparent !important;
        border-style: solid;
        border-top: 1px solid #fff;
        border-width: 1px;
        content: " ";
        display: inline-block;
        height: 15px;
        position: relative;
        right: 0;
        top: -1px;
        margin-right:6px;
        transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
        vertical-align: middle;
        width: 15px;
      }
  }
  &.checked {
    .fa-check {
      display:inline-block;
    }
  }
}
.pd-left-content {
  .jms-videos {
    position:absolute;
    right:10px;
    top:0;
  }
}
.pb-left-column {
  .images-container {
    .js-arrows {
      display: none;
    }
    .image-box {
      position: relative;
      .layer {
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
    .thumb-box {
      margin-top: 20px;
      position: relative;
      .js-qv-mask {
        display: block;
        max-height: 100%;
        overflow: hidden;
        ul {
          margin-bottom: 0;
          white-space: nowrap;
          > li.thumb-container {
            display: inline-block;
            margin-right: 10px;
            width: 23.4%;
            margin-bottom:0;
            img {
              cursor: pointer;
              width: 100%;
            }
          }
        } 
      }
      .scroll-box-arrows i {
        background: #fff none repeat scroll 0 0;
        color: #7f7f7f;
        cursor: pointer;
        font-size: 10px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: calc(50% - 10px);
        border-radius:20px;
        width:50px;
        overflow: hidden;
        display: block;
        border: 1px solid #e5e5e5;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
  }
  .product-cover {
    position:relative;
    .layer {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.product-images {
  li {
    margin-bottom:10px;
    &:last-child {
      margin-bottom:0;
    }
  }
}
/* Info */
  .product-layout-3columns {
    .column-right {
      border: 1px solid #f2f3f4;
      padding: 20px;
    }
  }

  .pd-right-content {
    h2 {
      font-family: "Lora","sans-serif";
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 0;
    }
    .content_price {
      @include align-items(center);
      @include flex();
      flex-wrap: wrap;
      margin-top: 15px;
      .price.new {
        font-size: 28px;
        line-height: 1.5;
      }
      .price.old {
        color: #757575;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        margin-right:20px;
        text-decoration: line-through;
      }
    }
    .product-information {
      margin-top:16px;
    }
    .product-desc {
      line-height:1.5;
    }
    
    .feature-list {
      margin-top:15px;
      li {
        &:before {
          background: #0077bc none repeat scroll 0 0;
          border-radius: 50%;
          content: "";
          height: 5px;
          left: 0;
          position: absolute;
          top: 12px;
          width: 5px;
        }
        color: rgba(80, 80, 80, 0.79);
        font-size: 13px;
        padding-left: 10px;
        position: relative;
        span {
          color: #000000;
          font-weight: 500;
        }
      }
    }

    .product-actions {
      margin-top:35px;
    }
    .add-bottom {
      margin-top:10px;
    }
    .product-customization {
      border-top: 1px solid #f0f1f3;
      margin-top: 35px;
      padding-top: 25px;
      margin-bottom:35px;
    }
  .product-customization h3 {
      color: #333e48;
      margin: 0;
      padding-bottom: 10px;
  }
  .product-customization .product-customization-item .product-message {
      background: #f5f5f5 none repeat scroll 0 0;
      border: medium none;
      padding: 15px;
      width: 100%;
  }
  .product-customization .product-customization-item small {
      float: right !important;
      font-size: 12px;
  }
  .product-customization button {
      border: medium none;
      border-radius: 25px;
      color: #fff;
      padding: 5px 20px;
  }
  .product-customization ul li {
      margin: 20px 0;
  }
  .product-customization .custom-file {
      background: #f1f1f1 none repeat scroll 0 0;
      color: #7a7a7a;
      display: block;
      height: 45px;
      line-height: 44px;
      margin-top: 10px;
      padding: 0 10px;
      position: relative;
      width: 100%;
  }
  .product-customization .file-input {
      cursor: pointer;
      height: 45px;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
  }
  .product-customization .custom-file button {
      border-radius: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
  }
  }
  .product-actions .product-add-to-cart {
    margin-top:30px;
    .action-box {
      margin-top:20px;
      a {
        color: #4e4e4e;
        cursor: pointer;
        i {
          display: inline-block;
          font-size: 18px;
          margin-right: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  .product-quantity {
    @include flex();
    @include align-items(center);
    flex-wrap:wrap;
    border-bottom: 1px solid rgba(119, 119, 119, 0.17);
    padding-bottom: 25px;
    .add-to-cart {
      line-height: 40px;
      border:none;
      background:#000;
      color:#fff;
      &:hover {
        opacity:0.8;
        background:#000;
      }
      &.disabled {
        .text-addcart {
          display:none;
        }
        .text-outofstock {
          display:inline-block;
        }
      }
      .text-outofstock {
        display:none;
      }
    }
    .add-bottom {
      width:100%;
    }
    .qty {
      margin-right:20px;
      .input-group {
        display: flex;
        padding: 0 25px;
        position: relative;
        width: 100px;
      }
    }
      #quantity_wanted {
        width:50px;
        padding:0;
        text-align:center;
        height:40px;
        border:none;
        border:1px solid rgba(129, 129, 129, 0.25);
        background:#fff;
        &:focus {
          border:1px solid #000;
        }
      }
      .btn-touchspin {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: none;
        border-radius: 0;
        color: #555;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 40px;
        line-height: 20px;
        margin: 0;
        max-width: unset;
        padding: 0;
        width: 25px;
        z-index: 10;
        font-size: 14px;
        background:#ececec;
      }
      .bootstrap-touchspin-up {
          position: absolute;
          right: 0;
          top: 0;
          border:1px solid rgba(129, 129, 129, 0.25);
          border-left:none;
      }
      .bootstrap-touchspin-down {
          left: 0 ;
          position: absolute;
          top: 0 ;
          border-right: none;
          border:1px solid rgba(129, 129, 129, 0.25);
          border-right:none;
      }

  }
  
.product-add-to-cart {
  .other-info {
      label {
        margin-bottom:0;
        font-weight:700;
        color:#000;
      }
      li {
        line-height:40px;
        color:#4e4e4e;
      }
      margin-bottom:0;
    }
  .add {
      .other-info, .availability_block {
        display:none;
      }
  }
  .add-bottom {
    .add-to-cart {
      display:none;
    }
    .other-info, .availability_block {
        display:block;
      }
  }
}

.product-actions .product-variants {
  .product-variants-item {
    width:50%;
    @include flex();
    @include align-items(center);
    margin-bottom:30px;
    &:last-child {
      margin-bottom:0;
    }
    >span {
      margin-right:5px;
      color: #1b1919;
      font-weight: 700;
      margin-right: 20px;
      min-width: 40px;
    }
    select {
      height:22px;
    }
    .input-radio:checked + span, .input-radio:hover + span {
      border-bottom:2px solid #1b1919;
    }
  }
  .color {
    border-radius: 50%;
    display: block;
    height: 25px;
    width: 25px;
    position:relative;
    box-shadow:1px 1px 3px rgba(136, 136, 136, 0.19);
  }
  .input-color {
    height: 25px;
    width: 25px;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    margin:0;
  }
  ul {
    margin-bottom:0;
    @include flex();
    li {
      position:relative;
      margin-right:15px;
      &:last-child {
        margin-right:0;
      }
    }
  }

  .input-radio, .radio-label {
    width: 25px;
    height: 25px;
    display: block;
  }
  .input-radio {
    margin: 0;
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .radio-label {
    position: absolute;
    left:0;
    top:0;
    text-align:center;
    color:#1b1919;
    font-size:16px;
    font-weight: 700;
    line-height: 25px;
    z-index: 1;
  }
  .input-color, .color {
    cursor: pointer;
  }
}
.availability_block {
  #product-availability, .product-quantities {
    line-height:40px;
    display:block;
  }
  label {
    margin-bottom:0;
    font-weight:700;
    color:#000;
  }
  span {
    color:#4e4e4e;
  }
}
#product-availability .product-available {
  font-size:0;
  background: transparent url("../img/icon/icon_check.png") repeat scroll 50% 50%;
  display: inline-block;
  font-size: 0;
  height: 13px;
  margin-right: 2px;
  position: relative;
  top: -2px;
  width: 13px;
}
#product-availability .product-last-items, #product-availability .product-unavailable {
  color: #ff9a52;
}

#more_info_block {
  margin-top:70px;
  margin-bottom:55px;
  .tab-content > .tab-pane {
    display:none;
    &.active {
      display:block;
    }
  }
  .nav-tabs {
    @include flex();
    @include justify-content(center);
    margin-bottom:30px;
    > li {
      &:after {
        content:none;
      }
      a:after {
        width:100%;
        background:#e4e4e4;
      }
      a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 700;
        text-transform:capitalize;
        &.active {
          color:#000;
          &:after {
            background:#000;
          }
        }
      }
    }
  }
}
  .card-body .product-features h3 {
    color: #111;
    font-size: 15px;
    margin: 0;
  }
  .card-body label {
    color: #111;
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px 5px 0;
    padding: 0;
  }
  /* Pack */
    .product-pack .pack-product-container {
        display: flex;
        justify-content: space-around;
        overflow:hidden;
    }
    .product-pack h3 {
        font-size: 16px;
        padding-bottom: 25px;
        text-transform: capitalize;
        color:#000;
    }
    .product-pack .card {
        background-color: #fff;
        border-radius: 0;
        box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 0.75rem;
        position: relative;
    }
    .product-pack .pack-product-container .pack-product-name, .product-pack .pack-product-container .pack-product-price, .product-pack .pack-product-container .pack-product-quantity {
        align-items: center;
        display: flex;
    }
    .product-pack .pack-product-container .pack-product-name {
        flex: 0 0 50%;
        font-size: 12px;
    }
    .pack-product-container .mask > img {
        margin-left: -15px;
        max-width:100px;
    }
  /* ------ */
  /* Video */
      .jms-videos {
          position: relative;
      }
      .popup-active h3::after {
          bottom: 20px;
          color: #ccc;
          content: "";
          font-family: "fontawesome";
          font-size: 40px;
          margin-left: 10px;
      }
      .popup-active h3 {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align:center ;
        align-items: center;
        font-size: 17px;
        padding-bottom: 0;
        vertical-align: middle;
      }
      .popup-active h3 {
        cursor: pointer;
      }
      .popup-active h3 {
        font-size: 0;
      }
  /* ------ */
  .product-actions .product-variants input[type="radio"]:checked + .color, 
  .input-radio:checked + .color {
    &:after {
      background: #1b1919 none repeat scroll 0 0;
      bottom: -7px;
      content: "";
      height: 2px;
      left: 3px;
      position: absolute;
      width: 20px;
    }
  }

.share-group {
      border-top: 1px solid #f0f1f3;
      margin-top: 30px;
      padding-top: 25px;
    }

/* image modal*/
#product-modal .modal-body .left img{
  width: 100%;
}
.thumbnails.js-thumbnails{
  height: 100%;
  left: calc(100% + 20px);
  position: absolute;
  top: 0;
  padding:40px 0;
  width: 120px;
}
.thumbnails.js-thumbnails .js-modal-mask {
  height: 100%;
  overflow: hidden;
}
.thumbnails.js-thumbnails .image-box{
  height: 100%;
  overflow: hidden;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .material-icons{
  position:absolute;
  width:100%;
  font-size:35px;
  color:#fff;
  display:block;
  text-align:center;
  cursor:pointer;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows i {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-up {
  top:0;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-down {
  bottom:0;
}
/* ------ */

/* -------- */
.collapse.show {
  visibility: visible;
}

.featured-products {
  margin-top:50px;
}
/* Product 3 column */
  .product-layout-3columns {
    .pd-right-content h2 {
      font-size:26px;
    }
    .pd-right-content .content_price .price.new {
      font-size:22px;
    }
    .product-desc {
      margin-top:15px;
    }
  }
/* ------ */

/* Responsive */
  
/* ------ */