.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:500;
}

.fraction-slider .active-slide {
	z-index:999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:700;
}

.fraction-slider .fs_fixed_obj {
	z-index:600;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	box-shadow: 0 1px 1px #b5b5b5;
	background:url(../img/fraction/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev, .fraction-slider .next {
    color: #222222 !important;
    display: none;
    line-height: 65px;
    height: 70px;
    letter-spacing: 0.15em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.fraction-slider .prev:hover, .fraction-slider .next:hover {
	background: rgba(0, 0, 0, 0.6);
}
.fraction-slider .numbnext{
	display: none !important;
	right:50px !important;
	top:48% !important;
	left: unset !important;
	opacity: 1 !important;
	width:104px;
	line-height: 87px;
	text-align: center;
	transition: none;
	letter-spacing: 0.15em;
}
.fraction-slider .numbprev{
	display: none !important;
	left:50px !important;
	top:48% !important;
	opacity: 1 !important;
	width:104px;
	line-height: 87px;
	text-align: center;
	letter-spacing: 0.15em;
}
.fraction-slider .prev:before, .fraction-slider .next:before {
	font-family: "FontAwesome";
	font-size: 35px;
	color: #fff;
	
}
.fraction-slider .prev:before {
	content: "\f104";
}
.fraction-slider .next:before {
	content: "\f105";
}
.fraction-slider .prev{
	left:2.5%; 
	top:48%;
}
.fraction-slider .next{
	right:2.5%; 
	top:48%;
}
.slider:hover .prev, .slider:hover .numbprev,
.slider:hover .next, .slider:hover .numbnext{
	display:block !important;
}

/** PAGER **/

.fs-pager-wrapper {
    bottom: 13px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.fs-pager-wrapper a, .fs-custom-pager-wrapper a{
   	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;
	height: 16px;
	overflow: hidden;
	transition: background 0.3s ease 0s;
	width: 16px;
	display: inline-block;
}
.fs-pager-wrapper a.active {
	background: #fff;
}
.fs-pager-wrapper a {
	margin-right: 8px;
}
.fs-pager-wrapper a:last-child {
	margin-right: 0;
}
@media (max-width: 991px){
.fraction-slider:hover .prev, .fraction-slider:hover .numbprev,
.fraction-slider:hover .next, .fraction-slider:hover .numbnext{
	display:none !important;
}
}