.button_account {
  margin: 10px 10px 10px 0;
}


#form_wishlist .inputTxt {
    border: 1px solid #ebebeb;
    margin-left: 10px;
    padding: 0 10px;
}
.wishlisturl > input, .wishlist_product_detail > input {
    border: 1px solid #ebebeb;
    margin-left: 10px;
    padding: 2px 10px;
    max-width: 100%;
}
.wishlistLinkTop .wlp_bought_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.wishlistLinkTop .wlp_bought_list li {
    margin-bottom: 30px;
    padding: 0 15px;
    width: 25%;
}
.wishlistLinkTop .wl-box {
    border: 1px solid #ebebeb;
}
.wishlistLinkTop .wl-box .product_infos, .wishlistLinkTop .wl-box .btn_action {
    border-top: 1px solid #ebebeb;
    padding: 20px 15px;
}
.wishlistLinkTop .wl-box .wl-form input, .wishlistLinkTop .wl-box .wl-form select {
    border: 1px solid #ebebeb;
    margin-left: 10px;
    text-align: center;
}
.wishlistLinkTop .wl-box .wl-form {
    margin-bottom: 15px;
}
.wishlistLinkTop .wl-box .wl-form:last-child {
    margin-bottom: 0;
}
.wishlistLinkTop .wl-box .btn_action a {
    margin-right: 10px;
}
.wishlistLinkTop .wl-box .btn_action a:last-child {
    margin-right: 0;
}
@media (max-width: 991px) {
.wishlistLinkTop .wlp_bought_list li {
    width: 50%;
}
#block-history {
    overflow-x: auto;
}
}
@media (max-width: 480px) {
.wishlistLinkTop .wlp_bought_list li {
    width: 100%;
}
}
