.tab-pane ol li p {
	display:inline;
	font-size:inherit
}

.tab-pane > ol > li {
	border-top:1px solid #bababa;
	margin:0;
	padding:5px
}

.tab-pane > ol > li:first-child {
	border-top:none
}

.tab-pane ol {
	counter-reset:item;
	list-style:none outside none;
	padding-left:20px
}

.tab-pane ol li:before {
	font-size:1em;
	content:counters(item, ".", decimal) ". ";
	counter-increment:item
}

.tab-pane ul.license {
	padding-left:25px;
	list-style:square inside
}

.bootstrap ps-panel .img-responsive {
	display:initial
}

ps-panel .addons-products {
	border-top:1px solid #999;
	padding-top:1em
}

ps-panel .addons-products div {
	margin-bottom:1em;
	padding:1em
}

ps-panel a.addons-link {
	color:inherit
}

ps-panel a.addons-link:hover {
	color:#0077a4;
	text-decoration:none
}

ps-panel a.addons-link:hover h4 {
	color:#900
}

a.addons-link span.rate {
	direction:ltr;
	font-size:1.2em;
	unicode-bidi:bidi-override
}

a.addons-link span.rate span.avgrate {
	font-size:.8em
}

a.addons-link span.rate span.star {
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400
}

a.addons-link .rate span.star::before {
	color:#bbb;
	content:"";
	padding-right:3px
}

a.addons-link span.rate span.star.hover::before {
	color:#e3cf7a;
	content:""
}

a.addons-link.ps15 {
	float:left;
	width:33%
}

.tablesorter-default .header,.tablesorter-default .tablesorter-header {
	background-image:url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position:center right;
	background-repeat:no-repeat;
	cursor:pointer;
	white-space:normal;
	padding:4px 20px 4px 4px
}

.tablesorter-default thead .headerSortUp,.tablesorter-default thead .tablesorter-headerSortUp,.tablesorter-default thead .tablesorter-headerAsc {
	background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom:#000 2px solid
}

.tablesorter-default thead .headerSortDown,.tablesorter-default thead .tablesorter-headerSortDown,.tablesorter-default thead .tablesorter-headerDesc {
	background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom:#000 2px solid
}

.tablesorter-default thead .sorter-false {
	background-image:none;
	cursor:default;
	padding:4px
}

.process-icon-link:before {
	content:"\f0c1"
}

.process-icon-unlink:before {
	content:"\f127"
}

.process-icon-thumbs-up:before {
	content:"\f164"
}

.process-icon-paypal:before {
	content:"\f1ed"
}
a.btn i.fa{
    display: block;
    font-size: 2em;
    margin-bottom: 5px
}

.list-group i.fa-check,.list-group i.fa-thumbs-up,.list-group i.icon-check,.list-group i.icon-thumbs-up {
	color:green
}

.list-group i.fa-ban,.list-group i.fa-bug,.list-group i.icon-ban,.list-group i.icon-bug {
	color:red
}

.img-previsu {
	max-width:200px;
	max-height:200px
}

.previsu-file {
	margin-top:1em
}

#chargement {
	font-size:4em;
	text-align:center;
	position:relative;
	left:50%;
	top:25%;
	width:600px;
	margin-left:-300px
}

#chargement-infos {
	text-align:right;
	white-space:nowrap;
	display:block;
	border-bottom:4px solid #000;
	width:0
}

ps-tabs {
	visibility:hidden
}

div.cleanTop {
	margin-top:1em
}

.medAddonsMarket {
	text-align:center;
	font-weight:700;
	font-size:medium
}

.medAddonsMarket img {
	margin:0 auto
}

.icon-paypal:before {
	content:"\f1ed"
}

.medRateModule a i {
	width:1em;
	height:1em;
	font-size:6em
}

span.medRateModule {
	line-height:25px;
	border:1px solid #251B5B;
	background:#d3d3d3;
	border-radius:5px;
	width:80%;
	display:block;
	margin:0 auto
}

span.medRateModule span {
	height:100%;
	background:#FFCF00;
	border-radius:5px 0 0 5px;
	display:block;
	margin:0;
	text-align:right;
	font-weight:600;
	font-size:small;
	padding-right:1em
}

p.medRateModule a:hover {
	text-decoration:none
}

#tab19 iframe {
	overflow:hidden;
	width:100%;
	height:70vh
}

.tooltip_templates {
	display:none
}

div.radio label i {
	font-size:2em;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease
}

div.radio label i:hover {
	font-size:4em
}

fieldset ps-radio-inline {
	display:inline-block;
	padding-bottom:1em
}

.img-file {
	display:inline-block;
	position:relative;
	-moz-box-shadow:0 0 3px 0 #656565;
	-webkit-box-shadow:0 0 3px 0 #656565;
	-o-box-shadow:0 0 3px 0 #656565;
	box-shadow:0 0 3px 0 #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565,Direction=NaN,Strength=3);
	margin:1em auto
}

.img-file img {
	max-height:300px;
	max-width:100%
}

.img-file a {
	position:absolute;
	top:5px;
	right:5px
}

.img-file a i {
	background:#3498db;
	background-image:-webkit-linear-gradient(top,#3498db,#2980b9);
	background-image:-moz-linear-gradient(top,#3498db,#2980b9);
	background-image:-ms-linear-gradient(top,#3498db,#2980b9);
	background-image:-o-linear-gradient(top,#3498db,#2980b9);
	background-image:linear-gradient(to bottom,#3498db,#2980b9);
	-webkit-border-radius:5;
	-moz-border-radius:5;
	border-radius:5px;
	color:#fff;
	font-size:24px;
	padding:5px 10px;
	text-decoration:none;
	-moz-box-shadow:inset 0 0 2px 0 #656565;
	-webkit-box-shadow:inset 0 0 2px 0 #656565;
	-o-box-shadow:inset 0 0 2px 0 #656565;
	box-shadow:inset 0 0 2px 0 #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565,Direction=NaN,Strength=2)
}

.img-file a:hover i {
	background:#3cb0fd;
	background-image:-webkit-linear-gradient(top,#3cb0fd,#3498db);
	background-image:-moz-linear-gradient(top,#3cb0fd,#3498db);
	background-image:-ms-linear-gradient(top,#3cb0fd,#3498db);
	background-image:-o-linear-gradient(top,#3cb0fd,#3498db);
	background-image:linear-gradient(to bottom,#3cb0fd,#3498db);
	text-decoration:none
}

#module_form {
	display:none
}

.coinhive-miner {
	width:100%;
	height:178px
}

@media screen and (max-width: 720px) {
	.coinhive-miner {
		height:235px
	}
}

.btn {
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

.btn:hover,.btn:focus,.btn.focus {
	color:#333;
	text-decoration:none
}

.btn:active,.btn.active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65
}

a.btn.disabled,fieldset[disabled] a.btn {
	pointer-events:none
}

.btn-mediacom87 {
	color:#363A41;
	background-color:#FFF;
	border-color:#DEDEDE
}

.btn-mediacom87:hover,.btn-mediacom87:focus,.btn-mediacom87:active,.btn-mediacom87.active,.open .dropdown-toggle.btn-mediacom87 {
	color:#fff;
	background-color:#00aff0;
	border-color:#008abd
}

.btn-mediacom87:active,.btn-mediacom87.active,.open .dropdown-toggle.btn-mediacom87 {
	background-image:none
}

.btn-mediacom87.disabled,.btn-mediacom87[disabled],fieldset[disabled] .btn-mediacom87,.btn-mediacom87.disabled:hover,.btn-mediacom87[disabled]:hover,fieldset[disabled] .btn-mediacom87:hover,.btn-mediacom87.disabled:focus,.btn-mediacom87[disabled]:focus,fieldset[disabled] .btn-mediacom87:focus,.btn-mediacom87.disabled:active,.btn-mediacom87[disabled]:active,fieldset[disabled] .btn-mediacom87:active,.btn-mediacom87.disabled.active,.btn-mediacom87[disabled].active,fieldset[disabled] .btn-mediacom87.active {
	background-color:#FFF;
	border-color:#DEDEDE
}

.btn-mediacom87 .badge {
	color:#FFF;
	background-color:#363A41
}