{*
* All-in-one Rewards Module
*
* @category  Prestashop
* @category  Module
* @author    Yann BONNAILLIE - ByWEB
* @copyright 2012-2019 Yann BONNAILLIE - ByWEB (http://www.prestaplugins.com)
* @license   Commercial license see license.txt
* Support by mail  : contact@prestaplugins.com
* Support on forum : Patanock
* Support on Skype : Patanock13
*}
<!-- MODULE allinone_rewards -->
<div id="reward_facebook_cart" class="reward_facebook_block">
	{$facebook_cart_txt|escape:'string':'UTF-8'}&nbsp;
	<div class="reward_facebook_cart_button"><fb:like href="{$facebook_page|escape:'html':'UTF-8'}" show_faces="false" layout="button_count"></fb:like></div>
</div>
<!-- END : MODULE allinone_rewards -->