{*
* All-in-one Rewards Module
*
* @category  Prestashop
* @category  Module
* @author    Yann BONNAILLIE - ByWEB
* @copyright 2012-2019 Yann BONNAILLIE - ByWEB (http://www.prestaplugins.com)
* @license   Commercial license see license.txt
* Support by mail  : contact@prestaplugins.com
* Support on forum : Patanock
* Support on Skype : Patanock13
*}
<!-- MODULE allinone_rewards -->
<div class="rewards_facebook_button reward_facebook_block col-lg-12"><fb:like href="{$facebook_page|escape:'html':'UTF-8'}" show_faces="false" layout="button_count"></fb:like></div>
<!-- END : MODULE allinone_rewards -->