#samdha_content .multiselect_addall,
#samdha_content .multiselect_removeall {
    position: absolute;
    top: 30px;
    left: 168px;
}
#samdha_content .multiselect_removeall {
    top: auto;
    bottom: 10px;
}

#samdha_content .selectableHeader,
#samdha_content .selectionHeader {
    text-align: left;
    padding: 0.25em;
    font-weight: bold;
    background-color: #F5F5F5;
    background-image: none;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #333;
}
